<div class="review-top-bigbox">
  <div>111</div>
  <div>222</div>
  <div>333</div>
  <div>444</div>
</div>
<div class="order">
  <span style="white-space:pre"></span>  <span class="line" style="margin-right:9px"></span>
  <span style="white-space:pre"></span>  <span class="txt">并短信通知以下二审人员</span>
  <span style="white-space:pre"></span>  <span class="line" style="margin-left:9px"></span>
</div>
<div class="review-btn-bigbox">
  <p style="font-size: 12px;font-weight:400;color:#666666;">内部人员</p>
  <div style="margin-left: 26px">1.牛牛牛</div>
  <div style="margin-left: 26px">2.牛牛牛</div>
  <div style="margin-left: 26px">3.牛牛牛</div>
  <div style="margin-left: 26px">4.牛牛牛</div>
  <div style="margin-left: 26px">5.牛牛牛</div>
  <div style="margin-left: 26px">6.牛牛牛</div>
</div>
<div></div>