<div class="block clearfix fade-in-up">
  <div class="block-header">
    <div class="block-title">客商列表</div>
    <div class="block-options"><button nz-button nzType="default" (click)="addCustomer()" acl [acl-ability]="ability.custom.edit">新增客商</button></div>
  </div>
  <div class="block-content">
    <div *ngIf="isLoaded">
      <nz-table #basicTable [nzData]="dataset" [nzPageSize]="pagination?.page_size" [nzFrontPagination]="false"
        [nzPageIndex]="pagination?.page" [nzTotal]="pagination?.count" (nzPageIndexChange)="pageChange($event)">
        <thead>
          <tr>
            <th>公司/个人</th>
            <th>联系人</th>
            <th>手机</th>
            <th>客户类型</th>
            <th>客户标签</th>
            <!-- <th>已发行</th>
                <th>合同总金额（元）</th> -->
            <th>备注</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td><a routerLink="/manage/customers/d/{{data.id}}">{{ data.name }}</a></td>
            <td>{{ data.liaison_name }}</td>
            <td>{{ data.telephone }}</td>
            <td>企业</td>
            <td>{{ data.tags | arrayFormat }}</td>
            <!-- <td><nz-tag *ngFor="let tag of data.tags">{{ tag }}</nz-tag></td> -->
            <!-- <td>{{data.publish_num}}</td>
                <td>{{data.total_amount}}</td> -->
            <td>{{ data.remark }}</td>
            <td>
              <!-- <a><i class="text-info" nz-icon type="edit" theme="outline"></i></a> -->
              <a acl [acl-ability]="ability.custom.del"><i class="text-info" nz-icon type="delete" theme="outline" (click)="deleteCustomer(data)"></i></a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>