@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1564709033086'); /* IE9 */
  src: url('iconfont.eot?t=1564709033086#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKQAAsAAAAABigAAAJDAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo0TwE2AiQDCAsGAAQgBYRtBy4bcwURBczIvsC24U0q3N7fAxxiGQo59mBobIHycA4UAAAAABAP38+9nZu8/KaEClF2alkDqk4VoVGkWmFa4Rf8CgtuhSbQuf+1Nmce6uSTtXhJwZPW1fkrPjvY67RMpCRChNCgEABBBzfwfERZRjFmHMnzgZna57mc3gQ6kGt8oBz3ojUGDaBeHFCge2AUWQll3DB2wQt8TKBBv7XW6vntAwwl9qpAXMahC8NCQJJYuhRqDQeTeFYos8cswFP0/fiKFcgUObtq4/gsgN03nax81X5ACBLQ8QI5ZoFE7DQm1nQE4zoaEl3D4FjlwTerKrCLo1oE++vs0ibQC5PBN72VAmTwWNKBwy2T7iaaTr5+4PXz/PuPvS+fKvnnRwI7O/yz7LYVCAR3H2zZi/5vksCXfXNRSxK/gHJdZ/APZAMHkqGwbVnSZI3jmaZ9tzVoQAV7OvxONXafMBNK3RNcdfoy5EqjZGJnUWg0h5qSuYCxGRfHJzqxjkgjAEsfAKHNJzItPiDX5ptM7A8KPf5Q0xYdNNiLurDReMTjYXKFAvTeMfbLQrkOGcfldxQ+Zy7nFRH/RNzEYTQ1o5y+oIJ4iS3NS2iJKFRc5ngOnqMsK7HiMiFftEik2uq6anqT5pc5jK1gxCVIAHneoZivVFDBZDGufP4OCT3LuLijry75hLBGPDsyaYwB5IW2GNT3KK80XoQsQihIYaUcOgfzSCZTQlXzvATxCU00IVbZ0p1RaqhW216f/90pAMZsUzuc+g6kw9gtAAAAAAA=') format('woff2'),
  url('iconfont.woff?t=1564709033086') format('woff'),
  url('iconfont.ttf?t=1564709033086') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1564709033086#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dian:before {
  content: "\ec1e";
}

