<div>

  <section class="block clearfix">
    <div class="block-header">
      <div class="block-title">我的团队</div>
      <div class="block-options">
        <nz-dropdown>
          <button nz-button nz-dropdown>切换企业<i nz-icon type="down"></i></button>
          <ul nz-menu>
            <li nz-menu-item *ngFor="let cmp of companys">
              <a (click)="switchCompany(cmp.id, cmp.company_name)">{{ cmp.company_name }}</a>
            </li>
          </ul>
        </nz-dropdown>
        <button nz-button (click)="addCompany()">新建</button>
      </div>
    </div>
    <div class="block-content">
      <div class="company-info">
        <h2 class="company-full-name">{{ settings.user.company_full_name }}</h2>
        <p>企业简称：</p>
        <p>企业简介：</p>
      </div>
    </div>
  </section>

  <section class="block clearfix">
    <div class="block-header">
      <div class="block-title">部门管理</div>
    </div>
    <div class="block-content">
      <div class="container">
        <div class="structure">
          <nz-tree #treeCom nzDraggable="true" [nzData]="nodes" (nzClick)="activeNode($event)">
            <ng-template #nzTreeTemplate let-node>
              <span class="custom-node" [class.active]="activedNode?.key===node.key">
                <span>
                  <i nz-icon [type]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node)"></i>
                  <span class="folder-name">{{node.title}}</span>
                  <nz-dropdown [nzTrigger]="'click'">
                    <!-- <a nz-dropdown>
                      Click me <i nz-icon type="down"></i>
                    </a> -->
                    <span nz-dropdown class="folder-operation"><i nz-icon type="ellipsis" theme="outline"></i></span>
                    <ul nz-menu>
                      <li nz-menu-item (click)="addDepartment(node.key)">添加子部门</li>
                      <li nz-menu-item>修改名称</li>
                      <li nz-menu-item (click)="deleteDepartment(node.key, node.title)">删除</li>
                      <li nz-menu-item nzDisabled>id: {{ node.key }}</li>
                    </ul>
                  </nz-dropdown>
                  <!-- <span class="folder-operation"><i nz-icon type="ellipsis" theme="outline"></i></span> -->
                </span>
              </span>
            </ng-template>
          </nz-tree>
        </div>
        <div class="employees">
          <app-empty></app-empty>
        </div>
      </div>
    </div>
  </section>

</div>