<div class="fade-in-up">

  <section class="block clearfix">
    <div class="block-header">
      <div class="block-title">{{ 'app.teams.my-teams' | translate }}</div>
      <div class="block-options">
        <nz-dropdown>
          <button nz-button nz-dropdown>{{ 'app.teams.switch-teams' | translate }}<i nz-icon type="down"></i></button>
          <ul nz-menu>
            <li nz-menu-item *ngFor="let cmp of companys">
              <a (click)="switchCompany(cmp.id, cmp.company_full_name)">{{ cmp.company_full_name }}</a>
            </li>
          </ul>
        </nz-dropdown>
        <button nz-button (click)="editCompany()"
          *ngIf="settings.user.is_admin">{{ 'global.edit' | translate }}</button>
        <button nz-button (click)="addCompany()">{{ 'global.create' | translate }}</button>
      </div>
    </div>
    <div class="block-content">
      <div class="company-info">
        <div class="company-full-name" style="display: flex;align-items: center;">
          <div style="font-size: 24px;font-weight: bold">
            {{ currentCompany?.company_full_name }}
          </div>
          <!-- 认证标识以及入口 -->
          <div *ngIf="authInfo?.status == 1"
            style="font-size: 14px;width: 82px;height: 20px;line-height: 20px;background-color: #4797F7;border-radius:10px;margin-left: 10px">
            <span class="iconfont icon-renzheng" style="color:#FFFFFF;font-size: 13px;;padding-left: 7px"></span>
            <span style="color:#FFFFFF;font-size: 12px;margin-left: 4px">认证成功</span>
          </div>

          <div *ngIf="authInfo == null"
            style="font-size: 14px;width: 82px;height: 20px;line-height: 20px;background-color: #D0D0D0;border-radius:10px;margin-left: 10px;cursor:pointer;"
            (click)="authentication(authInfo)">
            <span class="iconfont icon-renzheng" style="color:#FFFFFF;font-size: 13px;;padding-left: 7px"></span>
            <span style="color:#FFFFFF;font-size: 12px;margin-left: 4px">未认证...</span>
          </div>

          <div *ngIf="authInfo?.status == 0"
            style="font-size: 14px;width: 82px;height: 20px;line-height: 20px;background-color: #FAAD14;border-radius:10px;margin-left: 10px;cursor:pointer;"
            (click)="authentication(authInfo)">
            <span class="iconfont icon-renzheng" style="color:#FFFFFF;font-size: 13px;;padding-left: 7px"></span>
            <span style="color:#FFFFFF;font-size: 12px;margin-left: 4px">认证中...</span>
          </div>

          <div *ngIf="authInfo?.status == 2"
            style="font-size: 14px;width: 82px;height: 20px;line-height: 20px;background-color: #EF3F3F;border-radius:10px;margin-left: 10px;cursor:pointer;"
            (click)="authentication(authInfo)">
            <span class="iconfont icon-renzheng" style="color:#FFFFFF;font-size: 13px;;padding-left: 7px"></span>
            <span style="color:#FFFFFF;font-size: 12px;margin-left: 4px">认证失败</span>
          </div>
        </div>
        <p>{{ 'app.teams.company-abbreviation' | translate }}：{{ currentCompany?.company_name }}</p>
        <p>{{ 'app.teams.company-desc' | translate }}：{{ currentCompany?.introduction }}</p>
      </div>
    </div>
  </section>

  <section class="block clearfix" *ngIf="!settings.user.is_default_company; else defaultCompany" acl="admin"
    [acl-ability]="ability.company.view">
    <div class="block-header">
      <div class="block-title">
        <span
          [ngClass]="{'type-switch-select': typeSwitch == 'departmentManage','type-switch':typeSwitch == 'interconnectionEnterprises'}"
          (click)="switch('dm')">{{ 'app.teams.department-manage' | translate }}</span>
        <span
          [ngClass]="{'type-switch-select': typeSwitch == 'interconnectionEnterprises','type-switch':typeSwitch == 'departmentManage'}"
          class="type-switch" style="margin-left: 50px;" (click)="switch('ie')">互联企业</span>
      </div>
      <div class="block-options">
        <!-- <button nz-button [routerLink]="'/manage/teams/roles'" acl="admin" [acl-ability]="ability.company.role"><i nz-icon type="setting"
            theme="outline"></i>{{ 'app.teams.option-role' | translate }}</button> -->
        <button nz-button nzType="primary" nzSize="small" *ngIf="typeSwitch == 'interconnectionEnterprises'"
          (click)="copyAddress()"><i nz-icon nzType="plus" nzTheme="outline"></i><span>添加互联企业</span></button>
        <!-- <button nz-button nzSize="small" [routerLink]="['/outside/ici', conInfo.id]"><span>临时邀请</span></button>
        <button nz-button nzSize="small" (click)="importStaff()"><span>临时导入</span></button> -->
      </div>
      <nz-modal [(nzVisible)]="isVisible" [nzTitle]="title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
        nzOkText="复制链接">
        <nz-input-group [nzAddOnBefore]="nzAddOnBefore" [nzAddOnAfter]="nzAddOnAfter">
          <input type="text" nz-input [(ngModel)]="invitationUrl" readonly="true" id="url" />
        </nz-input-group>
      </nz-modal>
      <ng-template #nzAddOnBefore>
        <span style="font-size:14px;font-weight:400;color: #999999;">链接</span>
      </ng-template>
      <ng-template #nzAddOnAfter>
        <img style="width:20px;height: 20px;cursor: pointer;" src="../../../../assets/images/qrCode.png" nz-popover
          [nzContent]="contentTemplate" nzPlacement="bottom">
      </ng-template>
      <ng-template #contentTemplate>
        <img style="width: 200px;height: 200px;;font-size:14px;font-weight:400;color: #999999;"
          [src]="invitationQRCode | base64:'png'">
      </ng-template>
      <ng-template #title>
        <span style="font-size:18px;font-weight:500;color:#333333">互联企业邀请</span>
      </ng-template>
    </div>
    <div class="block-content">
      <div class="d-flex-row" *ngIf="typeSwitch == 'departmentManage'">
        <div class="structure">
          <nz-tree #treeCom nzDraggable="true" [nzData]="nodes" (nzClick)="activeNode($event)">
            <ng-template #nzTreeTemplate let-node>
              <span class="custom-node" [class.active]="activedNode?.key===node.key">
                <span>
                  <i nz-icon class="folder-icon" [type]="node.isExpanded ? 'folder-open' : 'folder'"
                    (click)="openFolder(node)"></i>
                  <span class="folder-name text-ellipsis">{{ node.title }}</span>
                  <nz-dropdown [nzTrigger]="'click'">
                    <!-- <a nz-dropdown>
                      Click me <i nz-icon type="down"></i>
                    </a> -->
                    <span nz-dropdown class="folder-operation"><i nz-icon type="ellipsis" theme="outline"></i></span>
                    <ul nz-menu>
                      <li nz-menu-item (click)="addDepartment(node.key)">
                        {{ 'app.teams.add-department' | translate }}</li>
                      <!-- <li nz-menu-item>修改名称</li> -->
                      <li nz-menu-item (click)="deleteDepartment(node.key, node.title)" *ngIf="node.level > 0">
                        {{ 'global.delete' | translate }}</li>
                      <!-- <li nz-menu-item nzDisabled>id: {{ node.key }}</li> -->
                    </ul>
                  </nz-dropdown>
                  <!-- <span class="folder-operation"><i nz-icon type="ellipsis" theme="outline"></i></span> -->
                </span>
              </span>
            </ng-template>
          </nz-tree>
        </div>
        <div class="employees">
          <router-outlet></router-outlet>
        </div>
      </div>


      <div *ngIf="typeSwitch == 'interconnectionEnterprises' && hasData2 == true && show == 'interconnection'" style="width: 100%;height: 40px;background-color: #FFFBE6;line-height: 40px;margin-bottom: 24px;border-radius:4px;
        border:1px solid #FFE58F;">
        <i nz-icon nzType="exclamation-circle" nzTheme="fill"
          style="color: #FFBF00;width: 14px;height: 14px;margin-left: 12px;"></i>
        <span style="font-size:14px;color: #333333;font-weight:400;margin-left: 10px;">您有互联邀请待审核！</span>
        <a style="font-size:14px;font-weight:400;float: right;margin-right: 12px;" (click)="switchList('unaudited')">去审核
          <i nz-icon nzType="right" nzTheme="outline"></i>
        </a>
      </div>
      <div *ngIf="typeSwitch == 'interconnectionEnterprises' && hasData2 == true && show == 'unaudited'" style="width: 100%;height: 40px;background-color: #F6FFED;line-height: 40px;margin-bottom: 24px;border-radius:4px;
        border:1px solid #B7EB8F;">
        <i nz-icon nzType="exclamation-circle" nzTheme="fill"
          style="color: #52C41A;width: 14px;height: 14px;margin-left: 12px;"></i>
        <span style="font-size:14px;color: #333333;font-weight:400;margin-left: 10px;">待审核列表！</span>
        <a style="font-size:14px;font-weight:400;float: right;margin-right: 12px;"
          (click)="switchList('interconnection')">返回
          <i nz-icon nzType="right" nzTheme="outline"></i>
        </a>
      </div>
      <div class="d-flex-row" *ngIf="typeSwitch == 'interconnectionEnterprises'">
        <div style="height: 364px;width: 100%;text-align: center;" *ngIf="hasData1 == false && hasData2 == false ">
          <div style="width: 100%;height: 130px;margin-top: 85px">
            <img src="../../../../assets/images/gsyqk.png">
          </div>
          <div style="margin-top: 22px;font-size:14px;color: #999999;font-weight:500;">暂无互联企业</div>
        </div>
        <div class="structure" *ngIf="show == 'unaudited' && hasData2 == true">
          <ul>
            <li class="interconnection" *ngFor="let data of unauditedList" [class.active]="yqId == data.id"
              (click)="select(data.id)">
              <i nz-icon type="link" theme="outline" style="font-size:12px;margin-left: 8px;vertical-align: super;"></i>
              <span class="folder-name text-ellipsis">{{ data?.company?.full_name }}</span>
            </li>
          </ul>
        </div>
        <div class="employees" *ngIf="show == 'unaudited' && hasData2 == true">
          <app-unapproved-invitation-info [unapprovedInfo]="unauditedList" [yqId]="yqId">
          </app-unapproved-invitation-info>
        </div>






        <div class="structure" *ngIf="show == 'interconnection' && hasData1 == true">
          <span>
            <li class="interconnection" *ngFor="let data of internetCompanies" [class.active]="hlId == data.id"
              (click)="inSelect(data.id, data.status)">
              <i nz-icon type="link" theme="outline" style="font-size:12px;margin-left: 8px;vertical-align: super;"
                *ngIf="data.status == active"></i>
              <i nz-icon type="link" theme="outline"
                style="font-size:12px;margin-left: 8px;vertical-align: super;color: red;"
                *ngIf="data.status == expired"></i>
              <span class="folder-name text-ellipsis">{{ data?.connected_company?.full_name }}</span>
              <nz-dropdown [nzTrigger]="'click'">
                <span nz-dropdown class="link-operation"><i nz-icon type="ellipsis" theme="outline"></i></span>
                <ul nz-menu>
                  <li nz-menu-item (click)="deleteInterconnection()">
                    移除互联</li>
                </ul>
              </nz-dropdown>
            </li>
          </span>
        </div>
        <div class="employees" *ngIf="show == 'interconnection' && hasData1 == true">
          <div *ngIf="isInterconnection == false;">
            <img src="../../../../assets/images/scyq.png"
              style="width: 130px;height: 130px;margin-top:53px;margin-left:346px;">
            <div style="font-size:16px;color: #333333;font-weight:400;margin-top:29px;margin-left:302px;">该企业解除了与您的互联邀请！
            </div>
            <div style="margin-top:50px;margin-left:321px;">
              <button nz-button nzType="default" style="width:60px" (click)="deleteInterconnection()">删除</button>
              <button nz-button nzType="primary" style="width:100px;margin-left: 20px;"
                (click)="copyAddress()">重新邀请</button>
            </div>
          </div>


          <div *ngIf="isInterconnection == true;">
            <div class="table-operations">
              <button nz-button (click)="importStaff()">导入员工</button>
              <button nz-button nzType="default" [disabled]="disabledButton" (click)="deleteEmployees()">删除</button>
            </div>
            <nz-table #employeesTable [nzData]="interconnectionList" [nzSize]="'middle'">
              <thead>
                <tr>
                  <th [nzAlign]="'center'" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
                    [nzDisabled]="interconnectionList.length < 1" (nzCheckedChange)="checkAll($event)"></th>
                  <th [nzAlign]="'center'">姓名</th>
                  <th [nzAlign]="'center'">公司</th>
                  <th [nzAlign]="'center'">职位</th>
                  <th [nzAlign]="'center'">手机</th>
                  <th [nzAlign]="'center'">设为管理员</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of employeesTable.data, let i = index">
                  <td [nzAlign]="'center'" nzShowCheckbox [(nzChecked)]="data.checked"
                    (nzCheckedChange)="refreshStatus()" [nzDisabled]="data.from_type == 'outsidenpm'"></td>
                  <td [nzAlign]="'center'"><a>{{ data?.employee?.outside_name }}</a>
                    <nz-tag [nzColor]="'#FFBA61'" style="margin-left:8px;" nzSize="small">管理员</nz-tag>
                  </td>
                  <td [nzAlign]="'center'">{{ data?.employee?.company?.full_name }}</td>
                  <td [nzAlign]="'center'">{{ data?.employee?.outside_position }}</td>
                  <td [nzAlign]="'center'">{{ data?.employee?.outside_phone }}</td>
                  <td [nzAlign]="'center'">
                    <nz-switch *ngIf="data.from_type == 'inner'" [(ngModel)]="data.is_admin" nzSize="small"
                      (ngModelChange)="switchAuthorization($event, data.id)"></nz-switch>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ng-template #defaultCompany>
    <div class="block">
      <div class="block-header">
        <div class="block-title">{{ 'app.teams.department-manage' | translate }}</div>
      </div>
      <div class="block-content">
        <div style="min-height: 30rem;">
          <!-- <span>使用部门管理请 <a (click)="addCompany()">新建</a> 企业，或切换到其他企业</span> -->
          <span>{{ 'app.teams.add-department-remind' | translate }}</span>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template #target>
    <span style="font-size: 18px;font-weight:500;color: #333333">企业认证</span>
    <span style="color: #EF3F3F;font-size:12px;margin-left: 14px;">
      <i nz-icon nzType="exclamation-circle" style="margin-right: 2px;" nzTheme="outline"></i>
      注：企业认证失败，请核对信息，重新提交！
    </span>
  </ng-template>

</div>