<div class="fade-in-up">

  <section class="block clearfix">
    <div class="block-header">
      <div class="block-title">{{ 'app.teams.my-teams' | translate }}</div>
      <div class="block-options">
        <nz-dropdown>
          <button nz-button nz-dropdown>{{ 'app.teams.switch-teams' | translate }}<i nz-icon type="down"></i></button>
          <ul nz-menu>
            <li nz-menu-item *ngFor="let cmp of companys">
              <a (click)="switchCompany(cmp.id, cmp.company_name)">{{ cmp.company_name }}</a>
            </li>
          </ul>
        </nz-dropdown>
        <button nz-button (click)="editCompany()" *ngIf="settings.user.is_admin">{{ 'global.edit' | translate }}</button>
        <button nz-button (click)="addCompany()">{{ 'global.create' | translate }}</button>
      </div>
    </div>
    <div class="block-content">
      <div class="company-info">
        <h2 class="company-full-name">{{ currentCompany?.company_full_name }}</h2>
        <p>{{ 'app.teams.company-abbreviation' | translate }}：{{ currentCompany?.company_name }}</p>
        <p>{{ 'app.teams.company-desc' | translate }}：{{ currentCompany?.introduction }}</p>
      </div>
    </div>
  </section>

  <section class="block clearfix" *ngIf="!settings.user.is_default_company; else defaultCompany" acl [acl-ability]="ability.company.view">
    <div class="block-header">
      <div class="block-title">{{ 'app.teams.department-manage' | translate }}</div>
      <div class="block-options">
        <button nz-button [routerLink]="'/manage/teams/roles'" acl [acl-ability]="ability.company.role"><i nz-icon type="setting"
            theme="outline"></i>{{ 'app.teams.option-role' | translate }}</button>
      </div>
    </div>
    <div class="block-content">
      <div class="container">
        <div class="structure">
          <nz-tree #treeCom nzDraggable="true" [nzData]="nodes" (nzClick)="activeNode($event)">
            <ng-template #nzTreeTemplate let-node>
              <span class="custom-node" [class.active]="activedNode?.key===node.key">
                <span>
                  <i nz-icon class="folder-icon" [type]="node.isExpanded ? 'folder-open' : 'folder'"
                    (click)="openFolder(node)"></i>
                  <span class="folder-name text-ellipsis">{{node.title}}</span>
                  <nz-dropdown [nzTrigger]="'click'">
                    <!-- <a nz-dropdown>
                      Click me <i nz-icon type="down"></i>
                    </a> -->
                    <span nz-dropdown class="folder-operation"><i nz-icon type="ellipsis" theme="outline"></i></span>
                    <ul nz-menu>
                      <li nz-menu-item (click)="addDepartment(node.key)">
                        {{ 'app.teams.add-department' | translate }}</li>
                      <!-- <li nz-menu-item>修改名称</li> -->
                      <li nz-menu-item (click)="deleteDepartment(node.key, node.title)">
                        {{ 'global.delete' | translate }}</li>
                      <!-- <li nz-menu-item nzDisabled>id: {{ node.key }}</li> -->
                    </ul>
                  </nz-dropdown>
                  <!-- <span class="folder-operation"><i nz-icon type="ellipsis" theme="outline"></i></span> -->
                </span>
              </span>
            </ng-template>
          </nz-tree>
        </div>
        <div class="employees">
          <!-- <div class="table-operations">
            <button nz-button (click)="addEmployee()">添加成员</button>
            <button nz-button [disabled]="disabledButton" (click)="deleteEmployees()">删除</button>
          </div>
          <nz-spin [nzSpinning]="isDatasetLoading" [nzDelay]="500" nzTip='Loading...'>
            <nz-table #employeesTable [nzData]="dataset" [nzSize]="'middle'" [nzNoResult]="noResult">
              <thead>
                <tr>
                  <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" [nzDisabled]="dataset.length < 1" (nzCheckedChange)="checkAll($event)"></th>
                  <th>姓名</th>
                  <th>部门</th>
                  <th>手机</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of employeesTable.data">
                  <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()" [nzDisabled]="data.disabled"></td>
                  <td>{{data.name}}</td>
                  <td>{{data.department}}</td>
                  <td>{{data.phone}}</td>
                </tr>
              </tbody>
            </nz-table>
            <ng-template #noResult>
              <app-empty></app-empty>
            </ng-template>
          </nz-spin> -->
          <router-outlet></router-outlet>

          <!-- <app-empty></app-empty> -->
        </div>
      </div>
    </div>
  </section>

  <ng-template #defaultCompany>
    <div class="block">
      <div class="block-header">
        <div class="block-title">{{ 'app.teams.department-manage' | translate }}</div>
      </div>
      <div class="block-content">
        <div style="min-height: 30rem;">
          <!-- <span>使用部门管理请 <a (click)="addCompany()">新建</a> 企业，或切换到其他企业</span> -->
          <span>{{ 'app.teams.add-department-remind' | translate }}</span>
        </div>
      </div>
    </div>
  </ng-template>

</div>