.passport {
    // padding: 20px 0;
    padding-top: 20px;
    min-height: 100%;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: 100%;
}

.passport-container {
    width: 368px;
    margin: 0 auto;
}

.top {
    margin-top: 50px;
    margin-bottom: 30px;
}

.login-component {
    flex: 1;
}

.logo-title {
    font-size: 28px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgba(0, 0, 0, .65);
}

.desc {
    color: rgba(0,0,0,.45);
}