<div class="passport d-flex" style="background-image: url(./assets/images/bg-3.jpg);">
  <div class="container passport-container">
    <div class="top">
      <div class="logo-title text-center">BCTOP 影业助手</div>
      <div class="desc text-center">bctop 影业助手，您的行业帮手</div>
    </div>
    <div class="login-component">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</div>




<!-- <div class="container-fluid" style=" background-image: url(./assets/images/bg1.png);background-repeat: no-repeat;background-position: top;">
  <div class="container">
    <div class="sign">
      <div class="sign-content">
        <h2 style="background-image: url(./assets/images/logo1.png);background-repeat: no-repeat;">影业助手</h2>
        <p>影业助手是一款面向影视行业，致力成为影视人的移动助理，为创作，审片，发行，传输，
          储存提供专业服务，提升管理，降低费用，保护版权，科学分析的平台。</p>
        <p>系统实现流程化的管理，促进公司各个部门协同更高效，共同将公司内IP价值最大化。</p>
      </div>
      <div class="login"></div>
    </div>
  </div>
  <div>

    <div class="introduce">
      <div class="container">
        <div class="area-title">
          <h1>主要功能介绍</h1>
          <p>Main function introduction</p>
        </div>
        <div class="introduce-center-A">
          <div class="introduce-center-01">
            <img src="./assets/images/icon01.png" alt="">
            <h2>采购审片</h2>
            <p>更高效的审片协作，随时随地解决视频上传，
              评审，团队协作等问题</p>
          </div>
          <div class="introduce-center-01">
            <img src="./assets/images/icon02.png" alt="">
            <h2>版权管理</h2>
            <p>管理自制版权、购入版权、发行版权以及
              对应版权信息、合同信息、宣发资料、客
              商、母带等内容的管理</p>
          </div>
          <div class="introduce-center-01">
            <img src="./assets/images/icon03.png" alt="">
            <h2>母带传输</h2>
            <p>母带文件通过区块链的技术分布式存储,保证
              母带安全不外流</p>
          </div>
        </div>
        <div class="introduce-center-B">
          <div class="introduce-center-01">
            <img src="./assets/images/icon04.png" alt="">
            <h2>影视大数据</h2>
            <p>影视大数据是对公司，艺人及作品在互联网
              媒体上进行评估并排名，能够在线征集样片
              和索要样片</p>
          </div>
          <div class="introduce-center-01">
            <img src="./assets/images/icon05.png" alt="">
            <h2>智能编排</h2>
            <p>通过排片表可对节目进行编播,完成后系统会自动生成播表日历</p>
          </div>
          <div class="introduce-center-01">
            <img src="./assets/images/icon06.png" alt="">
            <h2>公开样片</h2>
            <p>通过扫描二维码,可直接查看对方提供给你的公开样片,方便快捷</p>
          </div>

        </div>
      </div>
    </div>

    <div class="decorate">
      <img src="./assets/images/zhuangshi.png" alt="" />
    </div>

    <div class="strengths ">
      <div class="container">
        <div class="area-title">
          <h1>我们的优势</h1>
          <p>Our strengths</p>
        </div>
        <div class="pic">
          <img src="./assets/images/strengths4.png" alt="" />
        </div>
      </div>
    </div>

    <div class="problems" style="background-image: url(./assets/images/bg-3.png);background-repeat: no-repeat;">
      <div class="container">
        <div class="area-title-03">
          <h1>我们能解决什么问题</h1>
          <p>What problems can we solve</p>
        </div>
        <div class="box">
          <div class="little-box-01">
            <div class="change"></div>
            <div class="little-box-01-content">
              <div class="little-box-title">
                <div>Asset management</div>
                <h1>资产管理</h1>
              </div>
              <div class="line">
                <img src="./assets/images/tiao.png" alt="">
              </div>
              <div class="content-list">
                <div class="content-list-01">
                  <h3>节目版权</h3>
                  <div class="field" style="background-image: url(./assets/images/shandian.png);background-repeat: no-repeat;">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span>节目结构</span>&nbsp;&nbsp;&nbsp;<span>到期提醒</span>&nbsp;&nbsp;&nbsp;
                    <span>统计分析</span>
                  </div>
                </div>
                <div class="content-list-01">
                  <h3>母带资产</h3>
                  <div class="field">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span>资产引进</span>&nbsp;&nbsp;&nbsp;<span>简单剪辑</span>
                  </div>
                </div>
                <div class="content-list-01">
                  <h3>宣发物料</h3>
                  <div class="field">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span>管理样片</span>&nbsp;&nbsp;&nbsp;<span>上传物料</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="little-box-02">
            <div class="change"></div>
            <div class="little-box-02-content">
              <div class="little-box-title">
                <div class="English">Transmission platform</div>
                <h1>传输平台</h1>
              </div>
              <div class="line">
                <img src="./assets/images/tiao.png" alt="">
              </div>
              <div class="content-list">
                <div class="content-list-01">
                  <h3>降低费用</h3>
                  <div class="field">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span>磁带</span>&nbsp;&nbsp;&nbsp;<span>拷贝</span>&nbsp;&nbsp;&nbsp;
                    <span>快递</span>
                  </div>
                </div>
                <div class="content-list-01">
                  <h3>纠错快捷</h3>
                  <div class="field">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span>如若出错,及时纠错并上传,无需快递</span>
                  </div>
                </div>
                <div class="content-list-01">
                  <h3>母带下载</h3>
                  <div class="field">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span>远程监控母带下载</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="little-box-03">
            <div class="change"></div>
            <div class="little-box-01-content">
              <div class="little-box-title">
                <div class="English02">Promotional activities</div>
                <h1>推广活动</h1>
              </div>
              <div class="line">
                <img src="./assets/images/tiao.png" alt="">
              </div>
              <div class="content-list">
                <div class="content-list-01">
                  <h3>了解客户活动</h3>
                  <div class="field">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span>了解客户看片轨迹</span>
                    <span>统计分析</span>
                  </div>
                </div>
                <div class="content-list-01">
                  <h3>推送</h3>
                  <div class="field">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span>当面二维码推送</span>&nbsp;&nbsp;&nbsp;<span>分享链接</span>
                  </div>
                </div>
                <div class="content-list-01">
                  <h3>公司片单在线展出</h3>
                  <div class="field">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span>接触陌生客户</span>&nbsp;&nbsp;&nbsp;<span>宣传</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="exhibition" style="background-image: url(./assets/images/bg.png);background-repeat: no-repeat;">
      <div class="bg"></div>
      <div class="container">
        <div class="area-title-04">
          <h1>满足客户的每一个需求</h1>
          <p>北丞科技深耕广电及影视行业，持续创新10余年，构建行业产品生态，产品已贯穿
            “拍摄、制作、储存、管理、发行、传输”等各阶段。</p>
        </div>
        <div class="pic">
          <div style="width:361px;height:226px" class="pic-01">
            <img style="width: 100%;height: 100%;" src="./assets/images/zhanshi01.png" alt="">
          </div>
          <div class="pic-02">
            <img src="./assets/images/zhanshi02.png" alt="">

          </div>
          <div class="pic-03">
            <img src="./assets/images/zhanshi03.png" alt="">

          </div>
        </div>
      </div>
    </div>

    <div class="small">
      <div class="container">
        <div class="small-pic">
          <img src="./assets/images/iPhone.png" alt="">
        </div>
        <div class="small-content">
          <div class="list">
            <h2>小程序</h2>
            <p> BCTOP影业助手旨在致力成为影视人的移动助理，为创作，审片，发行，传输、存储提供专业服务，
              AI识别、小程序、剧情速览、列表快播、二维码分享等主要功能，助力影视作品前期宣传、先导片、样片宣传；</p>
            <p>还有大量的影视公司、艺人、节目数据最优整理并呈现，扫我一起去体验吧～</p>
          </div>
          <div class="erweima">
            <img src="./assets/images/erweima.png" alt="">
            &nbsp;&nbsp;&nbsp;&nbsp;<span>微信扫一扫</span>&nbsp;&nbsp;<span>使用小程序</span>
          </div>
        </div>
      </div>
    </div>

    <div class="foot">
      <div class="container">
        <span>沪ICP备16029310号 ©2019 BCTOP 保留所有权利</span>
      </div>
    </div> -->