<!-- <div>
  <h2 class="text-center">登录</h2>
  <router-outlet></router-outlet>
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <a class="switch-login" [routerLink]="['/passport/login/phone']" [class.current]="method == 'phone'">
        <i nz-icon type="mobile" theme="outline"></i>
        <span [hidden]="method == 'phone'">使用手机登录</span>
      </a>
      <ng-container *ngIf="!isOnlyPhoneMethod">
        <a class="switch-login" [routerLink]="['/passport/login/wechat']" [class.current]="method == 'wechat'">
          <i nz-icon type="wechat" theme="outline"></i>
          <span [hidden]="method == 'wechat'">使用微信登录</span>
        </a>
      </ng-container>
    </div>
    <span>切换登录方式</span>
  </div>
</div> -->
<div style="margin-top: 36px;">
  <span [ngClass]="{'phone-login-active': method == 'phone','phone-login': method == 'wechat'}"
    (click)="clickPL()">手机号登录</span>
  <span [ngClass]="{'vx-login-active': method == 'wechat','vx-login': method == 'phone'}"
    (click)="clickWL()">微信登录</span>
</div>

<div style="display: flex;width: 100%;height: 3px;justify-content:space-between;margin-top: 12px;">
  <div [ngClass]="{'phone-login-select': method == 'phone','phone-login-unselect': method == 'wechat'}"></div>
  <div [ngClass]="{'vx-login-select': method == 'wechat','phone-vx-unselect': method == 'phone'}"></div>
</div>
<div>
  <router-outlet></router-outlet>
</div>