<div>
    <p class="clearfix">
        <!-- <nz-radio-group [(ngModel)]="publicityStyle" [nzButtonStyle]="'solid'">
            <label nz-radio-button nzValue="figure"> <i nz-icon type="appstore" theme="outline" style="font-size: 1.5rem"></i></label>
            <label nz-radio-button nzValue="table"><i nz-icon type="table" theme="outline" style="font-size: 1.5rem"></i></label>
          </nz-radio-group> -->
      <button nz-button nzType="default" class="rf" (click)="addPublicity()">{{ 'app.series.add-publicity' | translate }}</button>
    </p>
  </div>
  <ng-template #publicityOk>
      <label nz-button for="fileUpload" style="width:72px;height: 24px;padding: 0px;margin-top: 15px">
          {{ 'app.series.upload-publicity' | translate }}
        </label>
        <input id="fileUpload" hidden type="file" (change)="publicityUpload($event)" multiple="multiple">
    </ng-template>
<div *ngIf="isLoaded" [@fadeIn]>
  <nz-table #table [nzData]="dataset" (nzPageIndexChange)="pageChange($event)" [nzFrontPagination]="false"
    [nzPageSize]="pagination?.page_size" [nzPageIndex]="pagination?.page" [nzTotal]="pagination?.count">
    <thead>
      <tr>
        <!-- nzShowCheckbox -->
        <th [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th style="text-align: center">{{ 'app.series.series' | translate }}</th>
        <th style="text-align: center">{{ 'app.series.sample' | translate }}</th>
        <th style="text-align: center">{{ 'app.series.feature' | translate }}</th>
        <th style="text-align: center">{{ 'app.series.trailer' | translate }}</th>
        <th style="text-align: center">{{ 'app.series.poster' | translate }}</th>
        <th style="text-align: center">{{ 'app.series.still' | translate }}</th>
        <th style="text-align: center">{{ 'app.series.pdf' | translate }}</th>
        <!-- <th style="text-align: center">操作</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td  [(nzChecked)]="data.checked" (nzCheckedChange)="checkedChange()"></td>
        <td style="text-align: center">
          <a (click)="publicityDetails(data.program_id)">{{ data.name }}</a>
        </td>
        <td style="text-align: center">{{ data.sample }}</td>
        <td style="text-align: center">{{ data.feature }}</td>
        <td style="text-align: center">{{ data.trailer }}</td>
        <td style="text-align: center">{{ data.poster }}</td>
        <td style="text-align: center">{{ data.still }}</td>
        <td style="text-align: center">{{ data.pdf }}</td>
        <!-- <td style="text-align: center">
          <a><i nz-icon type="delete" theme="outline" style="font-size: 14px"></i></a>
        </td> -->
      </tr>
    </tbody>
  </nz-table>
</div>
