<div>
    <p class="clearfix">
      <button nz-button nzType="default" class="rf" (click)="addPublicity()">新增宣发</button>
    </p>
  </div>
  <ng-template #publicityOk>
      <label nz-button for="fileUpload" style="width:72px;height: 24px;padding: 0px;margin-top: 15px">
          上传
        </label>
        <input id="fileUpload" hidden type="file" (change)="publicityUpload($event)" multiple="multiple">
    </ng-template>
<div *ngIf="isLoaded" [@fadeIn]>
  <nz-table #table [nzData]="dataset" (nzPageIndexChange)="pageChange($event)" [nzFrontPagination]="false"
    [nzPageSize]="pagination?.page_size" [nzPageIndex]="pagination?.page" [nzTotal]="pagination?.count">
    <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th style="text-align: center">节目</th>
        <th style="text-align: center">样片</th>
        <th style="text-align: center">片花</th>
        <th style="text-align: center">先导片</th>
        <th style="text-align: center">海报</th>
        <th style="text-align: center">剧照</th>
        <th style="text-align: center">PDF</th>
        <th style="text-align: center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="checkedChange()"></td>
        <td style="text-align: center">
          <a (click)="publicityDetails(data.program_id)">{{ data.name }}</a>
        </td>
        <td style="text-align: center">{{ data.sample }}</td>
        <td style="text-align: center">{{ data.feature }}</td>
        <td style="text-align: center">{{ data.trailer }}</td>
        <td style="text-align: center">{{ data.poster }}</td>
        <td style="text-align: center">{{ data.still }}</td>
        <td style="text-align: center">{{ data.pdf }}</td>
        <td style="text-align: center">
          <a><i nz-icon type="delete" theme="outline" style="font-size: 14px"></i></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
