<div>
  <p class="clearfix">
    <nz-radio-group [(ngModel)]="mode" [nzButtonStyle]="'solid'" (ngModelChange)="modeChange()">
      <label nz-radio-button nzValue="figure"> <i nz-icon type="appstore" theme="outline"
          style="font-size: 1.5rem"></i></label>
      <label nz-radio-button nzValue="table"><i nz-icon type="table" theme="outline"
          style="font-size: 1.5rem"></i></label>
    </nz-radio-group>
    <button nz-button nzType="default" class="rf"
      (click)="addPublicity()">{{ 'app.series.add-publicity' | translate }}</button>
  </p>
</div>
<ng-template #publicityOk>
  <label nz-button for="fileUpload" style="width:72px;height: 24px;padding: 0px;margin-top: 15px">
    {{ 'app.series.upload-publicity' | translate }}
  </label>
  <input id="fileUpload" hidden type="file" (change)="publicityUpload($event)" multiple="multiple">
</ng-template>
<div *ngIf="isLoaded" [hidden]="mode == 'figure'">
  <nz-table #table [nzData]="dataset" (nzPageIndexChange)="pageChange($event)" [nzFrontPagination]="false"
    [nzPageSize]="pagination?.page_size" [nzPageIndex]="pagination?.page" [nzTotal]="pagination?.count">
    <thead>
      <tr>
        <!-- nzShowCheckbox -->
        <!-- <th [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th> -->
        <th>#</th>
        <th>{{ 'app.series.series' | translate }}</th>
        <th>{{ 'app.series.sample' | translate }}</th>
        <th>{{ 'app.series.feature' | translate }}</th>
        <th>{{ 'app.series.trailer' | translate }}</th>
        <th>{{ 'app.series.poster' | translate }}</th>
        <th>{{ 'app.series.still' | translate }}</th>
        <th>{{ 'app.series.pdf' | translate }}</th>
        <th>{{ 'app.series.publicity-view' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data;let i = index">
        <!-- <td  [(nzChecked)]="data.checked" (nzCheckedChange)="checkedChange()"></td> -->
        <td>{{ i + 1 + pagination.page * 10 - 10}}</td>
        <td>
          <a (click)="publicityDetails(data.program_id)">{{ data.name }}</a>
        </td>
        <td>{{ data.sample }}</td>
        <td>{{ data.feature }}</td>
        <td>{{ data.trailer }}</td>
        <td>{{ data.poster }}</td>
        <td>{{ data.still }}</td>
        <td>{{ data.pdf }}</td>
        <td>
          <button nz-button nzType="primary" nzSize="small" (click)="publicityPlay(data?.id, data?.program_id)">
            <i nz-icon nzType="play-circle" style="font-size: 14px" nzTheme="outline"></i>
          </button>
        </td>
        <!-- <td style="text-align: center">
          <a><i nz-icon type="delete" theme="outline" style="font-size: 14px"></i></a>
        </td> -->
      </tr>
    </tbody>
  </nz-table>
</div>

<!-- <div class="home-page-navigation-wk-one"> -->
<!-- <div class="home-page-navigation-wk-two">
      <div class="home-page-navigation-wk-three">全部</div>
      <div class="home-page-navigation-wk-four">电影</div>
      <div class="home-page-navigation-wk-five">电视</div>
      <div class="home-page-navigation-wk-six">综艺</div>
      <div class="home-page-naGitigation-wk-seven">其他</div>
    </div>
    <div class="home-page-navigation-wk-eight">
      <div class="home-page-navigation-wk-nine">
        <i class="iconfont icon-remen"></i>
      </div>
      <div class="home-page-navigation-wk-ten">
        <a>热门</a>
      </div>
      <div class="home-page-navigation-wk-eleven">
        <i class="iconfont icon-zuixin"></i>
      </div>
      <div class="home-page-navigation-wk-twelve">
        <a>最新</a>
      </div>
      <i class="iconfont icon-een home-page-navigation-wk-thirteen"></i>
      <div class="home-page-navigation-wk-fourteen">
        <a>筛选</a>
      </div>
    </div> -->

<div [hidden]="mode == 'table'">
  <div *ngIf="list.length > 0 else empty">
    <div class="video-info-wk">
      <ul>
        <li class="video-info" *ngFor="let thumbnail of list">

          <div class="video">
            <img class="video-img" [src]="thumbnail?.src" />
            <div class="price" (click)="publicityPlay(thumbnail?.id, thumbnail?.program_id)">
              <span class="price">{{ thumbnail?.created_at }}&nbsp;发布</span>
            </div>
          </div>

          <div class="info">
            <div class="info-wk-one">
              <div class="info-name"><a (click)="publicityDetails(thumbnail?.program_id)">{{ thumbnail?.name }}</a>
              </div>
              <div class="info-type">{{ thumbnail?.program_type | seriesType }}</div>
              <a style="font-size: 13px;margin-left: 4rem;"
                (click)="publicityPlay(thumbnail?.id, thumbnail?.program_id)"><i nz-icon nzType="eye"
                  nzTheme="outline"></i></a>
            </div>
            <div class="info-wk-three">
              <div>导演:</div>
              <div class="info-wk-four">{{ thumbnail?.director }}</div>
            </div>
            <div class="info-wk-five">
              主演:
              <span class="info-wk-six">{{ thumbnail?.protagonist }}</span>
            </div>
          </div>

          <div class="info-wk-seven">
            <div class="info-wk-eight">
              <div class="info-wk-nine">
                <img class="info-hp" *ngIf="thumbnail?.user?.avatar?.length > 0" [src]="thumbnail?.user?.avatar" />
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div style="text-align: right;margin-top: 5rem" [hidden]="list.length == 0  || mode == 'table'">
      <nz-pagination [(nzPageIndex)]="pagination.page" [nzTotal]="pagination.count" [nzPageSize]="pagination.page_size"
        (nzPageIndexChange)="pageChange($event)"></nz-pagination>
    </div>
  </div>
</div>

<ng-template #empty>
  <nz-empty></nz-empty>
</ng-template>