<header class="header">
  <div class="container d-flex-row">
    <div class="n-logo">
      <!-- <img src="../assets/images/logo-color.svg"> -->
      <span style="font-size: 22px;font-weight: bold;font-family: sans-serif;"
        *ngIf="settings.user.company_name !== '个人用户'">{{ settings.user.company_name }}</span>
      <span style="font-size: 22px;font-weight: bold;font-family: sans-serif;"
        *ngIf="settings.user.company_name == '个人用户'">BCTOP影业助手</span>
      <!-- <img src="../assets/images/logo.png"> -->
      <!-- <span class="push-l-15" style="font-size: 18px;">BCTOP 影业助手</span> -->
    </div>
    <nav class="n-nav">
      <ul class="nav-list list">
        <li>
          <ul class="list menu">
            <!-- <li class="nav-item">
              <a [routerLinkActive]="'router-active'" [routerLink]="'/market'">{{ 'menu.market' | translate }}</a>
            </li> -->
            <li class="nav-item">
              <a [routerLinkActive]="'router-active'" [routerLink]="'/manage/dashboard'"><span nzTitle="各项统计，提醒与图表"
                  nzPlacement="bottom" nz-tooltip>{{ 'menu.manage.dashboard' | translate }}</span></a>
            </li>
            <li class="nav-item">
              <a [routerLinkActive]="'router-active'" [routerLink]="'/manage/image'"><span nzTitle="别人分享给您的内容"
                  nzPlacement="bottom" nz-tooltip>发现</span></a>
            </li>
            <li class="nav-item" acl [acl-ability]="ability.program.view">
              <a [routerLinkActive]="'router-active'" [routerLink]="'/manage/series'"><span nzTitle="节目的版权，样片，高清母带管理"
                  nzPlacement="bottom" nz-tooltip>{{ 'menu.manage.series' | translate }}</span></a>
            </li>
            <li class="nav-item" [acl]="{ ability: [ability.program.source.upload, ability.program.source.download] }">
              <a [routerLinkActive]="'router-active'" [routerLink]="'/manage/transmit'"><span nzTitle="母带文件的传输分发管理"
                  nzPlacement="bottom" nz-tooltip>{{ 'menu.manage.transmit' | translate }}</span></a>
            </li>
            <!-- <li class="nav-item">
              <a [routerLinkActive]="'router-active'" [routerLink]="'/manage/account-center/history'">{{ 'menu.manage.personal-center' | translate }}</a>
            </li>
            <li class="nav-item">
              <a [routerLinkActive]="'router-active'" [routerLink]="'/manage/teams'">{{ 'menu.manage.teams' | translate }}</a>
            </li> -->
            <li class="nav-item" acl [acl-ability]="ability.custom.view">
              <a [routerLinkActive]="'router-active'" [routerLink]="'/manage/customers'"><span nzTitle="客户及供应商的信息管理"
                  nzPlacement="bottom" nz-tooltip>{{ 'menu.manage.customers' | translate }}</span></a>
            </li>
            <li class="nav-item">
              <a [routerLinkActive]="'router-active'" [routerLink]="'/manage/series/choreography'"><span
                  nzTitle="编辑频道栏目信息" nzPlacement="bottom"
                  nz-tooltip>{{ 'app.series.choreography' | translate }}</span></a>
            </li>
          </ul>
        </li>
        <li class="nav-item search">
          <!-- <div style="width: 16rem;">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input [placeholder]="'menu.search.placeholder' | translate">
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon type="search"></i>
            </ng-template>
          </div> -->
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-item-link" nz-popover [nzOverlayClassName]="'notify-popover'" [nzContent]="taskTemplate"
            nzTrigger="click" nzPlacement="bottom">
            <nz-badge [nzCount]="uploads"><i nz-icon type="cloud-upload" theme="outline" style="font-size: 1.75rem"></i>
              <!-- thunderbolt -->
            </nz-badge>
          </a>
          <ng-template #taskTemplate>
            <app-task></app-task>
          </ng-template>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-item-link" nz-popover [nzOverlayClassName]="'notify-popover'" [nzContent]="notifyTemplate"
            nzTrigger="click" nzPlacement="bottom">
            <nz-badge [nzCount]="notifies"><i nz-icon type="bell" theme="outline" style="font-size: 1.75rem"></i>
              <!-- thunderbolt -->
            </nz-badge>
          </a>
          <ng-template #notifyTemplate>
            <app-notify></app-notify>
          </ng-template>
        </li>
        <!-- <li class="nav-item">
          <nz-dropdown [nzTrigger]="'click'" nzPlacement="bottomRight">
            <a nz-dropdown>
              <i nz-icon type="global"></i>
               {{ 'app.lang' | translate }}
              <i nz-icon type="down"></i>
            </a>
            <ul nz-menu>
              <li nz-menu-item *ngFor="let item of langs" [nzSelected]="item.code === settings.lang" (click)="changeLanguage(item.code)">{{item.text}}</li>
            </ul>
          </nz-dropdown>
        </li> -->
        <li class="nav-item">
          <ng-container *ngIf="isLoggedIn; else loginLink">
            <nz-dropdown nzPlacement="bottom" [nzTrigger]="'click'">
              <a nz-dropdown class="avatar-link">
                <nz-avatar nzIcon="user" [nzShape]="'square'" [nzSrc]="settings.user.avatar"></nz-avatar>
              </a>
              <ul nz-menu class="account-menu">
                <li nz-menu-item class="text-ellipsis" nzDisabled style="cursor: default;">
                  {{ settings.user.nickname || settings.user.username }}
                </li>
                <li nz-menu-divider></li>
                <li nz-menu-item>
                  <a routerLink="/manage/account-center/history">
                    <i nz-icon type="user"></i>
                    {{ 'menu.account.center' | translate }}
                  </a>
                </li>
                <li nz-menu-item>
                  <a routerLink="/manage/teams">
                    <i nz-icon type="team" theme="outline"></i>
                    {{ 'menu.manage.teams' | translate }}
                  </a>
                </li>
                <li nz-menu-divider></li>
                <li nz-menu-item>
                  <div (click)="logout()">
                    <i nz-icon type="logout"></i>
                    {{ 'menu.account.logout' | translate }}
                  </div>
                </li>
              </ul>
            </nz-dropdown>
          </ng-container>
          <ng-template #loginLink>
            <span>{{ 'menu.account.not-logged' | translate }}</span>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="login()" class="login-link">{{ 'menu.account.login' | translate }}</a>
          </ng-template>
        </li>
      </ul>
    </nav>
  </div>
</header>