<div class="program-details-tape-details-box">
  <div class="program-details-tape-details-wk">
    <nz-tabset nzSize="large" [nzTabBarExtraContent]="extraTemplate">
        <nz-tab nzTitle="母带信息">
          <div class="block clearfix">
            <div class="block-content">
              <div nz-row class="series-info-row">
                <div nz-col nzSpan="6">
                  <span class="info-filed">母带名称</span>
                  <span>{{ tapeDetailsInfo?.name }}</span>
                </div>
                <div nz-col nzSpan="6">
                  <span class="info-filed">类型</span>
                  <span>{{ tapeDetailsInfo?.source_type }}</span>
                </div>
                <div nz-col nzSpan="6">
                  <span class="info-filed">集数</span>
                  <span>{{ tapeDetailsInfo?.episode }}</span>
                </div>
                <div nz-col nzSpan="6">
                  <span class="info-filed">格式</span>
                  <span>{{ tapeDetailsInfo?.format }}</span>
                </div>
              </div>
              <div nz-row class="series-info-row">
                <div nz-col nzSpan="6">
                  <span class="info-filed">码率</span>
                  <span>{{ tapeDetailsInfo?.bit_rate }}</span>
                </div>
                <div nz-col nzSpan="6">
                  <span class="info-filed">语言</span>
                  <span>{{ tapeDetailsInfo?.language }}</span>
                </div>
                <div nz-col nzSpan="6">
                  <span class="info-filed">字幕</span>
                  <span>{{ tapeDetailsInfo?.subtitle }}</span>
                </div>
              </div>
            </div>
          </div>
          </nz-tab>
      <nz-tab nzTitle="母带文件" (nzClick)="TapeFile()">
        <nz-table #basicTable [nzData]="tapeFileList" nzBordered [nzPageSize]="tapeFilePagination.page_size" [nzFrontPagination]="false" 
        [nzPageIndex]="tapeFilePagination.page" [nzTotal]="tapeFilePagination.count" (nzPageIndexChange)="tapeFilePageChange($event)">
            <thead>
              <tr>
                <th>文件名</th>
                <th>大小</th>
                <th>创建日期</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data">
                <td>{{data.name}}</td>
                <td>{{data.size}}</td>
                <td>{{data.created_at}}</td>
              </tr>
            </tbody>
          </nz-table>
      </nz-tab>
      <nz-tab nzTitle="母带发行"  (nzClick)="pubTape()">
        <nz-table #basicTable1 [nzData]="pubTapeList" nzBordered [nzPageSize]="pubTapePagination.page_size" [nzFrontPagination]="false" 
        [nzPageIndex]="pubTapePagination.page" [nzTotal]="pubTapePagination.count" (nzPageIndexChange)="pubTapePageChange($event)">
          <thead>
            <tr>
              <th style="text-align: center">母带名称</th>
              <th style="text-align: center">发行时间</th>
              <th style="text-align: center">公司简称</th>
              <th style="text-align: center">下载次数</th>
              <th style="text-align: center">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable1.data">
              <td style="text-align: center">{{data.created_name}}</td>
              <td style="text-align: center">{{data.created_at}}</td>
              <td style="text-align: center">{{data.auth_company_name}}</td>
              <td style="text-align: center">{{data.download_times}}</td>
              <td style="text-align: center">
                <a (click)="deletePubTape(data.id)"><i nz-icon type="delete" theme="outline" style="font-size: 14px;"></i></a>
            </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
    <ng-template #extraTemplate>
      <button nz-button nzType="primary" nzSize="small" *ngIf="tab == 1" style="margin-top: 15px;" (click)="uploadTape()">上传母带</button>
      <button nz-button nzType="primary" nzSize="small" *ngIf="tab == 2" style="margin-top: 15px;" (click)="publishTape()">发行母带</button>
    </ng-template>
  </div>
</div>

