@import '~styles/theme';

.block {
    background-color: #fff;
    width: 100%;
}

.block > .block-content {
    margin: 2rem;
}

.user-info-pane {
    display: flex;
    justify-content: flex-end;
}

.avatar {
    padding-left: 1rem;
    padding-right: 3rem;
}

.user-info {
    flex: 1 1 auto;
    // justify-content: flex-end;
    padding: 0.5rem 0;
    // color: @color-content;
}

.address {
    padding-top: 0.5rem;
}

.address i {
    margin-right: 1rem;
}

.edit-button {
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.edit-button i {
    margin-right: 1rem;
}

.edit-button a {
    color: @color-subhead;
}