<section class="block clearfix">
    <div class="block-content">
        <div class="user-info-pane">
            <div class="avatar">
                <nz-avatar [nzText]="(info.avatar ? '' : (info.nickname || info.username))" [nzSize]="64" [nzSrc]="info.avatar" style="background-color: #f0f0f0;"></nz-avatar>
            </div>
            <div class="user-info">
                <h3 class="text-blod">{{ info.nickname || info.username }}</h3>
                <div class="bind bind-mobile active" [ngClass]="{ 'active': info.phone }">
                    <i nz-icon type="mobile" theme="outline"></i>
                    <span *ngIf="info?.phone?.length > 0; else unboundPhone">{{ info.phone }}</span>
                    <ng-template #unboundPhone>
                        <span class="empty" (click)="bindPhone()">{{ 'app.account.unbound' | translate }}</span>
                    </ng-template>
                </div>
                <div class="bind bind-wechat">
                    <i nz-icon type="wechat" theme="outline"></i>
                    <span class="empty" (click)="bindWechat()">{{ 'app.account.unbound' | translate }}</span>
                </div>
            </div>
            <div class="address" *ngIf="info.company_name">
                <i nz-icon type="home" theme="outline"></i>{{ info.company_name }}
            </div>
        </div>
        <!-- <div class="edit-button"><a><i nz-icon type="edit" theme="outline"></i>修改</a></div> -->
    </div>
</section>

<div class="block transparent-block">
    <div class="explain">
        <i nz-icon type="star" theme="fill"></i>
        <span>{{ 'app.account.my-favorite' | translate }}</span>
    </div>
</div>

<section class="block transparent-block">
    <app-empty></app-empty>
</section>