<div [hidden]="loading" class="fade-in-up">
  <div>
    <nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb>
  </div>
  <section class="block clearfix">
    <div class="block-content" style="height: 8rem;">
      <nz-skeleton [nzLoading]="false" [nzActive]="true" [nzAvatar]="true">
        <div class="user-info-pane">
          <div class="avatar">
            <nz-avatar [nzSize]="90" [nzSrc]="info?.avatar" style="background-color: #f0f0f0;"></nz-avatar>
          </div>
          <div class="user-info">
            <h2 class="text-blod">{{ info?.nickname || info?.username }}</h2>
            <div class="bind bind-mobile" [ngClass]="{ 'active': info?.phone }">
              <i nz-icon type="mobile" theme="outline"></i>
              <span *ngIf="info?.phone?.length > 0; else unboundPhone">{{ info.phone }}</span>
              <ng-template #unboundPhone>
                <span class="empty" (click)="bindPhone()">{{ 'app.account.unbound' | translate }}</span>
              </ng-template>
            </div>
            <div class="bind bind-wechat" [ngClass]="{ 'active': info?.wechat }">
              <i nz-icon type="wechat" theme="outline"></i>
              <span *ngIf="info?.wechat?.length > 0; else unboundWechat">{{ info.wechat }}</span>
              <ng-template #unboundWechat>
                <span class="empty" (click)="bindWechat()">{{ 'app.account.unbound' | translate }}</span>
              </ng-template>
            </div>
          </div>
          <div class="other-info">
            <div class="company-name">
              [{{ info?.company_name }}]
            </div>
            <div class="edit-button">
              <button nz-button>编辑个人信息</button>
            </div>
          </div>
        </div>
      </nz-skeleton>
    </div>
  </section>

  <div class="block clearfix">

    <div class="block-header">
      <div class="block-title">{{ 'app.account.my-favorite' | translate }}</div>
    </div>
    <div class="block-body">
      <app-empty></app-empty>
    </div>
  </div>


  <!-- <div class="block-container">
    <div class="main-block block">
      <div class="s-nav-wapper">
        <nav class="s-nav">
          <ul class="list s-nav-list">
            <li class="nav-item">
              <a class="s-nav-link" [routerLinkActive]="'active'" [routerLink]="'favorites'">收藏</a>
            </li>
            <li class="nav-item">
              <a class="s-nav-link" [routerLinkActive]="'active'" [routerLink]="'history'">历史记录</a>
            </li>
            <li class="nav-item">
              <a class="s-nav-link" [routerLinkActive]="'active'" [routerLink]="'notifies'">消息</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="block-content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="sidebar-block block">
      <div class="profile-userpic">
        <img [src]="info?.avatar" class="img-responsive" />
      </div>
      <div class="profile-usertitle">
        <p class="profile-usertitle-name text-blod">{{ info?.nickname || info?.username }}</p>
        <p class="profile-usertitle-company">[{{ info?.company_name }}]</p>
        <p>
          <span class="bind bind-mobile" [ngClass]="{ 'active': info?.phone }">
            <i nz-icon type="mobile" theme="outline"></i>
            <span *ngIf="info?.phone?.length > 0; else unboundPhone">{{ info.phone }}</span>
            <ng-template #unboundPhone>
              <span class="empty" (click)="bindPhone()">{{ 'app.account.unbound' | translate }}</span>
            </ng-template>
          </span>
        </p>
        <p>
          <span class="bind bind-wechat" [ngClass]="{ 'active': info?.wechat }">
            <i nz-icon type="wechat" theme="outline"></i>
            <span *ngIf="info?.wechat?.length > 0; else unboundWechat">{{ info.wechat }}</span>
            <ng-template #unboundWechat>
              <span class="empty" (click)="bindWechat()">{{ 'app.account.unbound' | translate }}</span>
            </ng-template>
          </span>
        </p>
      </div>
      <div class="profile-usermenu"></div>
    </div>
  </div> -->

</div>