@import '~styles/theme';
.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 42%;
    height: 42%;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 2rem;
}

.profile-usertitle>p {
    margin-bottom: 0.5rem !important;
}

.profile-usertitle-name {
    font-size: 1.3rem;
    margin-bottom: .5rem;
}

.profile-usermenu {
    margin-top: 30px;
    padding-bottom: 20px;
}

.explain {
    color: @color-content;
    font-size: 1.2rem;
}

.explain>i {
    margin-right: 0.5rem;
}

.user-info-pane {
    display: flex;
    justify-content: flex-end;
}

.avatar {
    // padding-left: 1rem;
    // padding-right: 3rem;
    padding-right: 2rem;
}

.user-info {
    flex: 1 1 auto;
}

.bind {
    color: @color-icon; // vertical-align: middle;
}

.bind>i {
    margin-right: 0.5rem;
}

.bind .empty {
    font-size: 1rem;
    cursor: pointer;
}

.bind.active {
    color: @color-content;
}

.bind-icon {
    margin-right: .5rem;
}

.other-info {
    padding-top: .5rem;
}

.other-info i {
    margin-right: 1rem;
}

.company-name {
    text-align: right;
}

.edit-button {
    margin-top: 3rem;
}
.s-nav-wapper {
    margin-top: 12px;
}
.s-nav-history {
    width: 240px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    // a{
    //     color: #666;
    // }
    .history-img-first {
        background: url('./assets/images/ic_HistoricalRecords_unselected.png') center center no-repeat;
        background-size: 15px 15px; 
    }
    .history-img-second {
        background: url('./assets/images/ic_mySolicitation_unselected.png') center center no-repeat;
        background-size: 15px 15px; 
    }
    .history-img-third {
        background: url('./assets/images/ic_mySharing_unselected.png') center center no-repeat;
        background-size: 15px 15px; 
    }
}
// .actived {
    // background-color: #DAEAFD;
    // border-left: 2px solid #4797F7;
    // a{
    //     color:#4797F7;
    // }
// }
.first-selected {
    .history-img-first{
       background: url('./assets/images/ic_HistoricalRecords_selected.png') center center no-repeat;
        background-size: 15px 15px; 
    }
}
.second-selected {
    .history-img-second{
       background: url('./assets/images/ic_mySolicitation_selected.png') center center no-repeat;
        background-size: 15px 15px; 
    }
}
.third-selected {
    .history-img-third{
       background: url('./assets/images/ic_mysharing_selected.png') center center no-repeat;
        background-size: 15px 15px; 
    }
}
.s-nav-item {
    display: flex;
    justify-content: flex-start;
    // margin-left: 34px;
    align-items: center;
}
*:focus {outline: none;}