<!-- <form nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-label [nzSm]="3" [nzXs]="24">投资类型</nz-form-label>
      <nz-form-control [nzSm]="21" [nzXs]="24">
          <nz-tag
          *ngFor="let tag of tags1; let i = index"
          [nzMode]="i === 0 ? 'default' : 'closeable'"
          (nzAfterClose)="onTagClose(tag, 'IT')"
        >
          {{ tag | truncate:20 }}
        </nz-tag>
        <nz-tag *ngIf="!isITInputVisible" class="editable-tag" nzNoAnimation (click)="onShowInput('IT')">
          <i nz-icon type="plus"></i>
        </nz-tag>
        <input
          #ITInputElement
          nz-input
          nzSize="small"
          *ngIf="isITInputVisible"
          type="text"
          formControlName="investsType"
          style="width: 78px;"
          (blur)="onHandleInputConfirm('IT')"
          (keydown.enter)="onHandleInputConfirm('IT')"
        />
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
        <nz-form-label [nzSm]="3" [nzXs]="24">节目类型</nz-form-label>
        <nz-form-control [nzSm]="21" [nzXs]="24">
  
            <nz-tag
            *ngFor="let tag of tags2; let i = index"
            [nzMode]="i === 0 ? 'default' : 'closeable'"
            (nzAfterClose)="onTagClose(tag, 'ST')"
          >
          {{ tag | truncate:20 }}
          </nz-tag>
          <nz-tag *ngIf="!isSTInputVisible" class="editable-tag" nzNoAnimation (click)="onShowInput('ST')">
            <i nz-icon type="plus"></i>
          </nz-tag>
          <input
          #STInputElement
            nz-input
            nzSize="small"
            *ngIf="isSTInputVisible"
            type="text"
            formControlName="seriesType"
            style="width: 78px;"
            (blur)="onHandleInputConfirm('ST')"
            (keydown.enter)="onHandleInputConfirm('ST')"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
          <nz-form-label [nzSm]="3" [nzXs]="24">题材</nz-form-label>
          <nz-form-control [nzSm]="21" [nzXs]="24">
    
              <nz-tag
              *ngFor="let tag of tags3; let i = index"
              [nzMode]="i === 0 ? 'default' : 'closeable'"
              (nzAfterClose)="onTagClose(tag, 'TH')"
            >
            {{ tag | truncate:20 }}
            </nz-tag>
            <nz-tag *ngIf="!isTHInputVisible" class="editable-tag" nzNoAnimation (click)="onShowInput('TH')">
              <i nz-icon type="plus"></i>
            </nz-tag>
            <input
            #THInputElement
              nz-input
              nzSize="small"
              *ngIf="isTHInputVisible"
              type="text"
              formControlName="themes"
              style="width: 78px;"
              (blur)="onHandleInputConfirm('TH')"
              (keydown.enter)="onHandleInputConfirm('TH')"
            />
    
          </nz-form-control>
        </nz-form-item>
  </form> -->

  <div class="block">
    <div class="options-bar" style="margin: 0">
        <div class="options-wrapper">
            <h4 style="margin: 0">类型</h4>
        </div>
        <div class="options-wrapper">
            <button nz-button nzSize="small" (click)="typeMerge.reset()">重置</button>
        </div>
    </div>
    <nz-divider style="margin: 1rem 0"></nz-divider>
    <app-tag-merge [tags]="programTypes" #typeMerge></app-tag-merge>
</div>
<!-- 
<div class="block">
  <div class="block-header">
    <div class="block-title">投资类型</div>
    <div class="block-options">
        <button nz-button nzType="default" nzSize="small">重置</button>
    </div>
  </div>
  <div class="block-content">
      <app-config-merge [tags]="programTypes" #typeMerge></app-config-merge>
  </div>
</div> -->

<div class="block">
    <div class="options-bar" style="margin: 0">
        <div class="options-wrapper">
            <h4 style="margin: 0">类型</h4>
        </div>
        <div class="options-wrapper">
            <button nz-button nzSize="small" (click)="typeMerge.reduction()">重置</button>
        </div>
    </div>
    <nz-divider style="margin: 1rem 0"></nz-divider>
    <app-config-merge [tags]="programTypes" #typeMerge></app-config-merge>
</div>