    <nz-table #basicTable [nzData]="tapesList"
              [nzPageSize]="tapesPagination?.page_size"
              [nzFrontPagination]="false"
              [nzPageIndex]="tapesPagination?.page"
              [nzTotal]="tapesPagination?.count"
              (nzPageIndexChange)="tapesPageChange($event)">
        <thead>
            <tr style="text-align: center">
              <th>#</th>
              <th>节目名称</th>
              <th>母带版本</th>
              <th>类型</th>
              <th>集数</th>
              <th>语言</th>
              <th>字幕</th>
              <th>历史记录</th>
            </tr>
          </thead> 
          <tbody>
              <tr *ngFor="let data of basicTable.data;let i = index">
                  <td>{{ i + 1 + tapesPagination.page * 10 - 10}}</td>
                <td>{{data.program_name}}</td>
                <td><a
                    (click)="tapeDetails(data.program_id, data.id, data.source_type)">{{data.name}}</a></td>
                <td>
                  <span *ngIf="data.source_type == 'online'">在线</span>
                  <span *ngIf="data.source_type == 'entity'">实体</span>
                </td>
                <td>{{data.episode}}</td>
                <td>
                  <span *ngIf="data.language == 'Chinese'">中文</span>
                  <span *ngIf="data.language == 'English'">英语</span>
                </td>
                <td>
                  <span *ngIf="data.subtitle == 'Chinese'">中文</span>
                  <span *ngIf="data.subtitle == 'English'">英语</span>
                </td>
                <td><a routerLink="/manage/transmit/historic-record/{{data.id}}">查看</a></td>
                <!-- <td>
                  <a><i nz-icon type="delete" theme="outline" style="font-size: 14px"></i></a>
                </td> -->
              </tr>
            </tbody>    
    </nz-table>
