.table-operations {
    margin-bottom: 1.2rem;
}

.table-operations>button {
    margin-right: 0.7rem;
}

.invitation-panel {
    width: 230px;
}

.invitation-qrcode {
    height: 230px;
    img {
        width: 230px;
        height: 230px;
    }
}

.invitation-link {
    width: 230px;
    // margin-top: 20px;
    word-wrap: break-word;
    word-break: break-all;
}