<div class="table-operations">
  <button nz-button (click)="addEmployee()">添加成员</button>
  <button nz-button [disabled]="disabledButton" (click)="deleteEmployees()">删除</button>
</div>

<nz-spin [nzSpinning]="isDatasetLoading" [nzDelay]="500" nzTip='Loading...'>
  <nz-table #employeesTable [nzData]="dataset" [nzSize]="'middle'" [nzNoResult]="noResult">
    <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" [nzDisabled]="dataset.length < 1"
          (nzCheckedChange)="checkAll($event)"></th>
        <th>姓名</th>
        <th>部门</th>
        <th>手机</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of employeesTable.data">
        <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()" [nzDisabled]="data.disabled"></td>
        <td><a [routerLink]="'/manage/teams/employee-details/' + data.id">{{data.name}}</a></td>
        <td>{{data.department}}</td>
        <td>{{data.phone}}</td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #noResult>
    <app-empty></app-empty>
  </ng-template>
</nz-spin>