<div class="table-operations">
  <button nz-button (click)="addEmployee()" acl="admin" [acl-ability]="ability.company.employee.profile">添加成员</button>
  <button nz-button [disabled]="disabledButton" (click)="deleteEmployees()" acl="admin" [acl-ability]="ability.company.employee.profile">删除</button>
</div>

<nz-spin [nzSpinning]="isDatasetLoading" [nzDelay]="500" nzTip='Loading...'>
  <nz-table #employeesTable [nzData]="dataset" [nzSize]="'middle'" [nzNoResult]="noResult">
    <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" [nzDisabled]="dataset.length < 1"
          (nzCheckedChange)="checkAll($event)"></th>
        <th>姓名</th>
        <th>部门</th>
        <th>角色</th>
        <th>手机</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of employeesTable.data">
        <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()" [nzDisabled]="data.disabled"></td>
        <td><a [routerLink]="'/manage/teams/employee-details/' + data.id">{{data.name}}</a></td>
        <td>{{ data.department }}</td>
        <td nz-tooltip [nzTitle]="data.roles | arrayMap:'name' | arrayFormat">{{ data.roles | arrayMap:'name' | arrayFormat | truncate:16 }}</td>
        <td>{{ data.phone }}</td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #noResult>
    <app-empty></app-empty>
  </ng-template>
</nz-spin>