<div class="login-panel">
    <div class="title-bar">
        <h1 class="title lf">{{ 'app.login.bind-phone' | translate }}</h1>
        <i nz-icon nzType="close" nzTheme="outline" class="rf" (click)="close()"></i>
    </div>
    <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submit()">
        <nz-form-item>
            <nz-form-control>
                <nz-input-group>
                    <input type="text" nz-input formControlName="phone" [placeholder]="'validation.phone-number' | translate">
                </nz-input-group>
                <nz-form-explain *ngIf="phone.dirty && phone.errors">{{ 'validation.phone-number.required' | translate
                    }}</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzSpan]="12">
                <nz-input-group>
                    <input type="text" nz-input formControlName="captcha" [placeholder]="'validation.captcha' | translate"
                        id="captcha">
                </nz-input-group>
                <nz-form-explain *ngIf="captcha.dirty && captcha.errors">{{ 'validation.captcha.required' | translate
                    }}</nz-form-explain>
            </nz-form-control>
            <nz-form-control [nzSpan]="10" [nzOffset]="2">
                <button nz-button (click)="getCaptcha($event)" [nzBlock]="true" [nzLoading]="isLoadingCaptcha"
                    [disabled]="isCaptchaSended">
                    {{ isCaptchaSended ? ('app.login.regain-captcha' | translate:{'count': captchaSendCountDown}) :
                    ('app.login.get-captcha' | translate) }}
                </button>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button nz-button class="login-form-button" [nzType]="'primary'" [nzLoading]="isLoggingIn">{{
                    'app.login.bind-phone-submit' | translate }}</button>
                <!-- Or <a href="">register now!</a> -->
            </nz-form-control>
        </nz-form-item>
    </form>
</div>