<div class="login-panel">
  <div class="title-bar">
    <h1 class="title lf">{{ 'app.login' | translate }}</h1>
    <i nz-icon type="close" theme="outline" class="rf" (click)="close()"></i>
  </div>
  <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submit()" *ngIf="mode == 'phone'">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input type="text" nz-input formControlName="phone" [placeholder]="'validation.phone-number' | translate">
        </nz-input-group>
        <nz-form-explain *ngIf="phone.dirty && phone.errors">{{ 'validation.phone-number.required' | translate }}</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="12">
        <nz-input-group>
          <input type="text" nz-input formControlName="captcha" [placeholder]="'validation.captcha' | translate" id="captcha">
        </nz-input-group>
        <nz-form-explain *ngIf="captcha.dirty && captcha.errors">{{ 'validation.captcha.required' | translate }}</nz-form-explain>
      </nz-form-control>
      <nz-form-control [nzSpan]="10" [nzOffset]="2">
        <button nz-button 
        (click)="getCaptcha($event)" 
        [nzBlock]="true" 
        [nzLoading]="isLoadingCaptcha" 
        [disabled]="isCaptchaSended"
        >
        {{ isCaptchaSended ? ('app.login.regain-captcha' | translate:{'count': captchaSendCountDown}) : ('app.login.get-captcha' | translate) }}
        </button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="remember">
          <span>{{ 'app.login.remember-me' | translate }}</span>
        </label>
        <a class="login-form-forgot" class="login-form-forgot">{{ 'app.login.forget-password' | translate }}</a>
        <button nz-button class="login-form-button" [nzType]="'primary'" [nzLoading]="isLoggingIn">{{ 'app.login.login' | translate }}</button>
      </nz-form-control>
    </nz-form-item>
  </form>

  <form nz-form [formGroup]="emailRegisterForm" class="login-form" *ngIf="mode == 'emailRegister'">
      <nz-form-item>
          <nz-form-label nzFor="nickname" [nzSm]="4" nzRequired>昵称</nz-form-label>
          <nz-form-control [nzSm]="20">
              <input nz-input placeholder="请输入昵称" id="nickname" formControlName="nickname">
              <nz-form-explain *ngIf="emailRegisterForm.get('nickname').dirty && emailRegisterForm.get('nickname').errors">请输入昵称</nz-form-explain>
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label nzFor="emailAddress" [nzSm]="4" nzRequired>邮箱</nz-form-label>
          <nz-form-control [nzSm]="20">
              <input nz-input placeholder="请输入邮箱地址" id="emailAddress" formControlName="emailAddress">
              <nz-form-explain *ngIf="emailRegisterForm.get('emailAddress').dirty && emailRegisterForm.get('emailAddress').errors">请输入邮箱地址</nz-form-explain>
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label nzFor="emailPassword" [nzSm]="4" nzRequired>密码</nz-form-label>
          <nz-form-control [nzSm]="20">
              <input nz-input placeholder="请输入密码" id="emailPassword" formControlName="emailPassword">
              <nz-form-explain *ngIf="emailRegisterForm.get('emailPassword').dirty && emailRegisterForm.get('emailPassword').errors">请输入密码</nz-form-explain>
          </nz-form-control>
      </nz-form-item>
  </form>
  <form nz-form [formGroup]="emailLogInForm" class="login-form" *ngIf="mode == 'emailLogIn'">
    <nz-form-item>
        <nz-form-label nzFor="email" [nzSm]="4" nzRequired>邮箱</nz-form-label>
        <nz-form-control [nzSm]="20">
            <input nz-input placeholder="请输入邮箱地址" id="email" formControlName="email">
            <nz-form-explain *ngIf="emailLogInForm.get('email').dirty && emailLogInForm.get('email').errors">请输入邮箱地址</nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzFor="password" [nzSm]="4" nzRequired>密码</nz-form-label>
        <nz-form-control [nzSm]="20">
            <input nz-input placeholder="请输入密码" id="password" formControlName="password">
            <nz-form-explain *ngIf="emailLogInForm.get('password').dirty && emailLogInForm.get('password').errors">请输入密码</nz-form-explain>
        </nz-form-control>
    </nz-form-item>
</form>
  <div style="text-align: center;" *ngIf="mode == 'emailRegister'">
      <!-- <button nz-button nzType="primary">登录</button> -->
      <button nz-button nzType="primary" style="width:17rem" (click)="emailRegister()">立即注册</button>
      <div style="margin-top: 2rem">已有账号？<a (click)="switchLoginMode('emailLogIn')">登录</a></div>
  </div>
  <div style="text-align: center;" *ngIf="mode == 'emailLogIn'">
    <!-- <button nz-button nzType="primary">登录</button> -->
    <button nz-button nzType="primary" style="width:17rem" (click)="emailLoginSubmit()">立即登录</button>
    <div style="margin-top: 2rem">没有账号？<a (click)="switchLoginMode('emailRegister')">注册</a></div>
</div>

  <div *ngIf="mode == 'wx'">
    <div id="wx_login_container"></div>
  </div>
  <a class="swicth-wxLogin" style="margin-top: 1rem" (click)="switchLoginMode('wx')" [hidden]="mode == 'wx'">
    <i nz-icon type="wechat" theme="outline"></i>
    <span>{{ 'app.login.sign-in-with-wechat' | translate }}</span>
  </a>
  <a class="swicth-wxLogin" style="margin-top: 1rem" (click)="switchLoginMode('phone')" [hidden]="mode == 'phone'">
    <i nz-icon type="mobile" theme="outline"></i>
    <span>{{ 'app.login.sign-in-with-mobile' | translate }}</span>
  </a>
  <a class="swicth-wxLogin" style="margin-top: 1rem" (click)="switchLoginMode('emailRegister')" [hidden]="mode == 'emailRegister' || mode == 'emailLogIn'">
      <i nz-icon type="mail" theme="outline"></i>
      <span>{{ 'app.login.sign-in-with-email' | translate }}</span>
    </a>
  <!-- <div id="wx_login_container"></div> -->
</div>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>