<div style="display: flex;">
  <div style="height: 390px;width: 276px;">


    <nz-tree style="width: 276px;" [nzData]="nodes"  #nzTreeComponent>
      <ng-template #nzTreeTemplate let-node>
        <span class="custom-node">
          <span *ngIf="!node.isLeaf">
            <i nz-icon [type]="node.isExpanded ? 'folder-open' : 'folder'" nzTheme="fill" style="color:#4797F7"></i>
            <span class="folder-name">{{ node.title }}</span>
          </span>
          <span *ngIf="node.isLeaf">
            <img style="width: 17px;height: 17px;" src="./assets/images/yg.png">
            <span class="file-name" (click)="select(node.key, node)">{{ node.title }}</span>
            <i nz-icon nzType="check" nzTheme="outline" *ngIf="selecteds | arrayMap:'id' | includes:node.key" style="margin-left: 13px;color: #CDCDCD;"></i>
            <!-- <span class="file-desc">modified by {{ node?.origin?.author | lowercase }}</span> -->
          </span>
        </span>
      </ng-template>
    </nz-tree>


  </div>
  <div style="height: 390px;width: 276px;border-left:1px solid #EEEEEE">
    <div style="font-size:14px;color: #999999;font-weight:500;margin-left: 24px;">已选择的部门成员</div>
    <ul style="margin-left: 24px;margin-top: 9px;">
      <li style="margin-top: 5px;" *ngFor="let data of selecteds">
        <img style="width: 17px;height: 17px;" src="./assets/images/yg.png">
        <span style="margin-left: 6px;font-size:14px;color: #333333;font-weight:500;">{{ data.name }}</span>
        <i nz-icon nzType="close" nzTheme="outline" style="float:right;color: #999999;margin-right: 7px;cursor: pointer;" (click)="deleteSelected(data.id)"></i>
      </li>
    </ul>
  </div>
</div>
