
  <div class="block clearfix fade-in-up">
    <div class="block-header">
      <div class="block-title">
        <div class="s-nav-wapper">
          <nav class="s-nav">
            <ul class="list s-nav-list">
              <li class="nav-item">
                <a class="s-nav-link" [routerLinkActive]="'active'" (click)="onClick('a')" [routerLink]="'sample-view'" nz-tooltip
                  nzTitle="样片管理">样片</a>
              </li>
              <li class="nav-item" app-vip="1">
                <a class="s-nav-link" [routerLinkActive]="'active'" (click)="onClick('b')"  [routerLink]="'review-view'" nz-tooltip
                  nzTitle="审片操作">审片</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="block-title-right">
        <button class="block-title-box-left" nz-button nzType="primary" [hidden]="hidden" (click)="callUp()">样片征集令</button>
        <!-- <button class="block-title-box-right" nz-button nzType="primary" (click)="launchFilms()">发起审片</button> -->
      </div>
      <!-- <button class="block-title-right" (click)="launchFilms">发起审片</button> -->
    </div>
    <div class="block-content">
      <router-outlet></router-outlet>
    </div>
  </div>
