<div class="block clearfix fade-in-up">
  <div class="block-header">
    <div class="block-title">意向列表</div>
  </div>
  <div class="block-content">
    <div [hidden]="mode == 'table'">
      <div *ngIf="list.length > 0 else empty">
        <div class="video-info-wk">
          <ul>
            <li class="video-info" *ngFor="let thumbnail of list">

              <div class="video">
                <img class="video-img" [src]="thumbnail?.src" />
                <!-- <img class="video-img" src="http://img4.cache.netease.com/game/2010/11/15/201011151148508a83f.jpg" alt=""> -->
                <div class="price" (click)="publicityPlay(thumbnail?.id, thumbnail?.program_id)">
                  <span class="price">{{ thumbnail?.created_at }}&nbsp;发布</span>
                </div>
              </div>

              <div class="info">
                <div class="info-container-big-box">
                  <div class="info-container-name"><a>{{ thumbnail?.name }}</a>
                  </div>
                  <div class="info-container-type">{{ thumbnail?.program_type | seriesType }}</div>
                  <!-- <a style="font-size: 13px;margin-left: 4rem;"
                  (click)="publicityPlay(thumbnail?.id, thumbnail?.program_id)"><i nz-icon nzType="eye"
                    nzTheme="outline"></i></a> -->
                </div>
                <div class="info-small-box-director">
                  <div class="info-small-box-director-left">导演: </div>
                  <div class="info-small-box-director-right">{{ thumbnail?.director }}</div>
                </div>
                <div class="info-small-box-tostar"> 主演:
                  <span class="info-small-box-tostar-right">{{ thumbnail?.protagonist }}</span>
                </div>
              </div>
              <div class="info-small-box-bottom">
                <!-- <div class="info-wk-eight"> -->
                <div class="info-small-box-bottom-left">
                  <img class="info-hp" *ngIf="thumbnail?.user?.avatar?.length > 0" [src]="thumbnail?.user?.avatar" />
                </div>
                <span class="info-small-box-bottom-right">{{thumbnail?.company?.full_name}}</span>
                <!-- </div> -->
              </div>
            </li>
          </ul>
        </div>
        <div style="text-align: right;margin-top: 5rem" [hidden]="list.length == 0  || mode == 'table'">
          <nz-pagination style="margin: 15px 15px" [(nzPageIndex)]="pagination.page" [nzTotal]="pagination.count"
            [nzPageSize]="pagination.page_size" (nzPageIndexChange)="pageChange($event)"></nz-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #empty>
  <nz-empty nzNotFoundContent='暂时没有人分享样片给你哦!' ></nz-empty>
</ng-template>