<!-- <div class="menu-wk">
  <nav class="menu-box">
    <div class="submenu-wk">
      <a routerLink="/manage/dashboard">
        <div class="submenu-icon-box"><i nz-icon type="bar-chart" theme="outline" style="font-size: 2rem"></i></div>
        <div class="submenu-info-one">{{ 'menu.manage.dashboard' | translate }}</div>
      </a>
    </div>
    <div class="submenu-wk-mt1">
      <a routerLink="/manage/series">
        <div class="submenu-icon-box"><i nz-icon type="bar-chart" theme="outline" style="font-size: 2rem"></i></div>
        <div class="submenu-info-selected">{{ 'menu.manage.series' | translate }}</div>
      </a>
    </div>
    <div class="submenu-wk-mt1">
      <a routerLink="/manage/customer">
        <div class="submenu-icon-box"><i nz-icon type="bar-chart" theme="outline" style="font-size: 2rem"></i></div>
        <div class="submenu-info-one">{{ 'menu.manage.customers' | translate }}</div>
      </a>
    </div>
    <div class="submenu-wk-mt1">
      <a routerLink="/manage/contract">
        <div class="submenu-icon-box"><i nz-icon type="bar-chart" theme="outline" style="font-size: 2rem"></i></div>
        <div class="submenu-info-one">{{ 'menu.manage.contracts' | translate }}</div>
      </a>
    </div>
    <div class="submenu-wk-mt1">
      <a routerLink="/manage/personal-center">
        <div class="submenu-icon-box"><i nz-icon type="bar-chart" theme="outline" style="font-size: 2rem"></i></div>
        <div class="submenu-info-three">{{ 'menu.manage.personal-center' | translate }}</div>
      </a>
    </div>
    <div class="submenu-wk-mt1">
      <a routerLink="/manage/teams">
        <div class="submenu-icon-box"><i nz-icon type="bar-chart" theme="outline" style="font-size: 2rem"></i></div>
        <div class="submenu-info-three">{{ 'menu.manage.teams' | translate }}</div>
      </a>
    </div>
  </nav>
</div> -->

<div class="sidebar-nav-box">
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item clearfix" [routerLinkActive]="'router-active'" [routerLink]="'/manage/dashboard'">
      <div class="nav-icon"><i nz-icon type="bar-chart" theme="outline"></i></div>
      <div class="nav-title text-ellipsis">{{ 'menu.manage.dashboard' | translate }}</div>
    </a>
    <a class="sidebar-nav-item clearfix" [routerLinkActive]="'router-active'" [routerLink]="'/manage/serise'">
      <div class="nav-icon"><i nz-icon type="align-left" theme="outline"></i></div>
      <div class="nav-title text-ellipsis">{{ 'menu.manage.series' | translate }}</div>
    </a>
    <a class="sidebar-nav-item clearfix" [routerLinkActive]="'router-active'" [routerLink]="'/manage/personal-center'">
      <div class="nav-icon"><i nz-icon type="user" theme="outline"></i></div>
      <div class="nav-title text-ellipsis">{{ 'menu.manage.personal-center' | translate }}</div>
    </a>
    <a class="sidebar-nav-item clearfix" [routerLinkActive]="'router-active'" [routerLink]="'/manage/teams'">
      <div class="nav-icon"><i nz-icon type="team" theme="outline"></i></div>
      <div class="nav-title text-ellipsis">{{ 'menu.manage.teams' | translate }}</div>
    </a>
  </nav>
</div>