<div class="sidebar-nav-box">
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item clearfix" [routerLinkActive]="'router-active'" [routerLink]="'/manage/dashboard'">
      <div class="nav-icon"><i nz-icon type="bar-chart" theme="outline"></i></div>
      <div class="nav-title text-ellipsis">{{ 'menu.manage.dashboard' | translate }}</div>
    </a>
    <a class="sidebar-nav-item clearfix" [routerLinkActive]="'router-active'" [routerLink]="'/manage/serise'">
      <div class="nav-icon"><i nz-icon type="align-left" theme="outline"></i></div>
      <div class="nav-title text-ellipsis">{{ 'menu.manage.series' | translate }}</div>
    </a>
    <a class="sidebar-nav-item clearfix" [routerLinkActive]="'router-active'" [routerLink]="'/manage/account-center'">
      <div class="nav-icon"><i nz-icon type="user" theme="outline"></i></div>
      <div class="nav-title text-ellipsis">{{ 'menu.manage.personal-center' | translate }}</div>
    </a>
    <a class="sidebar-nav-item clearfix" [routerLinkActive]="'router-active'" [routerLink]="'/manage/teams'">
      <div class="nav-icon"><i nz-icon type="team" theme="outline"></i></div>
      <div class="nav-title text-ellipsis">{{ 'menu.manage.teams' | translate }}</div>
    </a>
  </nav>
</div>