<div class="program-details-tapes-box">
  <div class="program-details-tapes-title-wk">
    <span class="program-details-tapes-title">{{ 'app.series.source-info' | translate }}</span>
    <button nz-button nzType="primary" nzSize="small" style="float: right;margin-top: 15px;margin-right: 20px"
      (click)="addTape()" *aclIf="{ ability: [ability.program.source.upload] }">{{ 'app.series.add-source' | translate }}</button>
  </div>
  <div class="program-details-tapes">
    <nz-table #basicTable [nzData]="tapesList" nzShowPagination="false" style="padding-bottom: 20px">
      <thead>
        <tr>
          <th style="text-align: center">#</th>
          <th style="text-align: center">{{ 'app.series.source-name' | translate }}</th>
          <th style="text-align: center">{{ 'app.series.source-type' | translate }}</th>
          <th style="text-align: center">{{ 'app.series.source-language' | translate }}</th>
          <th style="text-align: center">{{ 'app.series.source-subtitles' | translate }}</th>
          <th style="text-align: center">{{ 'app.series.source-format' | translate }}</th>
          <th style="text-align: center">{{ 'app.series.source-bit-rate' | translate }}</th>
          <th style="text-align: center">{{ 'app.series.detail' | translate }}</th>
          <th style="text-align: center">{{ 'app.series.operation' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data;let i = index" [ngClass]="{'selected': isId == data.id}">
          <td>{{ i + 1 }}</td>
          <td style="text-align: center">{{ data.name }}</td>
          <td style="text-align: center">
            <span *ngIf="data.source_type == 'online'">{{ 'app.series.source-type-online' | translate }}</span>
            <span *ngIf="data.source_type == 'entity'">{{ 'app.series.source-type-entity' | translate }}</span>
          </td>
          <td style="text-align: center">
            <span *ngIf="data?.language == 'Chinese'">中文</span>
            <span *ngIf="data?.language == 'English'">英语</span>
            <span *ngIf="data?.language == 'other'">其他</span>
          </td>
          <td style="text-align: center">
            <span *ngIf="data?.subtitle == 'Chinese'">中文</span>
            <span *ngIf="data?.subtitle == 'English'">英语</span>
            <span *ngIf="data?.subtitle == 'other'">其他</span>
          </td>
          <td style="text-align: center">{{ data.format }}</td>
          <td style="text-align: center">{{ data.bit_rate }}</td>
          <td style="text-align: center"><a
              (click)="pitchOn(data.id, data.source_type)">{{ 'app.series.view' | translate }}</a></td>
          <td style="text-align: center">
            <a (click)="editTape(data.id, data.source_type)" acl [acl-ability]="ability.program.source.edit"><i nz-icon type="form" theme="outline"
                style="font-size: 14px"></i></a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<div class="program-details-tape-details-box" *ngIf="source_type == 'online'">
  <div class="program-details-tape-details-wk">
    <nz-tabset nzSize="large" [nzTabBarExtraContent]="extraTemplate" [nzSelectedIndex]="tab">
      <!-- <nz-tab nzTitle="母带信息" (nzClick)="tapeInfo()">
        <div class="block clearfix">
          <div class="block-content">
            <div nz-row class="series-info-row">
              <div nz-col nzSpan="6">
                <span class="info-filed">{{ 'app.series.source-name' | translate }}</span>
                <span>{{ tapeDetailsInfo?.name }}</span>
              </div>
              <div nz-col nzSpan="6">
                <span class="info-filed">{{ 'app.series.source-type' | translate }}</span>
                <span *ngIf="tapeDetailsInfo?.source_type == 'online'">{{ 'app.series.source-type-online' | translate }}</span>
                <span *ngIf="tapeDetailsInfo?.source_type == 'entity'">{{ 'app.series.source-type-entity' | translate }}</span>
              </div>
              <div nz-col nzSpan="6">
                <span class="info-filed">{{ 'app.series.episode' | translate }}</span>
                <span>{{ tapeDetailsInfo?.episode }}</span>
              </div>
              <div nz-col nzSpan="6">
                <span class="info-filed">{{ 'app.series.format' | translate }}</span>
                <span>{{ tapeDetailsInfo?.format }}</span>
              </div>
            </div>
            <div nz-row class="series-info-row">
              <div nz-col nzSpan="6">
                <span class="info-filed">{{ 'app.series.bitrate' | translate }}</span>
                <span>{{ tapeDetailsInfo?.bit_rate }}</span>
              </div>
              <div nz-col nzSpan="6">
                <span class="info-filed">{{ 'app.series.language' | translate }}</span>
                <span *ngIf="tapeDetailsInfo?.language == 'Chinese'">中文</span>
                <span *ngIf="tapeDetailsInfo?.language == 'English'">英语</span>
                 <span *ngIf="tapeDetailsInfo?.language == 'other'">其他</span>
              </div>
              <div nz-col nzSpan="6">
                <span class="info-filed">{{ 'app.series.subtitle' | translate }}</span>
                <span *ngIf="tapeDetailsInfo?.subtitle == 'Chinese'">中文</span>
                <span *ngIf="tapeDetailsInfo?.subtitle == 'English'">英语</span>
                <span *ngIf="tapeDetailsInfo?.subtitle == 'other'">其他</span>
              </div>
            </div>
          </div>
        </div>
      </nz-tab> -->
      <nz-tab nzTitle="母带文件" (nzClick)="tapeFile()">
        <nz-table #basicTable 
                  nzBordered 
                  [nzData]="tapeFileList" 
                  [nzPageSize]="tapeFilePagination.page_size"
                  [nzFrontPagination]="false" 
                  [nzPageIndex]="tapeFilePagination.page" 
                  [nzTotal]="tapeFilePagination.count"
                  (nzPageIndexChange)="tapeFilePageChange($event)" >
          <thead>
            <tr>
              <th style="text-align: center">#</th>
              <th>{{ 'app.series.filename' | translate }}</th>
              <th>{{ 'app.series.size' | translate }}</th>
              <th>{{ 'app.series.created-time' | translate }}</th>
              <th>工作站存储</th>
              <!-- <th *ngIf="isActive">服务器存储</th> -->
              <th>加速存储</th>
              <th>{{ 'app.series.operation' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data;let i = index">
              <td>{{ i + 1 + tapeFilePagination.page * 5 - 5}}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.size | byteFormat }}</td>
              <td>{{ data.created_at }}</td>
              <td *ngIf="data.local_file_status === 'active'" class="active" >{{ data.local_file_status | sourceFileStatus }}</td>
              <td *ngIf="data.local_file_status === 'deleting'" class="deleting" >{{ data.local_file_status | sourceFileStatus }}</td>
              <td *ngIf="data.local_file_status === 'deleted'" class="deleted" >{{ data.local_file_status | sourceFileStatus }}</td>

              <!-- <td *ngIf="data.local_file_status !== ''">{{ data.local_file_status | sourceFileStatus }}</td>              -->
              
              <td *ngIf="data.hashlink_file_status === 'backend'" class="backend" >{{ data.hashlink_file_status |sourceFileStatus }}</td>
              <td *ngIf="data.hashlink_file_status === 'active'" class="active" >{{ data.hashlink_file_status |sourceFileStatus }}</td>
              <td *ngIf="data.hashlink_file_status === 'deleting'" class="deleting" >{{ data.hashlink_file_status |sourceFileStatus }}</td>
              <td *ngIf="data.hashlink_file_status === 'deleted'" class="deleted" >{{ data.hashlink_file_status |sourceFileStatus }}</td>
              <td style="text-align: center">
                <a (click)="deleteTape(data.id, index)"><i nz-icon type="delete" theme="outline"></i></a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="母带发行" (nzClick)="pubTape()">
        <nz-table #basicTable1 [nzData]="pubTapeList" nzBordered [nzPageSize]="pubTapePagination.page_size"
          [nzFrontPagination]="false" [nzPageIndex]="pubTapePagination.page" [nzTotal]="pubTapePagination.count"
          (nzPageIndexChange)="pubTapePageChange($event)">
          <thead>
            <tr>
              <th style="text-align: center">#</th>
              <th style="text-align: center">{{ 'app.series.release-man' | translate }}</th>
              <th style="text-align: center">{{ 'app.series.release-date' | translate }}</th>
              <th style="text-align: center">{{ 'app.series.company-nickname' | translate }}</th>
              <th style="text-align: center">{{ 'app.series.download-count' | translate }}</th>
              <th style="text-align: center">状态</th>
              <th style="text-align: center">{{ 'app.series.operation' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable1.data;let i = index">
              <td>{{ i + 1 + pubTapePagination.page * 10 - 10}}</td>
              <td style="text-align: center">{{ data.created_name }}</td>
              <td style="text-align: center">{{ data.created_at }}</td>
              <td style="text-align: center">{{ data.auth_custom_name }}</td>
              <td style="text-align: center">{{ data.download_times }}</td>
              <td style="text-align: center">
                <span *ngIf="data.receipt_status == 0"><nz-tag [nzColor]="'orange'">等待中</nz-tag></span>
                <span *ngIf="data.receipt_status == 1"><nz-tag [nzColor]="'green'">生效中</nz-tag></span>
                <span *ngIf="data.receipt_status == 2"><nz-tag [nzColor]="'red'">已拒绝</nz-tag></span>
                <span *ngIf="data.receipt_status == 3"><nz-tag [nzColor]="'red'">已超时</nz-tag></span>
              </td>
              <td style="text-align: center">
                <a (click)="deletePubTape(data.id)" acl [acl-ability]="ability.program.source.del"><i nz-icon type="delete" theme="outline"
                    style="font-size: 14px;"></i></a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
    <ng-template #extraTemplate>
      <button nz-button nzType="primary" nzSize="small" [hidden]="tab !== 0" style="margin-top: 15px;"
        (click)="uploadTape()">{{ 'app.series.upload-source' | translate }}</button>
        <button nz-button nzType="primary" nzSize="small" [hidden]="tab !== 0" style="margin-top: 15px; margin-left: 15px;"
        (click)="deteleAllTape()">删除母带</button> 
      <button nz-button nzType="primary" nzSize="small" [hidden]="tab !== 1" style="margin-top: 15px;"
        (click)="publishTape()">{{ 'app.series.publish-source' | translate }}</button>
    </ng-template>
  </div>
</div>



<div class="block clearfix" *ngIf="source_type == 'entity'">
  <div class="block-header">
    <div class="block-title">{{ 'app.series.source-type-entity' | translate }}</div>
  </div>
  <div class="block-content">
    <div nz-row class="series-info-row">
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.source-name' | translate }}</span>
        <span>{{ tapeDetailsInfo?.name }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.source-type' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.source_type == 'online'">{{ 'app.series.source-type-online' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.source_type == 'entity'">{{ 'app.series.source-type-entity' | translate }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.episode' | translate }}</span>
        <span>{{ tapeDetailsInfo?.episode }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.language' | translate }}</span>
        <!-- <span>{{ tapeDetailsInfo?.language }}</span> -->
        <span *ngIf="tapeDetailsInfo?.language == 'Chinese'">中文</span>
        <span *ngIf="tapeDetailsInfo?.language == 'English'">英语</span>
        <span *ngIf="tapeDetailsInfo?.language == 'other'">其他</span>
      </div>
    </div>
    <div nz-row class="series-info-row">
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.subtitle' | translate }}</span>
        <!-- <span>{{ tapeDetailsInfo?.subtitle }}</span> -->
        <span *ngIf="tapeDetailsInfo?.subtitle == 'Chinese'">中文</span>
        <span *ngIf="tapeDetailsInfo?.subtitle == 'English'">英语</span>
        <span *ngIf="tapeDetailsInfo?.subtitle == 'other'">其他</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.sharpness' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.sharpness == 'SD'">标清</span>
        <span *ngIf="tapeDetailsInfo?.sharpness == 'HD'">高清</span>
        <span *ngIf="tapeDetailsInfo?.sharpness == 'BL'">蓝光</span>
        <span *ngIf="tapeDetailsInfo?.sharpness == 'SL'">模拟</span>
        <span *ngIf="tapeDetailsInfo?.sharpness == '4K'">4K</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.brand' | translate }}</span>
        <span>{{ tapeDetailsInfo?.brand }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.sound-track' | translate }}1</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[0] == 'hybrid'">{{ 'app.series.hybrid' | translate }}</span>
        <span
          *ngIf="tapeDetailsInfo?.sound_track[0] == 'international'">{{ 'app.series.international' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[0] == 'music'">{{ 'app.series.music' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[0] == 'dialogue'">{{ 'app.series.dialogue' | translate }}</span>
        <span
          *ngIf="tapeDetailsInfo?.sound_track[0] == 'DynamicEffect'">{{ 'app.series.DynamicEffect' | translate }}</span>
      </div>
    </div>
    <div nz-row class="series-info-row">
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.sound-track' | translate }}2</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[1] == 'hybrid'">{{ 'app.series.hybrid' | translate }}</span>
        <span
          *ngIf="tapeDetailsInfo?.sound_track[1] == 'international'">{{ 'app.series.international' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[1] == 'music'">{{ 'app.series.music' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[1] == 'dialogue'">{{ 'app.series.dialogue' | translate }}</span>
        <span
          *ngIf="tapeDetailsInfo?.sound_track[1] == 'DynamicEffect'">{{ 'app.series.DynamicEffect' | translate }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.sound-track' | translate }}3</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[2] == 'hybrid'">{{ 'app.series.hybrid' | translate }}</span>
        <span
          *ngIf="tapeDetailsInfo?.sound_track[2] == 'international'">{{ 'app.series.international' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[2] == 'music'">{{ 'app.series.music' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[2] == 'dialogue'">{{ 'app.series.dialogue' | translate }}</span>
        <span
          *ngIf="tapeDetailsInfo?.sound_track[2] == 'DynamicEffect'">{{ 'app.series.DynamicEffect' | translate }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.sound-track' | translate }}4</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[3] == 'hybrid'">{{ 'app.series.hybrid' | translate }}</span>
        <span
          *ngIf="tapeDetailsInfo?.sound_track[3] == 'international'">{{ 'app.series.international' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[3] == 'music'">{{ 'app.series.music' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[3] == 'dialogue'">{{ 'app.series.dialogue' | translate }}</span>
        <span
          *ngIf="tapeDetailsInfo?.sound_track[3] == 'DynamicEffect'">{{ 'app.series.DynamicEffect' | translate }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.sound-track' | translate }}5</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[4] == 'hybrid'">{{ 'app.series.hybrid' | translate }}</span>
        <span
          *ngIf="tapeDetailsInfo?.sound_track[4] == 'international'">{{ 'app.series.international' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[4] == 'music'">{{ 'app.series.music' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[4] == 'dialogue'">{{ 'app.series.dialogue' | translate }}</span>
        <span
          *ngIf="tapeDetailsInfo?.sound_track[4] == 'DynamicEffect'">{{ 'app.series.DynamicEffect' | translate }}</span>
      </div>
    </div>
    <div nz-row class="series-info-row">
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.sound-track' | translate }}6</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[5] == 'hybrid'">{{ 'app.series.hybrid' | translate }}</span>
        <span
          *ngIf="tapeDetailsInfo?.sound_track[5] == 'international'">{{ 'app.series.international' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[5] == 'music'">{{ 'app.series.music' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.sound_track[5] == 'dialogue'">{{ 'app.series.dialogue' | translate }}</span>
        <span
          *ngIf="tapeDetailsInfo?.sound_track[5] == 'DynamicEffect'">{{ 'app.series.DynamicEffect' | translate }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.carrier' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.carrier == 'tape'">{{ 'app.series.tape' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.carrier == 'CD'">{{ 'app.series.CD' | translate }}</span>
        <span *ngIf="tapeDetailsInfo?.carrier == 'hardDisk'">{{ 'app.series.hard-disk' | translate }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.source-model' | translate }}</span>
        <span>{{ tapeDetailsInfo?.model }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.storage-date' | translate }}</span>
        <span>{{ tapeDetailsInfo?.storage_date }}</span>
      </div>
    </div>
    <div nz-row class="series-info-row">
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.storage-location' | translate }}</span>
        <span>{{ tapeDetailsInfo?.storage_location }}</span>
      </div>
      <div nz-col nzSpan="18">
        <span class="info-filed">{{ 'app.series.detail-location' | translate }}</span>
        <span>{{ tapeDetailsInfo?.detail_location }}</span>
      </div>
    </div>
  </div>
</div>