<div class="program-details-ownRight-box">
  <div class="program-details-ownRight-title-wk">
    <span class="program-details-ownRight-title">自有权利</span>
    <button nz-button nzType="primary" nzSize="small" style="float: right;margin-top: 15px;margin-right: 20px">新增自有权利</button>
  </div>
  <div class="program-details-ownRight">
    <nz-table #basicTable3 [nzData]="dataSet">
      <thead>
        <tr>
          <th style="text-align: center">权利</th>
          <th style="text-align: center">权利描述</th>
          <th style="text-align: center">权利范围</th>
          <th style="text-align: center">开始时间</th>
          <th style="text-align: center">结束时间</th>
          <th style="text-align: center">合同编号</th>
          <th style="text-align: center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable3.data">
          <td style="text-align: center">{{data.name}}</td>
          <td style="text-align: center">{{data.age}}</td>
          <td style="text-align: center">{{data.address}}</td>
          <td style="text-align: center">{{data.name}}</td>
          <td style="text-align: center">{{data.age}}</td>
          <td style="text-align: center">{{data.address}}</td>
          <td style="text-align: center">
              <a><i nz-icon type="form" theme="outline" style="font-size: 14px"></i></a>
              <a><i nz-icon type="delete" theme="outline" style="font-size: 14px;margin-left: 10px"></i></a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<div class="program-details-pubRight-box">
    <div class="program-details-pubRight-title-wk">
      <span class="program-details-pubRight-title">发行权利</span>
      <button nz-button nzType="primary" nzSize="small" style="float: right;margin-top: 15px;margin-right: 20px">新增发行权利</button>
    </div>
    <div class="program-details-pubRight">
      <nz-table #basicTable3 [nzData]="dataSet">
        <thead>
          <tr>
            <th style="text-align: center">签约客户</th>
            <th style="text-align: center">权利</th>
            <th style="text-align: center">权利范围</th>
            <th style="text-align: center">开始时间</th>
            <th style="text-align: center">结束时间</th>
            <th style="text-align: center">合同编号</th>
            <th style="text-align: center">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable3.data">
            <td style="text-align: center">{{data.name}}</td>
            <td style="text-align: center">{{data.age}}</td>
            <td style="text-align: center">{{data.address}}</td>
            <td style="text-align: center">{{data.name}}</td>
            <td style="text-align: center">{{data.age}}</td>
            <td style="text-align: center">{{data.address}}</td>
            <td style="text-align: center">
                <a><i nz-icon type="form" theme="outline" style="font-size: 14px"></i></a>
                <a><i nz-icon type="delete" theme="outline" style="font-size: 14px;margin-left: 10px"></i></a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

