<div class="block clearfix">
  <div class="block-header">
    <div class="block-title">
      <span>{{ 'app.series.basic-info' | translate }}</span>
      <a style="margin-left: 1rem"><i nz-icon type="edit" theme="outline"></i></a>
    </div>
    <!-- <div class="block-options">
      
    </div> -->
  </div>
  <div class="block-content">
    <div nz-row class="series-info-row">
      <div nz-col nzSpan="6">
        <span class="info-filed" style="font-weight: bold">合同名称：</span>
        <span style="font-weight: bold">{{ condInfo?.name }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">合同编号：</span>
        <span>{{ condInfo?.number }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">签约客户：</span>
        <span>{{ condInfo?.custom_name }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">合同金额：</span>
        <span>{{ condInfo?.total_amount }}</span>
      </div>
    </div>
    <div nz-row class="series-info-row">
      <div nz-col nzSpan="6">
        <span class="info-filed">付款期数：</span>
        <span>{{ condInfo?.payment_form }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">经办人：</span>
        <span>{{ condInfo?.charge_person }}</span>
      </div>
    </div>
  </div>
</div>
<div class="block clearfix">
  <div class="block-content">
    <nz-table #dataTable nzBordered [nzData]="dataSet" [nzFrontPagination]="false" [nzShowPagination]="false">
        <thead>
          <tr>
            <th [nzAlign]="'center'">#</th>
            <th nzWidth="18rem" [nzAlign]="'center'">IP名称</th>
            <th [nzAlign]="'center'">品类</th>
            <th [nzAlign]="'center'">权利种类</th>
            <th [nzAlign]="'center'">权利描述</th>
            <th [nzAlign]="'center'">地域</th>
            <th nzWidth="18rem" [nzAlign]="'center'">期限</th>
            <th [nzAlign]="'center'">原作者</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataTable.data;let i = index">
            <td [nzAlign]="'center'" [attr.rowspan]="data.count" *ngIf="data.index == 0">{{ i + 1 }}</td>
            <td [nzAlign]="'center'" [attr.rowspan]="data.count" *ngIf="data.index == 0">
              <a [routerLink]="['/manage/ip/d', data.pid]">{{ data.project }}</a>
            </td>
            <td [nzAlign]="'center'" [attr.rowspan]="data.count" *ngIf="data.index == 0">{{ data.type }}</td>
            <td [nzAlign]="'center'" [ngClass]="{'sole': data.sole}">{{ data.right }}</td>
            <td [nzAlign]="'center'">{{ data.right_remark }}</td>
            <td [nzAlign]="'center'">{{ data.area }}</td>
            <td [nzAlign]="'center'">
              {{ (data.termIsPermanent ? '永久' : data.term ? ((data.termStartDate | date:'yyyy/MM/dd') + ' ~ ' +
              (data.termEndDate | date:'yyyy/MM/dd')) : data.termNote) | emptyDefaultChar }}
            </td>
            <td [nzAlign]="'center'">{{ data.author }}</td>
          </tr>
        </tbody>
      </nz-table>
  </div>
</div>