<div class="block clearfix fade-in-up">
  <div class="block-header" style="padding-left: 0;">
    <div class="s-nav-wapper">
      <nav class="s-nav">
        <ul class="list s-nav-list">
          <li class="nav-item">
            <a class="s-nav-link" [routerLinkActive]="'active'"
              [routerLink]="'all'">{{ 'app.series.all' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="s-nav-link" [routerLinkActive]="'active'" [routerLink]="'publicity'" nz-tooltip
              nzTitle="样片，片花，海报，文档等物料的上传，分享管理">{{ 'app.series.publicity' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="s-nav-link" [routerLinkActive]="'active'" [routerLink]="'tapes'" nz-tooltip
              nzTitle="母带文件的上传与管理">{{ 'app.series.source' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="s-nav-link" [routerLinkActive]="'active'" [routerLink]="'rights'" nz-tooltip
              nzTitle="节目版权的采购，发行及管理">{{ 'app.series.right' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="s-nav-link" [routerLinkActive]="'active'" [routerLink]="'contracts'">
              <span>{{ 'app.series.contract' | translate }}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="block-options">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" nzSize="default" style="width: 20rem;">
        <input type="text" nz-input placeholder="请输入搜索内容" [(ngModel)]="content"
          (keyup)="$event.which === 13 && search()" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch nzSize="default" (click)="search()">
          <i nz-icon type="search"></i>
        </button>
      </ng-template>
    </div>
  </div>
  <div class="block-content">
    <router-outlet></router-outlet>
  </div>
</div>