@import '~styles/theme';

a:link {
    text-decoration: none;
}

.program-wrap {
    width: 1140px;
    height: auto;
    margin: 23px auto;
    background-color: #ffffff;
}

.program-title-wk {
    width: 1140px;
    height: 56px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #F7F7F7;
}

.program-title {
    font-family: SourceHanSansSC-regular;
    font-size: 14px;
    color: #939393;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}

.program-info {
    width: 1100px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
}

.s-nav-link {
    color: @color-content;
}

.s-nav-link.active {
    color: @color-info;
}

.search{
    width: 200px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: 2rem;
}