<div class="block clearfix">
  <div class="block-content">
    <nz-tabset [(nzSelectedIndex)]="tab">
      <nz-tab nzTitle="1.选择节目">
        <div class="block-operations clearfix">
          <button nz-button nzType="primary" class="rf" (click)="next()">选择权利</button>
        </div>
        <!-- <nz-alert nzBanner nzType="info" nzMessage="Warning text">
          <p class="clearfix">
            <button nz-button nzType="primary" class="rf" (click)="next()">选择权利</button>
          </p>
        </nz-alert> -->
        <app-series-selector [(series)]="series" (tagChange)="seriesTagChange($event)"></app-series-selector>
      </nz-tab>
      <nz-tab nzTitle="2.选择权利">
        <div>
          <p class="clearfix">
            <button nz-button nzType="primary" class="rf" (click)="next()">提交</button>
          </p>
        </div>

        <form nz-form [formGroup]="typeForm">
          <nz-form-item>
            <nz-form-label [nzSm]="3" nzFor="investmentType">投资类型</nz-form-label>
            <nz-form-control [nzSm]="21">
              <nz-radio-group formControlName="investmentType">
                <label nz-radio-button nzValue="homemade">自制</label>
                <label nz-radio-button nzValue="purchase">购入</label>
                <label nz-radio-button nzValue="proxy">代理</label>
                <label nz-radio-button nzValue="main-vote">主投</label>
                <label nz-radio-button nzValue="follow">跟投</label>
                <label nz-radio-button nzValue="co-production">合拍</label>
                <label nz-radio-button nzValue="contract">承制</label>
                <label nz-radio-button nzValue="introduction">引进</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="3" nzFor="hasContract">有无合同</nz-form-label>
            <nz-form-control [nzSm]="9">
              <nz-radio-group formControlName="hasContract">
                <label nz-radio-button nzValue="no">无合同</label>
                <label nz-radio-button nzValue="yes">有合同</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </form>

        <form nz-form [formGroup]="contractForm" [hidden]="!hasContract">

          <nz-form-item>
            <nz-form-label [nzSm]="3" nzFor="customer">签约客户</nz-form-label>
            <nz-form-control [nzSm]="9">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="选择客户" formControlName="customer">
                <nz-option *ngFor="let option of customerOptions" [nzLabel]="option.name" [nzValue]="option.name">
                </nz-option>
              </nz-select>
              <nz-form-explain *ngIf="contractForm.get('customer').dirty && contractForm.get('customer').errors">请输入签约客户
              </nz-form-explain>
            </nz-form-control>

            <nz-form-label [nzSm]="3" nzFor="totalAmount">合同金额</nz-form-label>
            <nz-form-control [nzSm]="9">
              <input nz-input formControlName="totalAmount" placeholder="合同金额">
              <nz-form-explain *ngIf="contractForm.get('totalAmount').dirty && contractForm.get('totalAmount').errors">
                请输入正确的合同金额</nz-form-explain>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="3" nzFor="contractName">合同名称</nz-form-label>
            <nz-form-control [nzSm]="9">
              <input nz-input formControlName="contractName" placeholder="合同名称">
              <nz-form-explain
                *ngIf="contractForm.get('contractName').dirty && contractForm.get('contractName').errors">请输入合同名称
              </nz-form-explain>
            </nz-form-control>

            <nz-form-label [nzSm]="3" nzFor="contractNumber">合同编号</nz-form-label>
            <nz-form-control [nzSm]="9">
              <input nz-input formControlName="contractNumber" placeholder="合同编号">
              <nz-form-explain
                *ngIf="contractForm.get('contractNumber').dirty && contractForm.get('contractNumber').errors">请输入合同编号
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>

            <nz-form-label [nzSm]="3" nzFor="paymentMethod">付款形式</nz-form-label>
            <nz-form-control [nzSm]="9">
              <nz-select formControlName="paymentMethod" nzPlaceHolder="付款形式"
                (ngModelChange)="onPaymentMethodChange($event)">
                <nz-option nzValue="1" nzLabel="一次性"></nz-option>
                <nz-option nzValue="2" nzLabel="分二次"></nz-option>
                <nz-option nzValue="3" nzLabel="分三次"></nz-option>
                <nz-option nzValue="4" nzLabel="分四次"></nz-option>
              </nz-select>
              <nz-form-explain
                *ngIf="contractForm.get('paymentMethod').dirty && contractForm.get('paymentMethod').errors">请选择付款形式
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>

        </form>

        <form nz-form [formGroup]="paymentForm" [hidden]="!hasContract" *ngIf="paymentForm">

          <nz-form-item *ngFor="let payment of payments; let i = index">
            <ng-container *ngFor="let reactive of payment">
              <nz-form-label [nzSm]="3" [nzFor]="reactive.key">{{ reactive.label }}</nz-form-label>
              <nz-form-control [nzSm]="5">
                <ng-container [ngSwitch]="reactive.controlType">
                  <ng-container *ngSwitchCase="'datepicker'">
                    <nz-date-picker [formControlName]="reactive.key"></nz-date-picker>
                    <!-- <nz-form-explain *ngIf="paymentForm.get(reactive.key).dirty && contractForm.get(reactive.key).errors">请输入{{ reactive.label }}日期</nz-form-explain> -->
                  </ng-container>
                  <ng-container *ngSwitchCase="'textbox'">
                    <input nz-input *ngSwitchCase="'textbox'" [formControlName]="reactive.key" [type]="reactive.type"
                      [placeholder]="reactive.label">
                    <!-- <nz-form-explain *ngIf="paymentForm.get(reactive.key).dirty && contractForm.get(reactive.key).errors">请输入正确的合同金额</nz-form-explain> -->
                  </ng-container>
                </ng-container>
              </nz-form-control>
            </ng-container>
          </nz-form-item>

        </form>

        <form nz-form [formGroup]="rightForm">

          <!-- <nz-form-item>
            <nz-form-label [nzSm]="3">项目</nz-form-label>
            <nz-form-control [nzSm]="21">
              <nz-radio-group formControlName="projects">
                <label nz-radio-button nzValue="0">全部</label>
                <label nz-radio-button [nzValue]="item.id" *ngFor="let item of selectedSeries">{{ item.name }}</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item> -->

          <nz-form-item>
            <nz-form-label [nzSm]="3">项目</nz-form-label>
            <nz-form-control [nzSm]="21" formArrayName="projects">
              <ng-container *ngFor="let project of projects.controls; let i = index">
                <label nz-checkbox [formControlName]="i">{{ tempData[i]?.name }}</label>
              </ng-container>
            </nz-form-control>
          </nz-form-item>

          <!-- <nz-form-item>
            <nz-form-label [nzSm]="3">权利</nz-form-label>
            <nz-form-control [nzSm]="21">
              <span formArrayName="copyrights">
                <ng-container *ngFor="let copyright of copyrights.controls; let i = index">
                  <label nz-checkbox [formControlName]="i">{{ copyright.__userdata?.displayText }}</label>
                </ng-container>
              </span>
              <input nz-input formControlName="copyrightNote" placeholder="权利备注" class="push-l-30"
                style="width: 180px;" />
            </nz-form-control>
          </nz-form-item> -->

          <nz-form-item>
            <nz-form-label [nzSm]="3" nzFor="copyright">权利</nz-form-label>
            <nz-form-control [nzSm]="9">
              <nz-cascader nzChangeOnSelect [nzOptions]="rightTemplates" formControlName="copyright"
                nzLabelProperty="name" nzValueProperty="code" nzPlaceHolder="选择权利">
              </nz-cascader>
              <nz-form-explain *ngIf="rightForm.get('copyright').dirty && rightForm.get('copyright').errors">
                请选择权利</nz-form-explain>
            </nz-form-control>
            <nz-form-control [nzSm]="12">
              <input nz-input formControlName="copyrightNote" placeholder="权利备注"
                style="width: 180px; margin-left: 2rem;" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="3" nzFor="copyrightArea">权利范围</nz-form-label>
            <nz-form-control [nzSm]="9">
              <nz-cascader nzChangeOnSelect [nzOptions]="areaTemplates" formControlName="copyrightArea"
                nzLabelProperty="name" nzValueProperty="code" nzPlaceHolder="选择权利范围">
              </nz-cascader>
              <nz-form-explain *ngIf="rightForm.get('copyrightArea').dirty && rightForm.get('copyrightArea').errors">
                请选择权利范围</nz-form-explain>
            </nz-form-control>
            <nz-form-control [nzSm]="12">
              <input nz-input formControlName="copyrightAreaNote" placeholder="范围备注"
                style="width: 180px; margin-left: 2rem;" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="3" nzFor="copyrightValidTerm">购入期限</nz-form-label>
            <nz-form-control [nzSm]="21">
              <nz-range-picker nzFormat="yyyy/MM/dd" formControlName="copyrightValidTerm"></nz-range-picker>
              <label nz-checkbox formControlName="copyrightValidTermIsPermanent" style="margin-left: 2rem;">永久</label>
              <input nz-input formControlName="copyrightValidTermNote" placeholder="期限备注"
                style="width: 180px; margin-left: 2rem;" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="3" nzFor="note">备注</nz-form-label>
            <nz-form-control [nzSm]="21">
              <input nz-input formControlName="note" placeholder="备注">
            </nz-form-control>
          </nz-form-item>

        </form>

      </nz-tab>
    </nz-tabset>
  </div>
</div>