@import 'theme.less';
@import '~@angular/cdk/overlay-prebuilt.css';
// angular/cdk/overlay cover
.cdk-overlay-dark-backdrop {
    background-color: transparent;
}

.cdk-overlay-dark-backdrop-customer {
    background: rgba(0, 0, 0, .32);
}

// init
html {
    font-size: 12px;
}

body {
    overflow-y: scroll;
}

// layout
ul {
    margin: 0;
    padding: 0;
}

.lf {
    float: left;
}

.rf {
    float: right;
}

.block {
    margin-bottom: 20px;
    background-color: #fff;
    width: 100%;
}

.block.transparent-block {
    background-color: transparent;
}

.block>.block-header {
    padding: 0 2rem;
    height: 4.6rem;
    border-bottom: 1px solid @color-border;
    box-sizing: border-box;
}

.block>.block-header>.block-title {
    float: left;
    line-height: 4.2rem;
    color: @color-subhead;
}

.block>.block-header>.block-options {
    float: right;
    line-height: 4.2rem;
}

.block>.block-header>.block-options>* {
    margin-left: 1rem;
}

.block>.block-content {
    margin: 2rem;
    min-height: 1rem;
}

.block>.block-content.full {
    margin-left: 0;
    margin-right: 0;
}

.right-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-options>* {
    margin-right: 1rem;
}

.right-options>*:last-child {
    margin-right: 0;
}

.clearfix {
    zoom: 1;
    // 借用 zorro 样式
}


// font
h1,
h2,
h3 {
    color: @color-title;
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-hint {
    color: @color-subhead;
}

.text-blod {
    font-weight: bold;
}

// component
ul.list {
    list-style: none;
    overflow: hidden;
    zoom: 1;
}

ul.list.lf-list>li {
    float: left;
}

ul.list.rf-list>li {
    float: right;
}

// flex
.container {
    display: flex; // -webkit-box-align: center;
    // align-items: center;
    height: 100%;
}