@import '../styles.less';

// colors

@color-title : rgba(0, 0, 0, .9);
@color-content : rgba(0, 0, 0, .65);
@color-subhead : rgba(0, 0, 0, .5);
@color-icon : rgba(0, 0, 0, .3);
@color-border : #f0f0f0;
@color-border-light : #f7f7f7;
@color-link : @primary-color;