<div class="notity-box">
  <div class="notitys-tab-panel">
    <nz-tabset nzAnimated="false" [(nzSelectedIndex)]="tabIndex" (nzSelectChange)="onTabChange($event)">
      <nz-tab [nzTitle]="systemTitle">
        <ng-template #systemTitle>
          <!-- <nz-badge nzDot><span>{{ 'menu.notify.system' | translate }}</span></nz-badge> -->
          <span>{{ 'menu.notify.system' | translate }}{{ sysUnread > 0 ? ('（' + (sysUnread | maxNumber) + '）') : '' }}</span>
          <!-- <nz-badge [nzCount]="sysUnread"><span>{{ 'menu.notify.system' | translate }}</span></nz-badge> -->
          <!-- <span>{{ 'menu.notify.system' | translate }}（{{ sysUnread | maxNumber }}）</span> -->
        </ng-template>
        <div class="notitys">
          <!-- <nz-skeleton [nzLoading]="!isSysLoaded" class="notify-skeleton">
          </nz-skeleton> -->
          <nz-spin [nzSpinning]="!isSysLoaded" style="min-height: 360px;">
            <div *ngIf="isSysLoaded">
              <div *ngIf="sysNotifys.length > 0 else empty" class="n-list scrollbar" infinite-scroll
                [scrollWindow]="false" infiniteScrollDistance="1" (scrolled)="onSysScrollDown()">
                <div class="n-card" [ngClass]="{ 'n-card-read': item.is_read }" *ngFor="let item of sysNotifys">
                  <div class="clearfix">
                    <div class="n-title text-ellipsis" nz-tooltip [nzTitle]="item.title" [nzMouseEnterDelay]="1"
                      style="font-size: 14px;font-weight: bold">
                      {{ item.title }} </div>
                    <div class="n-time" style="font-size: 12px;font-weight: bold">{{ item.created_at }}</div>
                  </div>
                  <div class="n-contont text-ellipsis" style="font-size: 12px;margin-top: 5px" nz-tooltip
                    [nzTitle]="item.content" [nzMouseEnterDelay]="1">
                    <a
                      (click)="messageShareDetails(item.title, item.created_at, item.content, item.related_id, item.type, item)">{{ item.content }}</a>
                  </div>
                </div>
                <nz-skeleton *ngIf="sysPagination.pages > sysPagination.page" [nzTitle]="false"
                  style="margin-top: 1rem;">
                </nz-skeleton>
              </div>
            </div>
          </nz-spin>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="sourceTitle">
        <ng-template #sourceTitle>
          <!-- <nz-badge nzDot><span>{{ 'menu.notify.source' | translate }}</span></nz-badge> -->
          <span>{{ 'menu.notify.source' | translate }}{{ srcUnread > 0 ? ('（' + (srcUnread | maxNumber) + '）') : '' }}</span>
          <!-- <nz-badge [nzCount]="srcUnread"><span>{{ 'menu.notify.source' | translate }}</span></nz-badge> -->
          <!-- <span>{{ 'menu.notify.source' | translate }}（{{ srcUnread | maxNumber }}）</span> -->
        </ng-template>
        <div class="notitys">
          <nz-spin [nzSpinning]="!isSrcLoaded" style="min-height: 360px;">
            <div *ngIf="isSrcLoaded">
              <div *ngIf="srcNotifys.length > 0 else empty" class="n-list scrollbar" infinite-scroll
                [scrollWindow]="false" infiniteScrollDistance="1" (scrolled)="onSrcScrollDown()">
                <div class="n-card" [ngClass]="{ 'n-card-read': item.is_read }" *ngFor="let item of srcNotifys">
                  <div class="clearfix">
                    <div class="n-title text-ellipsis" nz-tooltip [nzTitle]="item.title" [nzMouseEnterDelay]="1">
                      <!-- <nz-badge [nzDot]="!item.is_read"><span>{{ item.title }}</span></nz-badge> -->
                      <span>{{ item.title }}</span>
                    </div>
                    <div class="n-time" style="font-size: 12px;font-weight: bold">{{ item.created_at }}</div>
                  </div>
                  <div class="n-contont text-ellipsis" nz-tooltip [nzTitle]="item.content" [nzMouseEnterDelay]="1"
                    style="font-size: 12px;margin-top: 5px">
                    <a *ngIf="item.is_detail == false">{{ item.content }}</a>
                    <a *ngIf="item.is_detail == true"
                      (click)="messageDetails(item.title, item.created_at, item.content, item.related_id, item.id, item.type, item.is_process)">{{ item.content }}</a>
                  </div>
                </div>
                <nz-skeleton *ngIf="srcPagination.pages > srcPagination.page" [nzTitle]="false"
                  style="margin-top: 1rem;">
                </nz-skeleton>
              </div>
            </div>
          </nz-spin>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="outsideTitle">
        <ng-template #outsideTitle>
          <!-- <nz-badge nzDot><span>{{ 'menu.notify.outside' | translate }}</span></nz-badge> -->
          <span>{{ 'menu.notify.outside' | translate }}{{ outUnread > 0 ? ('（' + (outUnread | maxNumber) + '）') : '' }}</span>
          <!-- <nz-badge [nzCount]="outUnread"><span>{{ 'menu.notify.outside' | translate }}</span></nz-badge> -->
          <!-- <span>{{ 'menu.notify.outside' | translate }}（{{ outUnread | maxNumber }}）</span> -->
        </ng-template>
        <div class="notitys">
          <nz-spin [nzSpinning]="!isOutLoaded" style="min-height: 360px;">
            <div *ngIf="isOutLoaded">
              <div *ngIf="outNotifys.length > 0 else empty" class="n-list scrollbar" infinite-scroll
                [scrollWindow]="false" infiniteScrollDistance="1" (scrolled)="onOutScrollDown()">
                <div class="n-card" [ngClass]="{ 'n-card-read': item.is_read }" *ngFor="let item of outNotifys">
                  <div class="clearfix">
                    <div class="n-title text-ellipsis" nz-tooltip [nzTitle]="item.title" [nzMouseEnterDelay]="1">
                      <!-- <nz-badge [nzDot]="!item.is_read"><span>{{ item.title }}</span></nz-badge> -->
                      <span>{{ item.title }}</span>
                    </div>
                    <div class="n-time" style="font-size: 12px;font-weight: bold">{{ item.created_at }}</div>
                  </div>
                  <div class="n-contont text-ellipsis" nz-tooltip [nzTitle]="item.content" [nzMouseEnterDelay]="1"
                    style="font-size: 12px;margin-top: 5px">
                    <a
                      (click)="externalMessageDetails(item.receive_company_name, item.receive_company_id, item.type)">{{ item.content }}</a>
                  </div>
                </div>
                <nz-skeleton *ngIf="outPagination.pages > outPagination.page" [nzTitle]="false"
                  style="margin-top: 1rem;">
                </nz-skeleton>
              </div>
            </div>
          </nz-spin>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
  <div class="n-operations">
    <!-- <div class="n-operations-button"><a>全部消息</a></div>
    <div class="n-operations-button"><a>清空消息</a></div> -->
  </div>
</div>

<ng-template #empty>
  <div class="text-hint empty-box">{{ 'global.no-data' | translate }}</div>
</ng-template>

<!-- <nz-drawer nzClosable="false" nzWidth="35%" [nzVisible]="visible" nzPlacement="left" [nzTitle]="drawerTitle"
  (nzOnClose)="close()">
  <div style="font-size: 12px;font-weight: bold;margin-top: 10px">{{drawerCreated_at}}</div>
  <div style="font-size: 12px;margin-top: 5px;margin-bottom: 25px">{{drawerContent}}</div>

  
</nz-drawer> -->
<!-- <nz-drawer nzClosable="false" nzWidth="35%" [nzVisible]="visible" nzPlacement="left" [nzTitle]="drawerTitle" 
  (nzOnClose)="close()">
  <div style="font-size: 12px;font-weight: bold;margin-top: 10px">{{drawerCreated_at}}</div>
  <div style="font-size: 12px;margin-top: 5px;margin-bottom: 25px">{{drawerContent}}</div>
  <div *ngIf="type === 'SOU005'">
    <nz-divider nzText="授权信息"></nz-divider>
    <div class="block clearfix">
      <div class="block-content">
        <div nz-row class="series-info-row">
          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">授权公司</span>
            <span>{{ authInfo?.company_full_name }}</span>
          </div>
          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">联系人</span>
            <span>{{ authInfo?.created_name }}</span>
          </div>
        </div>
        <div nz-row class="series-info-row">
          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">手机号码</span>
            <span>{{ authInfo?.created_phone }}</span>
          </div>

          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">节目名称</span>
            <span>{{ authInfo?.source?.program_name }}</span>
          </div>
        </div>
        <div nz-row class="series-info-row">
          <div nz-col nzSpan="12">
            <span class="info-filed">母带版本</span>
            <span>{{ authInfo?.source?.name }}</span>
          </div>
          <div nz-col nzSpan="12">
            <span class="info-filed">集数</span>
            <span>{{ authInfo?.source?.episode }}</span>
          </div>
        </div>
        <div nz-row class="series-info-row">
          <div nz-col nzSpan="12">
            <span class="info-filed">语言</span>
            <span *ngIf="authInfo?.source?.language == 'Chinese'">{{ 'app.series.language-chinese' | translate }}</span>
            <span *ngIf="authInfo?.source?.language == 'English'">{{ 'app.series.language-english' | translate }}</span>
          </div>
          <div nz-col nzSpan="12">
            <span class="info-filed">字幕</span>
            <span *ngIf="authInfo?.source?.subtitle == 'Chinese'">{{ 'app.series.language-chinese' | translate }}</span>
            <span *ngIf="authInfo?.source?.subtitle == 'English'">{{ 'app.series.language-english' | translate }}</span>
          </div>
        </div>
        <div nz-row class="series-info-row">
          <div nz-col nzSpan="12">
            <span class="info-filed">格式</span>
            <span>{{ authInfo?.source?.format }}</span>
          </div>
          <div nz-col nzSpan="12">
            <span class="info-filed">码率</span>
            <span>{{ authInfo?.source?.bit_rate }}</span>
          </div>
        </div>
      </div>
    </div>
    <nz-radio-group [(ngModel)]="choseCompany" (ngModelChange)="onChoseCompany($event)">
      <label nz-radio [ngStyle]="style" *ngFor="let option of companyList"
        [nzValue]="option.id">{{option.company_full_name}}</label>
    </nz-radio-group>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item *ngIf='isChoseShow === false'>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired>公司</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24">
          <input nz-input id="companyFullName" formControlName="companyFullName" placeholder="请填写接受公司" />
          <nz-form-explain
            *ngIf="validateForm.get('companyFullName').dirty && validateForm.get('companyFullName').errors">请填写接受公司
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired>手机号码</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24">
          <input placeholder="请填写手机号码" nz-input id="phone" formControlName="phone" />
          <nz-form-explain *ngIf="validateForm.get('phone').dirty && validateForm.get('phone').errors?.required">请选填手机号码
          </nz-form-explain>
          <nz-form-explain *ngIf="validateForm.get('phone').dirty && validateForm.get('phone').errors?.pattern">
            请输入正确的手机号码
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div style="text-align: center;margin-top: 25px;margin-bottom: 100px">
      <button nz-button nzType="danger" (click)="refused()">拒绝</button>
      <button nz-button nzType="primary" style="margin-left: 50px" (click)="submit()">确认接受</button>
    </div>
  </div> -->


  <!-- <div *ngIf="type === 'PUB001'">
    <nz-divider nzText="发送信息"></nz-divider>
    <div class="block clearfix">
      <div class="block-content">
        <div nz-row class="series-info-row">
          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">节目名称</span>
            <span>{{ publicity?.program?.name }}</span>
          </div>
          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">节目类型</span>
            <span>{{ publicity?.program?.program_type }}</span>
          </div>
          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">集数</span>
            <span>{{ publicity?.program?.episode }}</span>
          </div>
          <div nz-col nzSpan="12">
            <span class="info-filed">语言</span>
            <span
              *ngIf="publicity?.source?.language == 'Chinese'">{{ 'app.series.language-chinese' | translate }}</span>
            <span
              *ngIf="publicity?.source?.language == 'English'">{{ 'app.series.language-english' | translate }}</span>
          </div>
        </div>
        <div nz-row class="series-info-row">

          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">发行时间</span>
            <span>{{ publicity?.program?.release_date }}</span>
          </div>
          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">主题</span>
            <span>{{ publicity?.program?.theme }}</span>
          </div>
          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">出品方</span>
            <span>{{ created_employee?.company_name }}</span>
          </div>
          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">总制片人</span>
            <span>{{ publicity?.program?.general_producer }}</span>
          </div>
        </div>
        <div nz-row class="series-info-row">
          <div nz-col nzSpan="12">
            <span class="info-filed">发送公司</span>
            <span>{{ created_employee?.company_full_name }}</span>
          </div>
          <div nz-col nzSpan="12">
            <span class="info-filed">联系人</span>
            <span>{{ created_employee?.name }}</span>
          </div>
          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">手机号码</span>
            <span>{{ created_employee?.phone }}</span>
          </div>
          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">部门</span>
            <span>{{ created_employee?.department }}</span>
          </div>
        </div>
      </div>
    </div>
    <nz-divider nzText="接收公司"></nz-divider>
    <nz-radio-group [(ngModel)]="disparCompany" (ngModelChange)="onDisperChange($event)">
      <label nz-radio [ngStyle]="style" *ngFor="let option of companyList"
        [nzValue]="option.id">{{option.company_full_name}}</label>
    </nz-radio-group> -->
    <!-- <form nz-form [formGroup]="validateForm">
      <nz-form-item *ngIf='isDisparShow === false'>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired>公司</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24">
          <input nz-input id="companyName" formControlName="companyName" placeholder="请填写接受公司" />
          <nz-form-explain *ngIf="validateForm.get('companyName').dirty && validateForm.get('companyName').errors">
            请填写接受公司
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired>手机号码</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24">
          <input placeholder="请填写手机号码" nz-input id="phone" formControlName="phone" />
          <nz-form-explain *ngIf="validateForm.get('phone').dirty && validateForm.get('phone').errors?.required">请选填手机号码
          </nz-form-explain>
          <nz-form-explain *ngIf="validateForm.get('phone').dirty && validateForm.get('phone').errors?.pattern">
            请输入正确的手机号码
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </form> -->

    <!-- <div style="text-align: center;margin-top: 50px;margin-bottom: 100px">
      <button nz-button nzType="danger" (click)="sharedRefused()">拒绝</button>
      <button nz-button nzType="primary" style="margin-left: 50px" (click)="sharedSubmit()">确认接受公司</button>
    </div> -->
  <!-- </div> -->
<!-- </nz-drawer> -->