<form nz-form [formGroup]="liaisonForm">
  <nz-form-item>
    <nz-form-label [nzSm]="3" nzFor="name" nzRequired>联系人名</nz-form-label>
    <nz-form-control [nzSm]="9">
      <input nz-input placeholder="请输入联系人名称" id="name" formControlName="name">
      <nz-form-explain *ngIf="liaisonForm.get('name').dirty && liaisonForm.get('name').errors">
        请输入联系人名称
      </nz-form-explain>
    </nz-form-control>
    <nz-form-label [nzSm]="3" nzFor="phone" nzRequired>手机号码</nz-form-label>
    <nz-form-control [nzSm]="9">
      <input nz-input placeholder="请输入联系人手机号码" id="phone" formControlName="phone">
      <nz-form-explain *ngIf="liaisonForm.get('phone').dirty && liaisonForm.get('phone').errors?.required">
        请输入联系人手机号码
      </nz-form-explain>
      <nz-form-explain *ngIf="liaisonForm.get('phone').dirty && liaisonForm.get('phone').errors?.pattern">
        请输入正确的手机号码
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="3" nzFor="wx_id">微信号</nz-form-label>
    <nz-form-control [nzSm]="9">
      <input nz-input placeholder="请输入联系人微信号" id="wx_id" formControlName="wx_id">
    </nz-form-control>
    <nz-form-label [nzSm]="3" nzFor="email">邮箱</nz-form-label>
    <nz-form-control [nzSm]="9">
      <input nz-input placeholder="请输入联系人邮箱地址" id="email" formControlName="email">
      <nz-form-explain *ngIf="liaisonForm.get('email').dirty && liaisonForm.get('email').errors">
        请输入正确的邮箱
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="3" nzFor="department">所属部门</nz-form-label>
    <nz-form-control [nzSm]="9">
      <input nz-input placeholder="请输入联系人所属部门" id="department" formControlName="department">
    </nz-form-control>
    <nz-form-label [nzSm]="3" nzFor="position">所在职位</nz-form-label>
    <nz-form-control [nzSm]="9">
      <input nz-input placeholder="请输入联系人所在职位" id="position" formControlName="position">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="3" nzFor="remark">备注</nz-form-label>
    <nz-form-control [nzSm]="21">
      <input nz-input placeholder="请输入联系人备注信息" id="remark" formControlName="remark">
    </nz-form-control>
  </nz-form-item>
</form>