
      
          <nz-table #basicTable nzBordered>
              <thead>
                <tr>
                  <th>#</th>
                  <th>频道</th>
                  <th>栏目</th>
                  <th>播出日期</th>
                  <th>集数</th>
                  <th>首播日期</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>#</td>
                  <td rowspan="2">上海卫视</td>
                  <td rowspan="1">黄金剧场</td>
                  <td rowspan="2">周一~周五</td>
                  <td rowspan="2">46集</td>
                  <td rowspan="2">2019-08-09</td>
                </tr>
              </tbody>
            </nz-table>
    

