<div class="modal-panel">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired>公司</nz-form-label>
      <nz-form-control [nzSm]="21" [nzXs]="24">
        <input placeholder="请选填公司" nz-input id="company" formControlName="company"
          (input)="onCompanyInput($event.target?.value)" (ngModelChange)="companyChange($event.target?.value)" [nzAutocomplete]="autoCompanies" />
        <nz-autocomplete nzBackfill #autoCompanies>
          <nz-auto-option *ngFor="let option of filteredCompanyOptions" [nzValue]="option.name">
            {{ option.name }}
          </nz-auto-option>
        </nz-autocomplete>
        <nz-form-explain *ngIf="validateForm.get('company').dirty && validateForm.get('company').errors">请选填公司
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="3" nzRequired>联系人</nz-form-label>
      <nz-form-control [nzSm]="9">
        <input placeholder="请选填联系人" nz-input id="contact" formControlName="contact" (ngModelChange)="contactChange()"
          (input)="onContactInput($event.target?.value)" [nzAutocomplete]="autoContacts" />
        <nz-autocomplete nzBackfill #autoContacts>
          <nz-auto-option *ngFor="let option of contactOptions" [nzValue]="option">
            {{ option }}
          </nz-auto-option>
        </nz-autocomplete>
        <nz-form-explain *ngIf="validateForm.get('contact').dirty && validateForm.get('contact').errors">请选填联系人
        </nz-form-explain>
      </nz-form-control>
      <nz-form-label [nzSm]="3"nzRequired>手机号码</nz-form-label>
      <nz-form-control [nzSm]="9">
        <input placeholder="请选填手机号码" nz-input id="phone" formControlName="phone"
          (input)="onPhoneInput($event.target?.value)" [nzAutocomplete]="auto"/>
        <nz-autocomplete nzBackfill #auto>
          <nz-auto-option *ngFor="let option of phoneOptions" [nzValue]="option">
            {{ option }}
          </nz-auto-option>
        </nz-autocomplete>
        <nz-form-explain *ngIf="validateForm.get('phone').dirty && validateForm.get('phone').errors?.required">请选填手机号码
        </nz-form-explain>
        <nz-form-explain *ngIf="validateForm.get('phone').dirty && validateForm.get('phone').errors?.pattern">
            请输入正确的手机号码
          </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
 
  </form>
</div>