@import '~styles/theme';
// .roles {
//     width: 12rem;
//     padding-right: 2rem;
// }

// .authority {
//     flex: 1;
//     min-height: 30rem;
//     border-left: 1px solid @color-border;
//     padding-left: 2rem;
// }

// .role-list {
//     margin-bottom: 0.5rem;
// }
// .role-list>li {
//     width: 100%;
//     height: 2.4rem;
//     line-height: 2.4rem;
// }
// .role-list>li:hover {
//     background-color: #f8f8f9;
// }

.roles {
    width: 100%;
    margin-bottom: 1.8rem;
    font-size: 0.8rem;
}

.role-radio {
    height: 26px !important;
    line-height: 24px !important;
}

.editable-tag {
    margin-left: 1rem;
}

.editable-tag ::ng-deep .ant-tag {
    background: rgb(255, 255, 255);
    border-style: dashed;
}

.add-input {
    width: 10rem;
    margin-left: 1rem;
}