<div style="font-size: 12px;font-weight: bold;margin-top: 10px">{{ created_at }}</div>
  <div style="font-size: 12px;margin-top: 5px;margin-bottom: 25px">{{ content }}</div>
  <div *ngIf="type === 'SOU005'">
    <nz-divider nzText="授权信息"></nz-divider>
    <div class="block clearfix">
      <div class="block-content">
        <div nz-row class="series-info-row">
          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">授权公司</span>
            <span>{{ authInfo?.company_full_name }}</span>
          </div>
          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">联系人</span>
            <span>{{ authInfo?.created_name }}</span>
          </div>
        </div>
        <div nz-row class="series-info-row">
          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">手机号码</span>
            <span>{{ authInfo?.created_phone }}</span>
          </div>

          <div nz-col nzSpan="12" class="text-ellipsis">
            <span class="info-filed">节目名称</span>
            <span>{{ authInfo?.source?.program_name }}</span>
          </div>
        </div>
        <div nz-row class="series-info-row">
          <div nz-col nzSpan="12">
            <span class="info-filed">母带版本</span>
            <span>{{ authInfo?.source?.name }}</span>
          </div>
          <div nz-col nzSpan="12">
            <span class="info-filed">集数</span>
            <span>{{ authInfo?.source?.episode }}</span>
          </div>
        </div>
        <div nz-row class="series-info-row">
          <div nz-col nzSpan="12">
            <span class="info-filed">语言</span>
            <span *ngIf="authInfo?.source?.language == 'Chinese'">{{ 'app.series.language-chinese' | translate }}</span>
            <span *ngIf="authInfo?.source?.language == 'English'">{{ 'app.series.language-english' | translate }}</span>
          </div>
          <div nz-col nzSpan="12">
            <span class="info-filed">字幕</span>
            <span *ngIf="authInfo?.source?.subtitle == 'Chinese'">{{ 'app.series.language-chinese' | translate }}</span>
            <span *ngIf="authInfo?.source?.subtitle == 'English'">{{ 'app.series.language-english' | translate }}</span>
          </div>
        </div>
        <div nz-row class="series-info-row">
          <div nz-col nzSpan="12">
            <span class="info-filed">格式</span>
            <span>{{ authInfo?.source?.format }}</span>
          </div>
          <div nz-col nzSpan="12">
            <span class="info-filed">码率</span>
            <span>{{ authInfo?.source?.bit_rate }}</span>
          </div>
        </div>
      </div>
    </div>
    <form nz-form [formGroup]="validateForm">
      <!-- <nz-form-item *ngIf='isChoseShow === false'>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired>公司</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24">
          <input nz-input id="companyFullName" formControlName="companyFullName" placeholder="请填写接受公司" />
          <nz-form-explain
            *ngIf="validateForm.get('companyFullName').dirty && validateForm.get('companyFullName').errors">请填写接受公司
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item> -->
      <nz-form-item>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired>接受公司</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24">
          <nz-radio-group formControlName="companyFullName" (ngModelChange)="onChoseCompany($event)">
            <label nz-radio *ngFor="let option of companyList" style="display: block;margin-top: 9px"
              [nzValue]="option.company_id">{{option.company_full_name}}</label>
          </nz-radio-group>
          <nz-form-explain
            *ngIf="validateForm.get('companyFullName').dirty && validateForm.get('companyFullName').errors">请选择接受公司
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired>手机号码</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24">
          <input placeholder="请填写手机号码" nz-input id="phone" formControlName="phone" />
          <nz-form-explain *ngIf="validateForm.get('phone').dirty && validateForm.get('phone').errors?.required">请选填手机号码
          </nz-form-explain>
          <nz-form-explain *ngIf="validateForm.get('phone').dirty && validateForm.get('phone').errors?.pattern">
            请输入正确的手机号码
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
