<div class="block clearfix">
  <div class="block-content">
    <div class="container series-head-info">
      <h2 style="margin: 0;"><a (click)="showInfo()">{{ seriesInfo?.name }}</a></h2>
      <nz-tag style="margin-left: 1rem;" class="type-tag">{{ seriesInfo?.program_type | seriesType }}</nz-tag>
      <div class="flex-none"></div>
      <span>
        <nz-radio-group [(ngModel)]="category" nzSize="small">
          <label nz-radio-button nzValue="publicities" [routerLink]="'publicityd'" [routerLinkActive]="'ant-radio-button-wrapper-checked'">{{ 'app.series.publicity' | translate }}</label>
          <label nz-radio-button nzValue="tapes" [routerLink]="'tape'" [routerLinkActive]="'ant-radio-button-wrapper-checked'">{{ 'app.series.source' | translate }}</label>
          <label nz-radio-button nzValue="copyrights" [routerLink]="'right'" [routerLinkActive]="'ant-radio-button-wrapper-checked'">版权</label>
        </nz-radio-group>
        <ng-template #publicityOk>
          <label nz-button for="fileUpload" style="width:72px;height: 24px;padding: 0px;margin-top: 15px">
              {{ 'app.series.upload' | translate }}
            </label>
            <input id="fileUpload" hidden type="file" (change)="publicityUpload($event)" multiple="multiple">
        </ng-template>
      </span>
    </div>
  </div>
</div>

<div class="block clearfix" *ngIf="sif == true">
  <div class="block-header">
    <div class="block-title">
      <span>{{ 'app.series.basic-info' | translate }}</span>
      <a style="margin-left: 1rem" (click)="editSeries()"><i nz-icon type="edit" theme="outline"></i></a>
    </div>
  </div>
  <div class="block-content">
    <div nz-row class="series-info-row">
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.series-name' | translate }}</span>
        <span>{{ seriesInfo?.name }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.episode' | translate }}</span>
        <span>{{ seriesInfo?.episode }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.theme' | translate }}</span>
        <span>{{ seriesInfo?.theme }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.language' | translate }}</span>
        <span *ngIf="seriesInfo?.language == 'Chinese'">{{ 'app.series.language-chinese' | translate }}</span>
        <span *ngIf="seriesInfo?.language == 'English'">{{ 'app.series.language-english' | translate }}</span>
      </div>
    </div>
    <div nz-row class="series-info-row">
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.series-nickname' | translate }}</span>
        <span>{{ seriesInfo?.nickname }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.release-date' | translate }}</span>
        <span>{{ seriesInfo?.release_date }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.supervisor' | translate }}</span>
        <span>{{ seriesInfo?.supervisor }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.general-producer' | translate }}</span>
        <span>{{ seriesInfo?.general_producer }}</span>
      </div>
    </div>
    <div nz-row class="series-info-row">
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.program-type' | translate }}</span>
        <span>{{ seriesInfo?.program_type | seriesType }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.director' | translate }}</span>
        <span>{{ seriesInfo?.director }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.screen-writer' | translate }}</span>
        <span>{{ seriesInfo?.screen_writer }}</span>
      </div>
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.producer' | translate }}</span>
        <span>{{ seriesInfo?.producer }}</span>
      </div>
    </div>
    <div nz-row class="series-info-row">
      <div nz-col nzSpan="6">
        <span class="info-filed">{{ 'app.series.protagonist' | translate }}</span>
        <span>{{ seriesInfo?.protagonist }}</span>
      </div>
      <div nz-col nzSpan="18">
        <span class="info-filed">{{ 'app.series.product-company' | translate }}</span>
        <span>{{ seriesInfo?.product_company }}</span>
      </div>
    </div>
    <div nz-row class="series-info-row">
      <div nz-col nzSpan="24">
        <span class="info-filed">{{ 'app.series.desc' | translate }}</span>
        <span>{{ seriesInfo?.introduction }}</span>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>