<div class="block clearfix fade-in-up">
  <div class="block-header" style="padding-left: 0;">
    <div class="s-nav-wapper">
      <nav class="s-nav">
        <ul class="list s-nav-list">
          <li class="nav-item">
            <a class="s-nav-link" [routerLinkActive]="'active'"
              [routerLink]="'declared'">{{ 'app.transmit.source' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="s-nav-link" [routerLinkActive]="'active'" [routerLink]="'type'" nz-tooltip>
              {{ 'app.transmit.purchased-source' | translate }}
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="block-content">
    <router-outlet></router-outlet>
  </div>
</div>