<div class="block clearfix fade-in-up">
  <div class="block-header" style="padding-left: 0;">
    <div class="s-nav-wapper">
      <nav class="s-nav">
        <ul class="list s-nav-list">
          <li class="nav-item" acl [acl-ability]="ability.program.source.upload">
            <a class="s-nav-link" [routerLinkActive]="'active'" [routerLink]="'declared'">已上载母带</a>
          </li>
          <li class="nav-item" acl [acl-ability]="ability.program.source.download">
            <a class="s-nav-link" [routerLinkActive]="'active'" [routerLink]="'type'" nz-tooltip>
              可下载母带
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="block-options">
      <a href="https://cs.bctop.net:7000/HashLinkClientSetup4.02.msi">下载客户端</a>
    </div>
  </div>
  <div class="block-content">
    <router-outlet></router-outlet>
  </div>
</div>