<div class="review-top-bigbox" *ngFor="let item of intentonName;let i = index">
  <div>{{i+1}}.{{item}}</div>
</div>
<div class="order">
  <span style="white-space:pre"></span> <span class="line" style="margin-right:9px"></span>
  <span style="white-space:pre"></span> <span class="txt">并<span style="color: #4797F7;">短信</span>通知以下三审人员</span>
  <span style="white-space:pre"></span> <span class="line" style="margin-left:9px"></span>
</div>
<div class="review-btn-bigbox">
  <p style="font-size: 12px;font-weight:400;color:#666666;">内部人员</p>
  <div *ngFor="let item of reviewName;let i = index" style="display: flex;justify-content:space-between;">
    <div style="margin-left: 26px">{{i+1}}.{{item.name}}</div>
    <div style="margin-right: 56px">{{item.phone}}</div>
  </div>
</div>
<div></div>