<!-- <div class="tapes-wrap">
  <div class="tapes-info">
    <div>
      <p class="clearfix">
        <button nz-button nzType="default" class="rf" (click)="addTape()">{{ 'app.series.add-source' | translate }}</button>
      </p>
    </div>
    <nz-table #basicTable [nzData]="dataset" [nzPageSize]="pagination?.page_size" [nzFrontPagination]="false"
      [nzPageIndex]="pagination?.page" [nzTotal]="pagination?.count"
      (nzPageIndexChange)="pageChange($event)">
      <thead>
        <tr>
            <th>#</th>
          <th>{{ 'app.series.series-name' | translate }}</th>
          <th>{{ 'app.series.source-name' | translate }}</th>
          <th>{{ 'app.series.source-type' | translate }}</th>
          <th>{{ 'app.series.episode' | translate }}</th>
          <th>{{ 'app.series.language' | translate }}</th>
          <th>{{ 'app.series.subtitle' | translate }}</th>
          <th>{{ 'app.series.operation' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data;let i = index">
            <td>{{ i + 1 + pagination.page * 10 - 10}}</td>
          <td>{{ data.program_name }}</td>
          <td><a (click)="tapeDetails(data.program_id, data.id, data.source_type)">{{ data.name }}</a></td>
          <td>{{ data.source_type == 'online' ? ('app.series.source-type-online' | translate) : ('app.series.source-type-entity' | translate) }}</td>
          <td>{{ data.episode }}</td>
          <td>
              <span *ngIf="data?.language == 'Chinese'">中文</span>
              <span *ngIf="data?.language == 'English'">英语</span>
              <span *ngIf="data?.language == 'other'">其他</span>
          </td>
          <td>
              <span *ngIf="data?.subtitle == 'Chinese'">中文</span>
              <span *ngIf="data?.subtitle == 'English'">英语</span>
              <span *ngIf="data?.subtitle == 'other'">其他</span>
          </td>
          <td><a (click)="deleteTape(data.id)"><i nz-icon type="delete" theme="outline" style="font-size: 14px"></i></a></td>
        </tr>
      </tbody>
    </nz-table>
  </div> -->

<div *ngIf="isLoaded" [@fadeIn]>
  <div class="options-bar">
    <div class="options-wrapper flex-right">
      <button nz-button nzType="default" class="rf"
        (click)="addTape()">{{ 'app.series.add-source' | translate }}</button>
    </div>
  </div>
  <nz-table #basicTable [nzData]="dataset" [nzPageSize]="pagination?.page_size" [nzFrontPagination]="false"
    [nzPageIndex]="pagination?.page" [nzTotal]="pagination?.count" (nzPageIndexChange)="pageChange($event)">
    <thead>
      <tr>
        <th>#</th>
        <th>{{ 'app.series.series-name' | translate }}</th>
        <th>{{ 'app.series.source-name' | translate }}</th>
        <th>{{ 'app.series.source-type' | translate }}</th>
        <th>{{ 'app.series.episode' | translate }}</th>
        <th>{{ 'app.series.language' | translate }}</th>
        <th>{{ 'app.series.subtitle' | translate }}</th>
        <th>{{ 'app.series.operation' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data;let i = index">
        <td>{{ i + 1 + pagination.page * 5 - 5}}</td>
        <td>{{ data.program_name }}</td>
        <td><a (click)="tapeDetails(data.program_id, data.id, data.source_type)">{{ data.name }}</a></td>
        <td>
          {{ data.source_type == 'online' ? ('app.series.source-type-online' | translate) : ('app.series.source-type-entity' | translate) }}
        </td>
        <td>{{ data.episode }}</td>
        <td>
          <span *ngIf="data?.language == 'Chinese'">中文</span>
          <span *ngIf="data?.language == 'English'">英语</span>
          <span *ngIf="data?.language == 'other'">其他</span>
        </td>
        <td>
          <span *ngIf="data?.subtitle == 'Chinese'">中文</span>
          <span *ngIf="data?.subtitle == 'English'">英语</span>
          <span *ngIf="data?.subtitle == 'other'">其他</span>
        </td>
        <td><a (click)="deleteTape(data.id)" acl [acl-ability]="ability.program.source.del"><i nz-icon type="delete"
              theme="outline" style="font-size: 14px"></i></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>