<div class="tapes-wrap">
  <div class="tapes-info">
    <div>
      <p class="clearfix">
        <button nz-button nzType="default" class="rf" (click)="addTape()">新增母带</button>
      </p>
    </div>
    <nz-table #basicTable [nzData]="dataset" [nzPageSize]="pagination?.page_size" [nzFrontPagination]="false"
      [nzPageIndex]="pagination?.page" [nzTotal]="pagination?.count"
      (nzPageIndexChange)="pageChange($event)">
      <thead>
        <tr>
          <th>节目名称</th>
          <th>母带版本</th>
          <th>类型</th>
          <th>集数</th>
          <th>语言</th>
          <th>字幕</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.program_name }}</td>
          <td><a (click)="tapeDetails(data.program_id, data.id, data.source_type)">{{ data.name }}</a></td>
          <td>{{ data.source_type == 'online' ? '在线' : '实体' }}</td>
          <td>{{ data.episode }}</td>
          <td>
              <span *ngIf="data?.language == 'Chinese'">中文</span>
              <span *ngIf="data?.language == 'English'">英语</span>
          </td>
          <td>
              <span *ngIf="data?.subtitle == 'Chinese'">中文</span>
              <span *ngIf="data?.subtitle == 'English'">英语</span>
              <span *ngIf="data?.subtitle == 'other'">其他</span>
          </td>
          <td><a><i nz-icon type="delete" theme="outline" style="font-size: 14px"></i></a></td>
        </tr>
      </tbody>
    </nz-table>
  </div>