<footer class="footer">
  <div class="container text-center">
    <span class="passport">沪备00000000000号 ©2019 BCTOP 保留所有权利</span>
  </div>
</footer>
<!-- <div class="global-footer-one">
  <span class="global-footer-two">BCTOP影业助手</span>
  <span class="global-footer-three">{{ 'menu.recommend' | translate }}</span>
  <span class="global-footer-four">
    <a>{{ 'menu.aboutUs' | translate }}</a>
  </span>
</div>
<div class="global-footer-five">
  <span class="global-footer-six">copyright©️ 2018 bctop all right reserved.</span>
  <span class="global-footer-seven">{{ 'menu.batchNumber' | translate }}</span>
  <i class="iconfont icon-weixin global-footer-eight"></i>
  <span class="global-footer-nine">{{ 'menu.wx' | translate }}</span>
</div> -->







