<footer class="footer" [ngClass]="{'footer-dark': theme == 'dark', 'footer-light': theme ==  'light'}">
  <div class="container text-center">
    <span class="passport"><a class="beian-link" href="http://beian.miit.gov.cn/">沪ICP备16029310号-1</a>
      <span style="margin-left: 10px;">©2019</span>
      <span style="margin-left: 10px;">BCTOP</span>
      <span style="margin-left: 10px;">上海北丞科技股份有限公司</span>
      <span style="margin-left: 10px;">保留所有权利</span>
    </span>
  </div>
</footer>
<!-- <div class="global-footer-one">
  <span class="global-footer-two">BCTOP影业助手</span>
  <span class="global-footer-three">{{ 'menu.recommend' | translate }}</span>
  <span class="global-footer-four">
    <a>{{ 'menu.aboutUs' | translate }}</a>
  </span>
</div>
<div class="global-footer-five">
  <span class="global-footer-six">copyright©️ 2018 bctop all right reserved.</span>
  <span class="global-footer-seven">{{ 'menu.batchNumber' | translate }}</span>
  <i class="iconfont icon-weixin global-footer-eight"></i>
  <span class="global-footer-nine">{{ 'menu.wx' | translate }}</span>
</div> -->