<div>
  <div class="options-bar">
    <div class="options-wrapper">
      <nz-radio-group [(ngModel)]="radioValue" [nzButtonStyle]="'solid'">
        <label nz-radio-button nzValue="A">编播信息</label>
        <label nz-radio-button nzValue="B">编播排挡</label>
        <label nz-radio-button nzValue="C" [routerLink]="'theatre'">栏目</label>
      </nz-radio-group>
    </div>
    <div class="options-wrapper">
      <button nz-button nzType="primary" nzSmall="small" (click)="addTheatre()">新增栏目</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>