<div class ="block clearfix">
    <div class ="block-content">
  <div class="options-bar">
    <div class="options-wrapper">
      <nz-radio-group  [(ngModel)]="radioValue" [nzButtonStyle]="'solid'">
        <label nz-radio-button nzValue="broadcastInfo"  [routerLink]="'info'" [routerLinkActive]="'ant-radio-button-wrapper-checked'">播表</label>
        <label nz-radio-button nzValue="editBroadcastPlan" [routerLink]="'edit-broadcast-plan'" [routerLinkActive]="'ant-radio-button-wrapper-checked'">编排计划</label>
        <label nz-radio-button nzValue="theatre" [routerLink]="'theatre'" [routerLinkActive]="'ant-radio-button-wrapper-checked'">剧场</label>
      </nz-radio-group>
    </div>
    <div class="options-wrapper">
      <button nz-button nzType="primary" *ngIf="radioValue == 'theatre'" nzSmall="small" (click)="addTheatre()">新增栏目</button>
      <!-- <button nz-button nzType="primary" *ngIf="radioValue == 'editBroadcastPlan'" nzSmall="small" (click)="view()">已完成编排，前往查看</button> -->
    </div>
  </div>
  <router-outlet></router-outlet>
  </div>
</div>