<nz-table #basicTable [nzData]="listOfData" [nzShowPagination]="false" [nzBordered]="true">
  <thead>
    <tr>
      <th>#</th>
      <th>频道</th>
      <th>剧场</th>
      <th>首播日期</th>
      <th>播出时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td [attr.rowspan]="data.count" *ngIf="data.index == 0">{{ i + 1 }}</td>
      <td [attr.rowspan]="data.count" *ngIf="data.index == 0">{{ data.channelName }}</td>
      <td>{{ data.theatreName }}
        <div *ngFor="let weekData of data.weekday_schedules;">
          <nz-tag [nzColor]="'orange'">
            <span *ngIf="weekData.weekdays[0]== 1">星期一</span>
            <span *ngIf="weekData.weekdays[0]== 2">星期二</span>
            <span *ngIf="weekData.weekdays[0]== 3">星期三</span>
            <span *ngIf="weekData.weekdays[0]== 4">星期四</span>
            <span *ngIf="weekData.weekdays[0]== 5">星期五</span>
            <span *ngIf="weekData.weekdays[0]== 6">星期六</span>
            <span *ngIf="weekData.weekdays[0]== 7">星期日</span>
            &nbsp;~&nbsp;
            <span *ngIf="weekData.weekdays[weekData.weekdays.length - 1]== 1">星期一</span>
            <span *ngIf="weekData.weekdays[weekData.weekdays.length - 1]== 2">星期二</span>
            <span *ngIf="weekData.weekdays[weekData.weekdays.length - 1]== 3">星期三</span>
            <span *ngIf="weekData.weekdays[weekData.weekdays.length - 1]== 4">星期四</span>
            <span *ngIf="weekData.weekdays[weekData.weekdays.length - 1]== 5">星期五</span>
            <span *ngIf="weekData.weekdays[weekData.weekdays.length - 1]== 6">星期六</span>
            <span *ngIf="weekData.weekdays[weekData.weekdays.length - 1]== 7">星期日</span>
            /&nbsp;
            <span>{{ weekData.number }}集</span>
          </nz-tag>
        </div>
      </td>
      <td>{{ data.air_date }}</td>
      <td>{{ data.broadcast_time }}</td>
      <td>
        <a  *ngIf="data.isHasTheatre == true" nz-popconfirm nzTitle="是否删除此剧场？" (nzOnConfirm)="deleteTheatre(data.theatreId)" ><i class="text-info" nz-icon
            type="delete" theme="outline"></i></a>
            <a   *ngIf="data.isHasTheatre == false" nz-popconfirm nzTitle="是否删除此频道？" (nzOnConfirm)="deleteChannel(data.channelId)" ><i class="text-info" nz-icon
              type="delete" theme="outline"></i></a>
      </td>
    </tr>
  </tbody>
</nz-table>