<p>
  <nz-breadcrumb>
    <nz-breadcrumb-item>主页</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="'/manage/series/switchRight/rights'">版权列表</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>版权发行</nz-breadcrumb-item>
  </nz-breadcrumb>
</p>

<div class="block clearfix">
  <div class="block-header">
    <div class="block-title">版权发行</div>
  </div>
  <div class="block-content">
    <h4>合同</h4>
    <nz-divider style="margin-top: 1rem"></nz-divider>

    <form nz-form [formGroup]="contractForm" #contractFormRef>

      <nz-form-item>
        <nz-form-label [nzSm]="2" nzFor="customer" nzRequired>签约客户
          <!-- <span>
            签约客户
            <i nz-icon nz-tooltip nzTitle="不存在的客户将同时新增" type="question-circle" theme="outline"></i>
          </span> -->
        </nz-form-label>
        <nz-form-control [nzSm]="10">
          <!-- <nz-select nzShowSearch nzAllowClear nzPlaceHolder="选择客户" formControlName="customer">
            <nz-option *ngFor="let option of customerOptions" [nzLabel]="option.name" [nzValue]="option.id">
            </nz-option>
          </nz-select> -->
          <input placeholder="选择客户" nz-input formControlName="customer" (input)="onCustomerInput($event.target?.value)"
            [nzAutocomplete]="auto" nz-tooltip nzTitle="不存在的客户将一并新增" nzTrigger="focus" nzPlacement="topLeft" />
          <nz-autocomplete nzBackfill #auto>
            <nz-auto-option *ngFor="let option of filteredCustomerOptions" [nzValue]="option">
              {{ option }}
            </nz-auto-option>
          </nz-autocomplete>
          <nz-form-explain *ngIf="contractForm.get('customer').dirty && contractForm.get('customer').errors">请输入签约客户
          </nz-form-explain>
          <!-- <nz-form-extra>{{ contractForm.get('customer').value }}</nz-form-extra> -->
        </nz-form-control>

        <nz-form-label [nzSm]="2" nzFor="signDate" nzRequired>签约时间</nz-form-label>
        <nz-form-control [nzSm]="10">
          <nz-date-picker id="signDate" nzAllowClear="false" formControlName="signDate" nzPlaceHolder="签约时间"
            style="width: 100%;" [nzStyle]="{ width: '100%' }">
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="2" nzFor="contractNumber">合同编号</nz-form-label>
        <nz-form-control [nzSm]="10">
          <input nz-input formControlName="contractNumber" placeholder="合同编号">
          <nz-form-explain
            *ngIf="contractForm.get('contractNumber').dirty && contractForm.get('contractNumber').errors">请输入合同编号
          </nz-form-explain>
        </nz-form-control>

        <nz-form-label [nzSm]="2" nzFor="contractName">合同名称</nz-form-label>
        <nz-form-control [nzSm]="10">
          <input nz-input formControlName="contractName" placeholder="合同名称">
          <!-- <nz-form-explain
                *ngIf="contractForm.get('contractName').dirty && contractForm.get('contractName').errors">请输入合同名称
              </nz-form-explain> -->
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="2" nzFor="totalAmount">合同金额</nz-form-label>
        <nz-form-control [nzSm]="10">
          <input nz-input formControlName="totalAmount" placeholder="合同金额" #amount nz-tooltip
            [nzTitle]="+amount.value | currency:'¥ '" nzTrigger="focus" nzPlacement="topLeft"
            (ngModelChange)="onTotalAmountChange($event)">
          <nz-form-explain *ngIf="contractForm.get('totalAmount').dirty && contractForm.get('totalAmount').errors">
            请输入正确的合同金额</nz-form-explain>
          <!-- <nz-form-explain
            *ngIf="(contractForm.get('totalAmount').dirty && contractForm.get('totalAmount').errors?.pattern); else totalAmountError">
            请输入正确的合同金额</nz-form-explain>
          <ng-template #totalAmountError>
            <nz-form-explain
              *ngIf="contractForm.get('totalAmount').dirty && contractForm.get('totalAmount').errors?.totalInvalid">
              请输入准确的合同金额</nz-form-explain>
          </ng-template> -->
          <!-- <nz-form-explain *ngIf="contractForm.get('totalAmount').dirty && contractForm.get('totalAmount').errors?.pattern">
            请输入正确的合同金额</nz-form-explain>
          <nz-form-explain
            *ngIf="contractForm.get('totalAmount').dirty && contractForm.get('totalAmount').errors?.totalInvalid">
            请输入正确的合同金额</nz-form-explain> -->
        </nz-form-control>

        <nz-form-label [nzSm]="2" nzFor="paymentMethod">收款形式</nz-form-label>
        <nz-form-control [nzSm]="10">
          <nz-select formControlName="paymentMethod" nzPlaceHolder="收款形式"
            (ngModelChange)="onPaymentMethodChange($event)">
            <nz-option nzValue="1" nzLabel="一次性"></nz-option>
            <nz-option nzValue="2" nzLabel="分二次"></nz-option>
            <nz-option nzValue="3" nzLabel="分三次"></nz-option>
            <nz-option nzValue="4" nzLabel="分四次"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="contractForm.get('paymentMethod').dirty && contractForm.get('paymentMethod').errors">
            请选择收款形式
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

    </form>

    <form nz-form [formGroup]="paymentForm" *ngIf="paymentForm" #paymentFormRef>

      <nz-form-item *ngFor="let payment of payments; let i = index">
        <ng-container *ngFor="let reactive of payment">
          <nz-form-label [nzSm]="2" [nzFor]="reactive.key" [nzRequired]="reactive.required">{{ reactive.label }}
          </nz-form-label>
          <nz-form-control [nzSm]="4">
            <ng-container [ngSwitch]="reactive.controlType">
              <ng-container *ngSwitchCase="'datepicker'">
                <nz-date-picker [formControlName]="reactive.key"></nz-date-picker>
                <nz-form-explain *ngIf="paymentForm.get(reactive.key).dirty && paymentForm.get(reactive.key).errors">
                  请输入{{ reactive.label }}日期
                </nz-form-explain>
              </ng-container>
              <ng-container *ngSwitchCase="'textbox'">
                <ng-container [ngSwitch]="reactive.customerType">
                  <ng-container *ngSwitchCase="'money'">
                    <input nz-input [formControlName]="reactive.key" [type]="reactive.type"
                      [placeholder]="reactive.label" (ngModelChange)="onMoneyChange($event, reactive.key)"
                      [readonly]="reactive.readonly" #amount nz-tooltip [nzTitle]="+amount.value | currency:'¥ '"
                      nzTrigger="focus" nzPlacement="topLeft">
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <input nz-input [formControlName]="reactive.key" [type]="reactive.type"
                      [placeholder]="reactive.label">
                  </ng-container>
                </ng-container>
                <ng-container [ngSwitch]="reactive.customerType">
                  <ng-container *ngSwitchCase="'money'">
                    <nz-form-explain
                      *ngIf="paymentForm.get(reactive.key).dirty && paymentForm.get(reactive.key).errors">请输入正确的合同金额
                    </nz-form-explain>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </nz-form-control>
        </ng-container>
      </nz-form-item>

    </form>

    <h4>权利</h4>
    <nz-divider style="margin-top: 1rem"></nz-divider>

    <form nz-form [formGroup]="rightForm" #rightFormRef>

      <nz-form-item>
        <nz-form-label [nzSm]="2">项目</nz-form-label>
        <nz-form-control [nzSm]="22">
          <ng-container *ngIf="checkOptions; else optionsNone">
            <label nz-checkbox formControlName="projectsAllChecked" (ngModelChange)="updateAllChecked()"
              [nzIndeterminate]="indeterminate" style="margin-right: 0.5rem;">全选</label>
            <nz-checkbox-group formControlName="projects" (ngModelChange)="updateSingleChecked()">
            </nz-checkbox-group>
          </ng-container>
          <ng-template #optionsNone>
            <span class="text-hint">请先选择节目</span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="2" nzFor="copyright" nzRequired>权利</nz-form-label>
        <nz-form-control [nzSm]="10">
          <nz-cascader nzChangeOnSelect [nzOptions]="rightTemplates" formControlName="copyright" nzLabelProperty="name"
            nzValueProperty="code" nzPlaceHolder="选择权利" (ngModelChange)="onRightChange()">
          </nz-cascader>
          <nz-form-explain *ngIf="rightForm.get('copyright').dirty && rightForm.get('copyright').errors">
            请选择权利</nz-form-explain>
        </nz-form-control>
        <nz-form-label [nzSm]="2" nzFor="copyrightChildren">子权利</nz-form-label>
        <nz-form-control [nzSm]="10">
          <nz-select nzMode="multiple" nzPlaceHolder="可选择子权利" formControlName="copyrightChildren">
            <nz-option *ngFor="let option of rightChildrenTemplate[rightForm.get('copyright').value]"
              [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="2" nzFor="copyrightIsSole">是否独家</nz-form-label>
        <nz-form-control [nzSm]="10">
          <label nz-checkbox formControlName="copyrightIsSole">独家</label>
        </nz-form-control>
        <nz-form-label [nzSm]="2" nzFor="copyrightNote">权利备注</nz-form-label>
        <nz-form-control [nzSm]="10">
          <input nz-input formControlName="copyrightNote" placeholder="权利备注">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="2" nzFor="copyrightArea" nzRequired>权利范围</nz-form-label>
        <nz-form-control [nzSm]="10">
          <nz-cascader nzChangeOnSelect [nzOptions]="areaTemplates" formControlName="copyrightArea"
            nzLabelProperty="name" nzValueProperty="code" nzPlaceHolder="选择权利范围">
          </nz-cascader>
          <nz-form-explain *ngIf="rightForm.get('copyrightArea').dirty && rightForm.get('copyrightArea').errors">
            请选择权利范围</nz-form-explain>
        </nz-form-control>
        <nz-form-label [nzSm]="2" nzFor="copyrightAreaNote">范围备注</nz-form-label>
        <nz-form-control [nzSm]="10">
          <input nz-input formControlName="copyrightAreaNote" placeholder="权利范围备注">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>

        <nz-form-label [nzSm]="2" nzFor="copyrightValidTerm">发行期限</nz-form-label>
        <nz-form-control [nzSm]="7">
          <nz-range-picker nzFormat="yyyy/MM/dd" formControlName="copyrightValidTerm"></nz-range-picker>
        </nz-form-control>

        <nz-form-control [nzSm]="3">
          <label nz-checkbox formControlName="copyrightValidTermIsPermanent" style="margin-left: 2rem;">永久</label>
        </nz-form-control>

        <nz-form-label [nzSm]="2" nzFor="copyrightValidTermNote">期限备注</nz-form-label>
        <nz-form-control [nzSm]="10">
          <input nz-input formControlName="copyrightValidTermNote" placeholder="权利期限备注">
        </nz-form-control>

      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="2" nzFor="note">备注</nz-form-label>
        <nz-form-control [nzSm]="22">
          <textarea rows="4" nz-input formControlName="note" placeholder="备注"></textarea>
        </nz-form-control>
      </nz-form-item>

    </form>

    <div class="right-options">
      <!-- <button nz-button (click)="tab = 0;">上一步</button> -->
      <button nz-button (click)="resetCopyrightForm()">重置</button>
      <button nz-button (click)="addList()" nzType="primary">添加</button>
    </div>

    <h4>权利明细（保存前请仔细确认</h4>
    <nz-divider style="margin-top: 1rem"></nz-divider>

    <!-- <nz-alert
      nzType="info"
      [nzMessage]="contractForm.get('customer').value"
      [nzDescription]="contractForm.get('totalAmount').value"
    >
    </nz-alert> -->

    <p *ngIf="contractForm.valid">
      <span>{{ contractForm.get('customer').value }}</span>
      <span *ngIf="contractForm.get('totalAmount').value">
        <nz-divider nzType="vertical"></nz-divider>
        ¥ {{ contractForm.get('totalAmount').value }}
      </span>
      <span *ngIf="contractForm.get('paymentMethod').value">
        <nz-divider nzType="vertical"></nz-divider>
        {{ contractForm.get('paymentMethod').value | paymentFormat }}
      </span>
    </p>

    <nz-table #rightsTable [nzData]="dataSet" nzSize="small">
      <thead>
        <tr>
          <th>项目名称</th>
          <th>是否独家</th>
          <th>权利</th>
          <th nzWidth="16rem">子权利</th>
          <th>范围</th>
          <th>期限</th>
          <th>备注</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rightsTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.isSole | yesOrNo }}</td>
          <td>{{ data.displayRight }}</td>
          <td>{{ data.displayRightChildren | arrayFormat }}</td>
          <td>{{ data.displayArea }}</td>
          <td>
            {{ data.termIsPermanent ? '永久' : data.term ? ((data.termStartDate | date:'yyyy-MM-dd') + ' ~ ' +
                  (data.termEndDate | date:'yyyy-MM-dd')) : data.termNote }}
          </td>
          <td>{{ data.note }}</td>
          <td>
            <a (click)="deleteRight(data)"><i nz-icon type="delete" theme="outline"></i></a>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <div class="right-options" style="margin-top: 2rem;">
      <button nz-button (click)="resetList()">重置</button>
      <button nz-button nzType="primary" [nzLoading]="isSaving" (click)="save()">保存</button>
    </div>
  </div>
</div>