<div *ngIf="isLoaded" [@fadeIn]>
  <div nz-row style="margin-bottom: 1.5rem;">
    <div nz-col nzSpan="18">
      <div class="left-options">
        <form nz-form [formGroup]="filtrateForm" style="width: 100%;">
          <nz-form-item style="margin-bottom: 1rem;">

            <nz-form-label nzFor="days" [nzSm]="2">到期天数</nz-form-label>
            <nz-form-control [nzSm]="8">
              <nz-select formControlName="days" (ngModelChange)="onDaysChange($event)">
                <nz-option nzValue="all" nzLabel="所有"></nz-option>
                <nz-option nzValue="365" nzLabel="一年"></nz-option>
                <nz-option nzValue="180" nzLabel="180天"></nz-option>
                <nz-option nzValue="30" nzLabel="30天"></nz-option>
              </nz-select>
            </nz-form-control>

            <nz-form-label nzFor="area" [nzSm]="2" [nzOffset]="1">地区</nz-form-label>
            <nz-form-control [nzSm]="8">
              <nz-cascader formControlName="area" [nzOptions]="areaOptions" nzLabelProperty="name"
                nzValueProperty="code" nzPlaceHolder="" nzChangeOnSelect (ngModelChange)="onAreaChange($event)">
              </nz-cascader>
            </nz-form-control>

          </nz-form-item>

          <nz-form-item style="margin-bottom: 1rem;">
            <nz-form-label nzFor="right" [nzSm]="2">权利</nz-form-label>
            <nz-form-control [nzSm]="3">
              <nz-cascader formControlName="right" [nzOptions]="rightOptions" nzLabelProperty="name"
                nzValueProperty="code" nzPlaceHolder="" nzChangeOnSelect (ngModelChange)="onRightChange($event)">
              </nz-cascader>
            </nz-form-control>

            <nz-form-label nzFor="date" [nzSm]="2" [nzOffset]="1">期限</nz-form-label>
            <nz-form-control [nzSm]="7">
              <nz-range-picker formControlName="date" (ngModelChange)="onDateChange($event)"></nz-range-picker>
            </nz-form-control>

            <nz-form-label nzFor="date" [nzSm]="3" [nzOffset]="1">是否可发行</nz-form-label>
            <nz-form-control [nzSm]="5">
                <nz-radio-group formControlName="is_salable" (ngModelChange)="onPubRightChange($event)">
                    <label nz-radio nzValue="1">是</label>
                    <label nz-radio nzValue="0">否</label>
                  </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
    <div nz-col nzSpan="6">
      <div class="right-options">
        <button nz-button nzType="default" (click)="addCopyrights()">新增版权</button>
        <button nz-button nzType="default" (click)="addPublishConpyrights()">新增发行</button>
      </div>
    </div>
  </div>
  <div style="margin-top: 1.5rem;margin-bottom: 1.5rem">
    <nz-tag  nzMode="closeable" (nzOnClose)="closeTag(tag)"  *ngFor="let tag of tags">
      {{ tag.project }}
    </nz-tag>
  </div>
  <nz-table #dataTable nzBordered [nzData]="dataSet" [nzPageSize]="pagination.page_size" [nzFrontPagination]="false"
    [nzPageIndex]="pagination.page" [nzTotal]="pagination.count" (nzPageIndexChange)="copyrightsPageChange($event)"
    (nzCurrentPageDataChange)="currentPageDataChange($event)">
    <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event, dataTable.data)"></th>
        <th>#</th>
        <th>项目名称</th>
        <th>投资类型</th>
        <th>品类</th>
        <th>集数</th>
        <th>权利</th>
        <th>范围</th>
        <th>期限</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataTable.data">
        <td [attr.rowspan]="data.count" *ngIf="data.index == 0" nzShowCheckbox [(nzChecked)]="data.isChecked"
          (nzCheckedChange)="onCheckedChange($event, data)"></td>
        <td [attr.rowspan]="data.count" *ngIf="data.index == 0">{{ data.itemIndex + 1 }}</td>
        <td [attr.rowspan]="data.count" *ngIf="data.index == 0">
          <a [routerLink]="['/manage/series/d', data.pid, 'right']">{{ data.project }}</a>
        </td>
        <td [attr.rowspan]="data.count" *ngIf="data.index == 0">{{ data.investmentType | investmentType }}</td>
        <td [attr.rowspan]="data.count" *ngIf="data.index == 0">{{ data.type | seriesType | emptyDefaultChar }}</td>
        <td [attr.rowspan]="data.count" *ngIf="data.index == 0">{{ data.episodes | emptyDefaultChar }}</td>
        <td>{{ data.right }}</td>
        <td>{{ data.area }}</td>
        <td>
          {{ (data.termIsPermanent ? '永久' : data.term ? ((data.termStartDate | date:'yyyy/MM/dd') + ' ~ ' +
          (data.termEndDate | date:'yyyy/MM/dd')) : data.termNote) | emptyDefaultChar }}
        </td>
        <td [attr.rowspan]="data.count" *ngIf="data.index == 0">
          <!-- <a><i class="text-info" nz-icon type="edit" theme="outline"></i></a> -->
          <a nz-popconfirm nzTitle="是否删除此节目所有权利？" (nzOnConfirm)="deleteSeriesCopyright(data.pid)"><i class="text-info"
              nz-icon type="delete" theme="outline"></i></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>