<div style="display: flex;flex-direction: column;align-items: center;margin-top: 50px">
    <div style="margin-top: 10px">来自<span style="font-weight: bold;color: black">{{ solicitationInfo?.created_employee?.company?.full_name }}</span>的样片征集令</div>
    <div style="margin-top: 10px">{{ solicitationInfo?.created_employee?.name }}</div>
    <div style="margin-top: 10px">征集类型：<span>{{ solicitationInfo?.program_type }}</span></div>
    <div style="margin-top: 10px">征集题材：<span>{{ solicitationInfo?.program_theme }}</span></div>
    <!-- <div *ngIf ="solicitationInfo?.expire_days > 0 || solicitationInfo?.expire_days === null" style="margin-top: 10px">有效时间：<span>{{ solicitationInfo?.expire_days === null ? '永久' : solicitationInfo?.expire_days }}</span>天</div> -->
    <div *ngIf ="solicitationInfo?.expire_days > 0 " style="margin-top: 10px">有效时间：<span>{{ solicitationInfo?.expire_days }}</span>天</div>
    <div *ngIf ="solicitationInfo?.expire_days === null " style="margin-top: 10px">有效时间：<span>永久</span></div>
    <div *ngIf ="solicitationInfo?.expire_days < 0" style="margin-top: 10px">有效时间：<span>已失效</span></div>    
    <div style="margin-top: 10px">{{ solicitationInfo?.description }}</div>
    <div style="margin-top: 30px">
    <button *ngIf ="solicitationInfo?.expire_days > 0 || solicitationInfo?.expire_days === null" nz-button nzType="default" (click)="swichUrl()">上传样片</button>
    <button *ngIf ="solicitationInfo?.expire_days < 0 " nz-button nzType="default" (click)="toHomePage()">征集令已失效</button>    
  </div>
  </div>