<!-- <nz-input-number style="float:right;" [nzMin]="0" [nzMax]="10" [(ngModel)]="selectedIndex"></nz-input-number> -->
<nz-tabset [(nzSelectedIndex)]="selectedIndex">
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name" (nzClick)="onClick(tab.id)">
        <nz-table #table [nzData]="listOfData" [nzBordered]="true" [nzShowPagination]="false" style="margin-top: 10px">
            <thead>
                <tr>
                    <th nzWidth="150px" [nzAlign]="'center'">日期</th>
                    <th [attr.colspan]="data.count" [hidden]="data.index !== 0" *ngFor="let data of table.data"
                        [nzAlign]="'center'">
                        <div>{{ data.theatreName }}</div>
                    </th>
                    <!-- <th [attr.colspan]="data.count" [nzAlign]="'center'" *ngFor="let data of table.data"
                                [hidden]="data.index !== 0">
                                {{ data.channelName }}</th> -->
                </tr>
                <!-- <tr>
                            <th *ngFor="let data of table.data" [nzAlign]="'center'">
                                <div>{{ data.theatreName }}</div>
                            </th>
                        </tr> -->
            </thead>
            <tbody>
                <tr *ngFor="let data of events">
                    <td [nzAlign]="'center'">
                        <div>{{ data.week }}</div>
                        <div>
                            <span>{{ data.week | weekDay}}</span>
                        </div>
                    </td>

                    <td *ngFor="let wd of w;let c = index" [nzAlign]="'center'">
                        <ng-container *ngFor="let event of data.events; let i = index">
                            <div *ngFor="let en of event.event">
                                <div *ngIf="event.id == wd">
                                    <div>{{ en.program_name}}</div>
                                    <div>{{ en.episode_index}} ~ {{ en.episode_index + en.episode_num - 1}}集</div>
                                </div>
                            </div>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-tab>
</nz-tabset>