<div class="home-page-navigation-wk-one">
  <div class="home-page-navigation-wk-two">
    <div class="home-page-navigation-wk-three">全部</div>
    <div class="home-page-navigation-wk-four">电影</div>
    <div class="home-page-navigation-wk-five">电视</div>
    <div class="home-page-navigation-wk-six">综艺</div>
    <div class="home-page-navigation-wk-seven">其他</div>
  </div>
  <div class="home-page-navigation-wk-eight">
    <div class="home-page-navigation-wk-nine">
      <i class="iconfont icon-remen"></i>
    </div>
    <div class="home-page-navigation-wk-ten">
      <a>热门</a>
    </div>
    <div class="home-page-navigation-wk-eleven">
      <i class="iconfont icon-zuixin"></i>
    </div>
    <div class="home-page-navigation-wk-twelve">
      <a>最新</a>
    </div>
    <i class="iconfont icon-een home-page-navigation-wk-thirteen"></i>
    <div class="home-page-navigation-wk-fourteen">
      <a>筛选</a>
    </div>
  </div>

  <div class="video-info-wk">
    <ul>
      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name"><a (click)="marketDetail()">绣春刀2修罗战场</a></div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>

      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name">绣春刀2修罗战场</div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>
      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name">绣春刀2修罗战场</div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>
      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name">绣春刀2修罗战场</div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>
      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name">绣春刀2修罗战场</div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>
      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name">绣春刀2修罗战场</div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>
      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name">绣春刀2修罗战场</div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>
      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name">绣春刀2修罗战场</div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>
      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name">绣春刀2修罗战场</div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>
      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name">绣春刀2修罗战场</div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>
      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name">绣春刀2修罗战场</div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>
      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name">绣春刀2修罗战场</div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>
      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name">绣春刀2修罗战场</div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>
      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name">绣春刀2修罗战场</div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>
      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name">绣春刀2修罗战场</div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>
      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name">绣春刀2修罗战场</div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>
      <li class="video-info">
        <div class="video">
          <img class="video-img" src="./assets/imaaa/120.png" />
          <div class="price">
            <span class="price">2018-12-19&nbsp;发布</span>
          </div>
        </div>

        <div class="info">
          <div class="info-wk-one">
            <div class="info-name">绣春刀2修罗战场</div>
            <div class="info-type">电影
            </div>
          </div>
          <div class="info-wk-three">
            <div>导演:</div>
            <div class="info-wk-four">路阳</div>
          </div>
          <div class="info-wk-five">
            主演:
            <span class="info-wk-six">张震/杨幂/张译/雷佳音/辛芷蕾/2</span>
          </div>
        </div>

        <div class="info-wk-seven">
          <div class="info-wk-eight">
            <div class="info-wk-nine">
              <img class="info-hp" src="./assets/imaaa/3.jpg" />
            </div>
            <div class="info-wk-ten">上海北丞科技股份有限公司</div>
          </div>
        </div>
      </li>
      
    </ul>

  </div>
</div>
