<div class="content-container">
  <div class='container-top'>
    <div class="publicity-details-left">
      <div [hidden]="ishidden">
        <div class="video-box">
          <video id="video_player" (contextmenu)="nomenu($event)"
            class="video-js vjs-default-skin vjs-big-play-centered" type="application/x-mpegURL" preload="none"
            data-setup="{}" controls autoplay>
          </video>
        </div>
        <div class="video-title">
          <div class="widthBisection">
            <span>{{publicityName}}：</span>
            <span *ngIf="publicityType == 'sample'">{{sampleName}}</span>
            <span *ngIf="publicityType == 'feature'">{{featureName}}</span>
            <span *ngIf="publicityType == 'trailer'">{{trailerName}}</span>
          </div>
          <!-- <div class="fixationInfo-info"> -->
          <!-- <a (click)="getTwoDimensionalCode()">
                <i class="anticon anticon-share-alt text-info" nz-popover [nzTitle]="titleTemplate"
                [nzContent]="contentTemplate" nzTrigger="click"></i>
              </a> -->
          <!-- <div class='like'><i nz-icon [nzType]="'heart'" style="width: 16px;height: 16px"></i>喜欢</div> -->
          <!-- <div class='dislike'><i nz-icon [nzType]="'close-circle'" style="width: 16px;height: 16px"></i>不喜欢</div> -->
          <!-- <div class='like'> -->
          <!-- <a [routerLink]="['']"><i nz-icon [nzType]="'heart'" style="width: 16px;height: 16px"></i>通过</a> -->
          <!-- </div> -->
          <!-- <div class='dislike'> -->
          <!-- <a [routerLink]="['/manage/image']"> -->
          <!-- <i nz-icon [nzType]="'close-circle'" style="width: 16px;height: 16px"></i>不通过 -->
          <!-- </a> -->
          <!-- </div> -->
          <!-- </div> -->
        </div>
        <ng-template #contentTemplate>
          <div style="text-align: center;">{{ userinfo?.company?.name }}</div>
          <div style="text-align: center;margin-top: 1.5rem" *ngIf="languageVersion == 'zh-CN'"><img
              src="{{twoDimensionalCode}}" style="width: 200px;height: 200px;"></div>
          <div style="text-align: center;" *ngIf="languageVersion == 'en-US'">
            <input nz-input placeholder="Please enter the email to share" [(ngModel)]="emailAddress" nzSize="small"
              style="margin-top: 1.5rem">
            <button nz-button nzType="primary" nzSize="small" style="margin-top: 1.5rem"
              (click)="shareEmail()">Share</button>
          </div>
          <div style="text-align: center;margin-top: 1.5rem">{{ seriesInfo?.name }}</div>
        </ng-template>
      </div>
      <div *ngIf="publicityType == 'poster'">
        <div class="video-box" style="position: relative;text-align: center;">
          <img [src]="posterSrc" style="width: auto; height: auto;max-width: 100%;max-height: 100%;" />
          <a>
            <i class="anticon anticon-left-circle-o"
              style="z-index: 50;cursor:pointer;font-size: 25px;position: absolute;top:0px;bottom:0px;left: 0px;margin: auto;width: 50px; height: 50px;"
              (click)="lastPoster()"></i>
          </a>
          <a>
            <i class="anticon anticon-right-circle-o"
              style="z-index: 50;cursor:pointer;font-size: 25px;position: absolute;top:0px;bottom:0px;right: 0px;margin: auto;width: 50px; height: 50px;"
              (click)="nextPoster()"></i>
          </a>
        </div>
        <div class="video-title">
          <div class="widthBisection">
            <span>{{publicityName}}：</span>
            <span>{{posterName}}</span>
          </div>
          <div class="fixationInfo-info">
            <a (click)="getTwoDimensionalCode()">
              <!-- <i class="anticon anticon-share-alt text-info" nz-popover [nzTitle]="titleTemplate" -->
              <!-- [nzContent]="contentTemplate" nzTrigger="click"></i> -->
            </a>
          </div>
        </div>
        <!-- <ng-template #titleTemplate>
              <div *ngIf="languageVersion == 'zh-CN'" style="text-align: center;">微信扫码分享</div>
              <div *ngIf="languageVersion == 'en-US'" style="text-align: center;">
                {{ 'app.series.publicity-share-email' | translate }}</div>
            </ng-template> -->
        <ng-template #contentTemplate>
          <div style="text-align: center;">{{ userinfo?.company?.name }}</div>
          <div style="text-align: center;margin-top: 1.5rem" *ngIf="languageVersion == 'zh-CN'"><img
              src="{{twoDimensionalCode}}" style="width: 200px;height: 200px;"></div>
          <div style="text-align: center;" *ngIf="languageVersion == 'en-US'">
            <input nz-input placeholder="Please enter the email to share" [(ngModel)]="emailAddress" nzSize="small"
              style="margin-top: 1.5rem">
            <button nz-button nzType="primary" nzSize="small" style="margin-top: 1.5rem"
              (click)="shareEmail()">Share</button>
          </div>
          <div style="text-align: center;margin-top: 1.5rem">{{ seriesInfo?.name }}</div>
        </ng-template>
      </div>

      <div *ngIf="publicityType == 'still'">
        <div class="video-box" style="position: relative;text-align: center;">
          <img [src]="stillSrc" style="width: auto; height: auto;max-width: 100%;max-height: 100%;" />
          <a>
            <i class="anticon anticon-left-circle-o"
              style="z-index: 50;cursor:pointer;font-size: 25px;position: absolute;top:0px;bottom:0px;left: 0px;margin: auto;width: 50px; height: 50px;"
              (click)="lastStill()"></i>
          </a>
          <a>
            <i class="anticon anticon-right-circle-o"
              style="z-index: 50;cursor:pointer;font-size: 25px;position: absolute;top:0px;bottom:0px;right: 0px;margin: auto;width: 50px; height: 50px;"
              (click)="nextStill()"></i>
          </a>
        </div>
        <div class="video-title">
          <div class="widthBisection">
            <span>{{publicityName}}：</span>
            <span>{{stillName}}</span>
          </div>
          <div class="fixationInfo-info">
            <a (click)="getTwoDimensionalCode()">
              <i class="anticon anticon-share-alt text-info" nz-popover [nzTitle]="titleTemplate"
                [nzContent]="contentTemplate" nzTrigger="click"></i>
            </a>
          </div>
        </div>
        <!-- <ng-template #titleTemplate>
              <div *ngIf="languageVersion == 'zh-CN'" style="text-align: center;">微信扫码分享</div>
              <div *ngIf="languageVersion == 'en-US'" style="text-align: center;">
                {{ 'app.series.publicity-share-email' | translate }}</div>
            </ng-template> -->
        <ng-template #contentTemplate>
          <div style="text-align: center;">{{ userinfo?.company?.name }}</div>
          <div style="text-align: center;margin-top: 1.5rem" *ngIf="languageVersion == 'zh-CN'"><img
              src="{{twoDimensionalCode}}" style="width: 200px;height: 200px;"></div>
          <div style="text-align: center;" *ngIf="languageVersion == 'en-US'">
            <input nz-input placeholder="Please enter the email to share" [(ngModel)]="emailAddress" nzSize="small"
              style="margin-top: 1.5rem">
            <button nz-button nzType="primary" nzSize="small" style="margin-top: 1.5rem"
              (click)="shareEmail()">Share</button>
          </div>
          <div style="text-align: center;margin-top: 1.5rem">{{ seriesInfo?.name }}</div>
        </ng-template>
      </div>

      <div *ngIf="publicityType == 'pdf'">
        <div class="video-box"
          style="position: relative;text-align: center; display: table-cell;vertical-align: middle;">
          <pdf-viewer [src]="pdfSrc" [page]="pdfPage" [zoom]="0.6" [show-all]="false" [original-size]="true">
          </pdf-viewer>
          <a>
            <i class="anticon anticon-left-circle-o"
              style="z-index: 50;cursor:pointer;font-size: 25px;position: absolute;top:0px;bottom:0px;left: 0px;margin: auto;width: 50px; height: 50px;"
              (click)="lastPdf()"></i>
          </a>
          <a>
            <i class="anticon anticon-right-circle-o"
              style="z-index: 50;cursor:pointer;font-size: 25px;position: absolute;top:0px;bottom:0px;right: 0px;margin: auto;width: 50px; height: 50px;"
              (click)="nextPdf()"></i>
          </a>
        </div>
        <div class="video-title">
          <div class="widthBisection">
            <span *ngIf="fixationInfo">{{publicityName}}：</span>
            <span *ngIf="detail">{{pdfName}}</span>
          </div>
          <div class="fixationInfo-info">
            <a (click)="getTwoDimensionalCode()">
              <i class="anticon anticon-share-alt text-info" nz-popover [nzTitle]="titleTemplate"
                [nzContent]="contentTemplate" nzTrigger="click"></i>
            </a>
          </div>
        </div>
        <!-- <ng-template #titleTemplate>
              <div *ngIf="languageVersion == 'zh-CN'" style="text-align: center;">微信扫码分享</div>
              <div *ngIf="languageVersion == 'en-US'" style="text-align: center;">
                {{ 'app.series.publicity-share-email' | translate }}</div>
            </ng-template> -->
        <ng-template #contentTemplate>
          <div style="text-align: center;">{{ userinfo?.company?.name }}</div>
          <div style="text-align: center;margin-top: 1.5rem" *ngIf="languageVersion == 'zh-CN'"><img
              src="{{twoDimensionalCode}}" style="width: 200px;height: 200px;"></div>
          <div style="text-align: center;" *ngIf="languageVersion == 'en-US'">
            <input nz-input placeholder="Please enter the email to share" [(ngModel)]="emailAddress" nzSize="small"
              style="margin-top: 1.5rem">
            <button nz-button nzType="primary" nzSize="small" style="margin-top: 1.5rem"
              (click)="shareEmail()">Share</button>
          </div>
          <div style="text-align: center;margin-top: 1.5rem">{{ seriesInfo?.name }}</div>
        </ng-template>
      </div>

      <nz-tabset [nzSelectedIndex]="tabIndex" (nzSelectChange)="tabSelectChange($event)">
          <nz-tab [nzTitle]="'样片' + '(' +userinfo?.material?.sample + ')'" (nzClick)="sample()"
            [nzDisabled]="sampleDisabled">
            <div class="program-panel">
              <ul class="program-list">
                <li *ngFor="let sample of sampleNum; let i = index" (click)="sampleNavigateToDetail(sample.displayText,sample.id)">
                  <div class="play-button" [ngClass]="{'selected': isId == sample.id}">{{sample.displayText}}</div>
                </li>
              </ul>
            </div>
          </nz-tab>
          <nz-tab [nzTitle]="'片花' + '(' +userinfo?.material?.feature + ')'" (nzClick)="feature()"
            [nzDisabled]="featureDisabled">
            <div class="program-panel">
              <ul class="program-list">
                <li *ngFor="let feature of featureNum" (click)="featureNavigateToDetail(feature.displayText,feature.id)">
                  <div style="height: 100%; width: 100%;" [ngClass]="{'selected': isId == feature.id}">{{feature.displayText}}</div>
                </li>
              </ul>
            </div>
          </nz-tab>
          <nz-tab [nzTitle]="'先导片' + '(' +userinfo?.material?.trailer + ')'" (nzClick)="trailer()"
            [nzDisabled]="trailerDisabled">
            <div class="program-panel">
              <ul class="program-list">
                <li *ngFor="let trailer of trailerNum" (click)="trailerNavigateToDetail(trailer.displayText,trailer.id)">
                  <div style="height: 100%; width: 100%;" [ngClass]="{'selected': isId == trailer.id}">{{trailer.displayText}}</div>
                </li>
              </ul>
            </div>
          </nz-tab>
          <nz-tab [nzTitle]="'海报' + '(' +userinfo?.material?.poster + ')'" (nzClick)="poster()"
            [nzDisabled]="posterDisabled">
            <div class="program-panel">
              <ul class="program-list">
                <li *ngFor="let poster of posterList;let i = index" (click)="posterNavigateToDetail(i, poster.id)">
                  <div style="height: 100%; width: 100%;" [ngClass]="{'selected': isId == poster.id}">{{i + 1}}</div>
                </li>
              </ul>
            </div>
          </nz-tab>
          <nz-tab [nzTitle]="'剧照' + '(' +userinfo?.material?.still + ')'" (nzClick)="still()" [nzDisabled]="stillDisabled">
            <div class="program-panel">
              <ul class="program-list">
                <li *ngFor="let still of stillList;let i = index" (click)="stillNavigateToDetail(i, still.id)">
                  <div style="height: 100%; width: 100%;" [ngClass]="{'selected': isId == still.id}">{{i + 1}}</div>
                </li>
              </ul>
            </div>
    
          </nz-tab>
          <nz-tab [nzTitle]="'PDF' + '(' +userinfo?.material?.pdf + ')'" (nzClick)="pdf()" [nzDisabled]="pdfDisabled">
            <div class="program-panel">
              <ul class="program-list">
                <li *ngFor="let pdf of pdfNum;let i = index" (click)="pdfNavigateToDetail(i, pdf.id)">
                  <div style="height: 100%; width: 100%;" [ngClass]="{'selected': isId == pdf.id}">{{i + 1}}</div>
                </li>
              </ul>
            </div>
          </nz-tab>
      </nz-tabset>

    </div>
    <div class="publicity-details-right">
      <div class="details-title">
        <div class="title-avater">
          <nz-avatar nzIcon="anticon anticon-user" [nzSrc]="userinfo?.user?.avatar" style="width: 38px; height: 38px;">
          </nz-avatar>
        </div>
        <div class='title-info'>
          <div class='info-item'>
            <span nz-tooltip [nzTitle]="fixationInfo?.area?.name">上传人：{{userinfo?.user?.nickname}}</span>
          </div>
          <div class='info-item'>
            <span>所属公司：{{userinfo?.company?.full_name}}</span>
            <span *ngIf="userinfo?.company?.full_name == null">个人用户</span>
          </div>
        </div>
      </div>

      <div class="detail-tabs">
        <nz-tabset>
          <nz-tab nzTitle="基本信息">
            <div style="line-height: 26px;margin-left: 18px;">
              <div>节目名称：{{ seriesInfo?.name }}</div>
              <div>节目别名：{{ seriesInfo?.nickname }}</div>
              <div>节目类型：{{ seriesInfo?.program_type | seriesType }}</div>
              <div>题材：{{ seriesInfo?.theme }}</div>
              <div>集数：{{ seriesInfo?.episode }}</div>
              <div>语言：{{ seriesInfo?.language }}</div>
              <div>主演：{{ seriesInfo?.protagonist }}</div>
              <div>导演：{{ seriesInfo?.director }}</div>
              <div>编剧：{{ seriesInfo?.screen_writer }}</div>
              <div>总制片人：{{ seriesInfo?.general_producer }}</div>
              <div>出品人：{{ seriesInfo?.producer }}</div>
              <div>出品方：{{ seriesInfo?.product_company }}</div>
              <div>监制：{{ seriesInfo?.supervisor }}</div>
              <div *ngIf="seriesInfo?.progress === null">阶段：</div>
              <div *ngIf="seriesInfo?.progress === 'scenario'">阶段：剧本阶段</div>
              <div *ngIf="seriesInfo?.progress === 'preparation'">阶段：筹备中</div>
              <div *ngIf="seriesInfo?.progress === 'filming'">阶段：拍摄中</div>
              <div *ngIf="seriesInfo?.progress === 'production'">阶段：后制中</div>
              <div *ngIf="seriesInfo?.progress === 'completed'">阶段：已完成</div>
              <div *ngIf="seriesInfo?.progress === 'second'">阶段：二审</div>
              <div>简介：{{ seriesInfo?.introduction }}</div>
            </div>
          </nz-tab>
          <!-- <nz-tab nzTitle="关键帧">
      
              </nz-tab>
              <nz-tab nzTitle="图集">
      
              </nz-tab> -->
        </nz-tabset>

      </div>
    </div>
  </div>
  <div class='container-bottom'>
    <!-- 一审 -->
    <!-- <div class='verify-des'>
      <div class='des-title'>
        <div class='title-left'>一审</div>
        <div class='title-right'>
          <button nz-button (click)="submit()">提交</button>
        </div>
      </div>
      <div class='des-content' style='padding: 20px 40px 20px 20px; display:flex;justify-content: space-between'>
        <nz-radio-group [(ngModel)]="choseCompany" (ngModelChange)="choseIsLike($event)"
          style="width: 26%; display:flex;flex-direction: column;justify-content: center;align-items: center">
          <label nz-radio [ngStyle]="style" nzValue="like" style='width:80px'>喜欢</label>
          <label nz-radio [ngStyle]="style" nzValue="dislike" style="width: 80px">不喜欢</label>
        </nz-radio-group>
        <div class='comment' style='width: 300px'>
          <div class='comment-item'>
            <div style="height: 30px; line-height: 33px" nzValue="first">故事情节</div>
            <nz-rate [ngModel]="0" nzAllowHalf (ngModelChange)="firstChange($event)"></nz-rate>
          </div>
          <div class='comment-item'>
            <div style="height: 30px; line-height: 33px">导演</div>
            <nz-rate [ngModel]="0" nzAllowHalf (ngModelChange)="secondChange($event)"></nz-rate>
          </div>
          <div class='comment-item'>
            <div style="height: 30px; line-height: 33px">演员阵容</div>
            <nz-rate [ngModel]="0" nzAllowHalf (ngModelChange)="threeChange($event)"></nz-rate>
          </div>
          <div class='comment-item'>
            <div style="height: 30px; line-height: 33px">城市相关收视率</div>
            <nz-rate [ngModel]="0" nzAllowHalf (ngModelChange)="fourChange($event)"></nz-rate>
          </div>
          <div class='comment-item'>
            <div style="height: 30px; line-height: 33px">制作公司既往业绩</div>
            <nz-rate [ngModel]="0" nzAllowHalf (ngModelChange)="fiveChange($event)"></nz-rate>
          </div>
        </div>
        <textarea rows="6" nz-input (ngModelChange)="textareaValue($event)" [(ngModel)]="inputValue" placeholder='意见或评论'
          style='flex:1; margin-left: 40px'></textarea>
      </div>
    </div> -->
    <!-- 二审 -->
    <!-- <div class='verify-des' style='padding-top: 10px;position: relative;'>
      <button nz-button (click)="submitSecond()"
        style='position: absolute;right: 20px; top: 20px; z-index: 9999'>提交</button>
      <nz-tabset [nzType]="'card'">
        <nz-tab nzTitle="一审">
          <div class='title' style='display: flex'>
            <div
              style='width:249px;height: 55px;text-align: center;line-height: 55px;background-color: #CEDBDE;margin-right: 20px'>
              喜欢 40人 80%</div>
            <div style='width:249px;height: 55px;text-align: center;line-height: 55px;background-color: #CEDBDE'>不喜欢 60人
              20%</div>
          </div>
          <nz-table #basicTable [nzData]="" style="margin-top: 20px">
            <thead>
              <tr>
                <th style="text-align: center">审片人</th>
                <th style="text-align: center">结论</th>
                <th style="text-align: center">意见／评论</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data;let i = index">
                <td style="text-align: center">1111</td>
                <td style="text-align: center">2222</td>
                <td style="text-align: center">3333</td>
              </tr>
            </tbody>
          </nz-table>
        </nz-tab>
        <nz-tab nzTitle="二审">
          <div class='des-content' style='padding: 20px 40px 20px 20px; display:flex;justify-content: space-between'>
            <nz-radio-group [(ngModel)]="choseCompany" (ngModelChange)="choseIsPass($event)"
              style="width: 26%; display:flex;flex-direction: column;justify-content: center;align-items: center">
              <label nz-radio [ngStyle]="style" nzValue="pass" style='width:80px'>通过</label>
              <label nz-radio [ngStyle]="style" nzValue="notPass" style="width: 80px">不通过</label>
            </nz-radio-group>
            <div class='comment' style='width: 300px'>
              <div class='comment-item'>
                <div style="height: 30px; line-height: 33px" nzValue="first">故事情节</div>
                <nz-rate [ngModel]="0" nzAllowHalf (ngModelChange)="firstChange($event)"></nz-rate>
              </div>
              <div class='comment-item'>
                <div style="height: 30px; line-height: 33px">导演</div>
                <nz-rate [ngModel]="0" nzAllowHalf (ngModelChange)="secondChange($event)"></nz-rate>
              </div>
              <div class='comment-item'>
                <div style="height: 30px; line-height: 33px">演员阵容</div>
                <nz-rate [ngModel]="0" nzAllowHalf (ngModelChange)="threeChange($event)"></nz-rate>
              </div>
              <div class='comment-item'>
                <div style="height: 30px; line-height: 33px">城市相关收视率</div>
                <nz-rate [ngModel]="0" nzAllowHalf (ngModelChange)="fourChange($event)"></nz-rate>
              </div>
              <div class='comment-item'>
                <div style="height: 30px; line-height: 33px">制作公司既往业绩</div>
                <nz-rate [ngModel]="0" nzAllowHalf (ngModelChange)="fiveChange($event)"></nz-rate>
              </div>
            </div>
            <textarea rows="4" nz-input (ngModelChange)="textareaValueSecond($event)" [(ngModel)]="inputValue"
              placeholder='意见或评论' style='flex:1; margin-left: 40px'></textarea>
          </div>
        </nz-tab>
      </nz-tabset>
    </div> -->
    <!-- 三审 -->
    <div class="block clearfix" style="margin-top: 1.3rem">
      <div class="block-content">
        <nz-tabset [nzType]="'card'" (nzSelectChange)="verifySelectChange($event)" [nzSelectedIndex]="isTabIndex">
          <nz-tab nzTitle="一审" *ngIf='stepsNumber === 2 || stepsNumber === 3'>
            <div class='verify-result'>
              <div class='result-title'>审片结果</div>
              <div class='result-wrapper' style='padding-left:50px'>
                <div class='wrapper-left'
                  style='display:flex;flex-direction:column;justify-content: center;position:relative'>
                  <div style='font-size:30px;color:#999999;text-align: center;font-weight: bold'
                    *ngIf="reviewFirstSteps?.review_records_statistic.score_statistic.avg === null || reviewFirstSteps?.review_records_statistic.score_statistic.avg === 0">
                    0.0
                  </div>
                  <div style='font-size:30px;color:#ffba61;text-align: center;font-weight: bold'
                    *ngIf="!!reviewFirstSteps?.review_records_statistic.score_statistic.avg">
                    {{reviewFirstSteps?.review_records_statistic.score_statistic.avg}}
                  </div>
                  <div style='font-size: 12px; color: #333'>
                    {{ reviewFirstSteps?.review_records_statistic.score_statistic.has_scoring_status === true ? '满分10分' : '暂无评分' }}
                  </div>
                </div>
                <div class='wrapper-right'>
                  <div class='right-pass' style='line-height: 2'>
                    <img style='width: 22px;height: 22px;' src="/assets/images/ic_like.png" alt="">
                    <div style='margin: 0 32px 0 10px;width: 42px'>{{reviewFirstSteps?.conclusion_item.agree_name}}
                    </div>
                    <nz-progress [nzStrokeColor]="'#FFBA61'" style='width:200px' [nzPercent]="firstLike"
                      [nzShowInfo]="false">
                    </nz-progress>
                    <div style='margin-left: 10px'>
                      {{reviewFirstSteps?.conclusion_item.agree_name}}{{likePeople}}人/{{firstLike | floor}}%
                    </div>
                  </div>
                  <div class='right-unPass' style='line-height: 2'>
                    <img style='width: 22px;height: 22px;' src="/assets/images/ic_dislike.png" alt="">
                    <div style='margin: 0 32px 0 10px;width: 42px'>{{reviewFirstSteps?.conclusion_item.oppose_name}}
                    </div>
                    <nz-progress [nzStrokeColor]="'#FFBA61'" style='width:200px' [nzPercent]="firstOppose"
                      [nzShowInfo]="false">
                    </nz-progress>
                    <div style='margin-left:10px'>
                      {{reviewFirstSteps?.conclusion_item.oppose_name}}{{disLikePeople}}人/{{firstOppose | floor}}%
                    </div>
                  </div>
                  <div *ngIf="reviewFirstSteps?.conclusion_item.neutral_name" class='right-sumbit' style='line-height: 2'>
                    <img style='width: 22px;height: 22px;' src="/assets/images/ic_Submission01.png"
                      alt="">
                    <div style='margin: 0 32px 0 10px;width: 42px'>{{reviewFirstSteps?.conclusion_item.neutral_name}}
                    </div>
                    <nz-progress [nzStrokeColor]="'#FFBA61'" style='width:200px' [nzPercent]="reviewFirstLikeAdopt"
                      [nzShowInfo]="false">
                    </nz-progress>
                    <div style='margin-left:10px'>
                      {{reviewFirstSteps?.conclusion_item.neutral_name}}{{reviewFirstAdopt}}人/{{reviewFirstLikeAdopt | floor}}%
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='score-result' *ngIf="nameFirstList.length > 0">
              <div class='result-title'>评分项</div>
              <div class='result-wrapper'>
                <div class='score-item' *ngFor="let score of nameFirstList">
                  <div class='item-left'>{{score.name}}</div>
                  <nz-rate [nzDisabled]='true' [(ngModel)]="score.avg" nzAllowHalf></nz-rate>
                </div>
              </div>
            </div>
            <!-- <div class='comment-result' *ngIf="reviewFirstSteps?.comment_status === true"> -->
            <div class='comment-result'>
              <div class='result-title'>审片评论</div>
              <div *ngFor="let b of reviewFirstSteps?.review_records">
                <div class='result-wrapper'>
                  <img style="margin-right: 13px;width: 42px;height:42px;border-radius:50%;" [src]="b.employee.avatar"
                    alt="">
                  <div class='wrapper-right'>
                    <div class='right-title'>
                      <div style='margin-right: 10px;'>{{b.employee.name}}</div>
                      <img *ngIf="b.conclusion === 3" style='width: 36px;height: 17px;'
                        src="/assets/images/ic_Submission.png" alt="">
                      <img *ngIf="b.conclusion === 2" style='width: 36px;height: 17px;'
                        src="/assets/images/ic_Nopassage.png" alt="">
                      <img *ngIf="b.conclusion === 1" style='width: 36px;height: 17px;'
                        src="/assets/images/ic_passage.png" alt="">
                      <img *ngIf="b.conclusion === 0" style='width: 36px;height: 17px;'
                        src="/assets/images/ic_Notaudited.png" alt="">
                    </div>
                    <div class='right-rate'>
                      <nz-rate [nzDisabled]='true' [(ngModel)]="b.total_score" nzAllowHalf></nz-rate>
                      <div style="margin-top: 4px;">{{b.review_at}}</div>
                    </div>
                    <div class='right-content'>{{b.comment}}</div>
                  </div>
                </div>
              </div>
            </div>
          </nz-tab>
          <nz-tab nzTitle="一审" *ngIf='stepsNumber === 1'>
            <div
              style="border-left: 3px solid #4797F7;padding-left: 10px;font-size: 16px;font-weight: 500;margin-top: 30px;">
              是否通过
            </div>
            <div class='des-content'
              style='margin-left: 14px; display:flex;justify-content: flex-start;height:82px; line-height: 82px;'>
              <nz-radio-group style='margin-right: 30px' [(ngModel)]="choseCompany"
                (ngModelChange)="choseIsLike($event)">
                <label nz-radio [ngStyle]="style" nzValue="1"
                  style='width:80px'>{{reviewFirstSteps.conclusion_item.agree_name}}</label>
                <label nz-radio [ngStyle]="style" nzValue="2"
                  style="width: 80px">{{reviewFirstSteps.conclusion_item.oppose_name}}</label>
                <label *ngIf="reviewFirstSteps.conclusion_item.neutral_name" nz-radio [ngStyle]="style" nzValue="3"
                  style="width: 80px; margin-left: 10px;">{{reviewFirstSteps.conclusion_item.neutral_name}}</label>
              </nz-radio-group>
            </div>
            <!-- 评分项 -->
            <div *ngIf='reviewFirstSteps.scoring_items?.length > 0'>
              <div style="border-left: 3px solid #4797F7;padding-left: 10px;font-size: 16px;font-weight: 500;">评分项</div>
              <div class='comment'
                style='width: 631px; display: flex;justify-content: space-between;margin: 20px 0; flex-wrap: wrap;padding-left: 13px;'>
                <div class='comment-item' *ngFor='let item of reviewFirstSteps.scoring_items; let i=index'>
                  <div style="height: 30px; line-height: 33px" nzValue="first">{{item.name}}</div>
                  <nz-rate [ngModel]="0" nzAllowHalf (ngModelChange)="firstChange($event, item, i)"></nz-rate>
                </div>
              </div>
            </div>
            <!-- 评论项 -->
            <div *ngIf='reviewFirstSteps.comment_status'>
              <div
                style="border-left: 3px solid #4797F7;padding-left: 10px;font-size: 16px;font-weight: 500;margin-bottom: 20px">
                审片评论
              </div>
              <textarea rows="6" nz-input (ngModelChange)="textareaValue($event)" [(ngModel)]="inputValue"
                placeholder='意见或评论' style='flex:1;'>
              </textarea>
            </div>
            <div style='text-align: right; margin-top: 20px;'>
              <button
                *ngIf='selectedIndex === 0 && stepsNumber === 1 || selectedIndex === 1 && stepsNumber === 2 || selectedIndex === 2  || selectedIndex === 5'
                nz-button (click)="submitThird()" nzType="primary" style="width: 88px;">提交</button>
            </div>
          </nz-tab>
          <nz-tab nzTitle="二审" *ngIf='stepsNumber === 3'>
            <div class='verify-result'>
              <div class='result-title'>审片结果</div>
              <div class='result-wrapper' style='padding-left:50px'>
                <div class='wrapper-left'
                  style='display:flex;flex-direction:column;justify-content: center;position:relative'>
                  <div style='font-size:30px;color:#999999;text-align: center;font-weight: bold'
                    *ngIf="reviewSecondSteps?.review_records_statistic.score_statistic.avg === null || reviewSecondSteps?.review_records_statistic.score_statistic.avg === 0">
                    0.0
                  </div>
                  <div style='font-size:30px;color:#ffba61;text-align: center;font-weight: bold'
                    *ngIf="!!reviewSecondSteps?.review_records_statistic.score_statistic.avg">
                    {{reviewSecondSteps?.review_records_statistic.score_statistic.avg}}
                  </div>
                  <div style='font-size: 12px; color: #333'>
                    {{ reviewSecondSteps?.review_records_statistic.score_statistic.has_scoring_status === true ? '满分10分' : '暂无评分' }}
                  </div>
                </div>
                <div class='wrapper-right'>
                  <div class='right-pass' style='line-height: 2'>
                    <img style='width: 22px;height: 22px;' src="/assets/images/ic_like.png" alt="">
                    <div style='margin: 0 32px 0 10px;width: 42px'>{{reviewSecondSteps?.conclusion_item.agree_name}}
                    </div>
                    <nz-progress [nzStrokeColor]="'#FFBA61'" style='width:200px' [nzPercent]="secondLike"
                      [nzShowInfo]="false">
                    </nz-progress>
                    <div style='margin-left: 10px'>
                      {{reviewSecondSteps?.conclusion_item.agree_name}}{{secondLikePeople}}人/{{secondLike | floor}}%
                    </div>
                  </div>
                  <div class='right-unPass' style='line-height: 2'>
                    <img style='width: 22px;height: 22px;' src="/assets/images/ic_dislike.png" alt="">
                    <div style='margin: 0 32px 0 10px;width: 42px'>{{reviewSecondSteps?.conclusion_item.oppose_name}}
                    </div>
                    <nz-progress [nzStrokeColor]="'#FFBA61'" style='width:200px' [nzPercent]="secondOppose"
                      [nzShowInfo]="false">
                    </nz-progress>
                    <div style='margin-left:10px'>
                      {{reviewSecondSteps?.conclusion_item.oppose_name}}{{secondDisLikePeople}}人/{{secondOppose | floor}}%
                    </div>
                  </div>
                  <div *ngIf="reviewSecondSteps?.conclusion_item.neutral_name" class='right-sumbit' style='line-height: 2'>
                    <img style='width: 22px;height: 22px;' src="/assets/images/ic_Submission01.png"
                      alt="">
                    <div style='margin: 0 32px 0 10px;width: 42px'>{{reviewSecondSteps?.conclusion_item.neutral_name}}
                    </div>
                    <nz-progress [nzStrokeColor]="'#FFBA61'" style='width:200px' [nzPercent]="reviewSecondLikeAdopt"
                      [nzShowInfo]="false">
                    </nz-progress>
                    <div style='margin-left:10px'>
                      {{reviewSecondSteps?.conclusion_item.neutral_name}}{{reviewSecondAdopt}}人/{{reviewSecondLikeAdopt | floor}}%
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='score-result' *ngIf="nameThirdList.length > 0">
              <div class='result-title'>评分项</div>
              <div class='result-wrapper'>
                <div class='score-item' *ngFor="let score of nameSecondList">
                  <div class='item-left'>{{score.name}}</div>
                  <nz-rate [nzDisabled]='true' [(ngModel)]="score.avg" nzAllowHalf></nz-rate>
                </div>
              </div>
            </div>
            <!-- <div class='comment-result' *ngIf="reviewSecondSteps.comment_status === true"> -->
            <div class='comment-result'>
              <div class='result-title'>审片评论</div>
              <div *ngFor="let b of reviewSecondSteps?.review_records">
                <div class='result-wrapper'>
                  <img style="margin-right: 13px;width: 42px;height:42px;border-radius:50%;" [src]="b.employee.avatar"
                    alt="">
                  <div class='wrapper-right'>
                    <div class='right-title'>
                      <div style='margin-right: 10px;'>{{b.employee.name}}</div>
                      <img *ngIf="b.conclusion === 3" style='width: 36px;height: 17px;'
                        src="/assets/images/ic_Submission.png" alt="">
                      <img *ngIf="b.conclusion === 2" style='width: 36px;height: 17px;'
                        src="/assets/images/ic_Nopassage.png" alt="">
                      <img *ngIf="b.conclusion === 1" style='width: 36px;height: 17px;'
                        src="/assets/images/ic_passage.png" alt="">
                      <img *ngIf="b.conclusion === 0" style='width: 36px;height: 17px;'
                        src="/assets/images/ic_Notaudited.png" alt="">
                    </div>
                    <div class='right-rate'>
                      <nz-rate [nzDisabled]='true' [(ngModel)]="b.total_score" nzAllowHalf></nz-rate>
                      <div style="margin-top: 4px;">{{b.review_at}}</div>
                    </div>
                    <div class='right-content'>{{b.comment}}</div>
                  </div>
                </div>
              </div>
            </div>
          </nz-tab>
          <nz-tab nzTitle="二审" *ngIf='stepsNumber === 2'>
            <!-- <div class='des-content'
              style='padding: 20px 40px 20px 20px; display:flex;justify-content: flex-start;min-height:280px'>
              <nz-radio-group style="margin-right: 30px" [(ngModel)]="choseCompany"
                (ngModelChange)="choseIsLike($event)"
                style="width: 26%; display:flex;flex-direction: column;justify-content: center;align-items: center">
                <label nz-radio [ngStyle]="style" nzValue="1"
                  style='width:80px'>{{reviewThirdSteps.conclusion_item.agree_name}}</label>
                <label nz-radio [ngStyle]="style" nzValue="2"
                  style="width: 80px">{{reviewThirdSteps.conclusion_item.oppose_name}}</label>
              </nz-radio-group>
              <div class='comment'
                style='width: 300px; margin-right: 30px;display:flex;flex-direction:column;justify-content: center'
                *ngIf='reviewSecondSteps.scoring_items?.length > 0'>
                <div class='comment-item' *ngFor='let item of reviewSecondSteps.scoring_items; let i=index'>
                  <div style="height: 30px; line-height: 33px" nzValue="first">{{item.name}}</div>
                  <nz-rate [ngModel]="0" nzAllowHalf (ngModelChange)="firstChange($event, item, i)"></nz-rate>
                </div>
              </div>
              <textarea *ngIf='reviewSecondSteps.comment_status' rows="6" nz-input
                (ngModelChange)="textareaValue($event)" [(ngModel)]="inputValue" placeholder='意见或评论'
                style='flex:1; margin-left: 40px'></textarea>
            </div> -->
            <div
              style="border-left: 3px solid #4797F7;padding-left: 10px;font-size: 16px;font-weight: 500;margin-top: 30px;">
              是否通过
            </div>
            <div class='des-content'
              style='margin-left: 14px; display:flex;justify-content: flex-start;height:82px; line-height: 82px;'>
              <nz-radio-group style='margin-right: 30px' [(ngModel)]="choseCompany"
                (ngModelChange)="choseIsLike($event)">
                <label nz-radio [ngStyle]="style" nzValue="1"
                  style='width:80px'>{{reviewSecondSteps.conclusion_item.agree_name}}</label>
                <label nz-radio [ngStyle]="style" nzValue="2"
                  style="width: 80px">{{reviewSecondSteps.conclusion_item.oppose_name}}</label>
                <label *ngIf="reviewSecondSteps.conclusion_item.neutral_name" nz-radio [ngStyle]="style" nzValue="3"
                  style="width: 80px;margin-left: 10px;">{{reviewSecondSteps.conclusion_item.neutral_name}}</label>
              </nz-radio-group>
            </div>
            <!-- 评分项 -->
            <div *ngIf='reviewSecondSteps.scoring_items?.length > 0'>
              <div style="border-left: 3px solid #4797F7;padding-left: 10px;font-size: 16px;font-weight: 500;">评分项</div>
              <div class='comment'
                style='width: 631px; display: flex;justify-content: space-between;margin: 20px 0; flex-wrap: wrap;padding-left: 13px;'>
                <div class='comment-item' *ngFor='let item of reviewSecondSteps.scoring_items; let i=index'>
                  <div style="height: 30px; line-height: 33px" nzValue="first">{{item.name}}</div>
                  <nz-rate [ngModel]="0" nzAllowHalf (ngModelChange)="firstChange($event, item, i)"></nz-rate>
                </div>
              </div>
            </div>
            <!-- 评论项 -->
            <!-- <div *ngIf='reviewSecondSteps.comment_status'> -->
            <div>
              <div
                style="border-left: 3px solid #4797F7;padding-left: 10px;font-size: 16px;font-weight: 500;margin-bottom: 20px">
                审片评论
              </div>
              <textarea rows="6" nz-input (ngModelChange)="textareaValue($event)" [(ngModel)]="inputValue"
                placeholder='意见或评论' style='flex:1;'>
            </textarea>
            </div>
            <div style='text-align: right; margin-top: 20px;'>
              <!-- *ngIf='selectedIndex === 0 && stepsNumber === 1 || selectedIndex === 1 && stepsNumber === 2 || selectedIndex === 2  || selectedIndex === 5' -->
              <button
                nz-button (click)="submitThird()" nzType="primary" style="width: 88px;">提交</button>
            </div>
          </nz-tab>
          <nz-tab nzTitle="三审" *ngIf='stepsNumber === 3'>
            <!-- <div class='des-content'
              style='padding: 20px 40px 20px 20px; display:flex;justify-content: flex-start;min-height:280px'>
              <nz-radio-group style="margin-right: 30px" [(ngModel)]="choseCompany"
                (ngModelChange)="choseIsLike($event)"
                style="width: 26%; display:flex;flex-direction: column;justify-content: center;align-items: center">
                <label nz-radio [ngStyle]="style" nzValue="1"
                  style='width:80px'>{{reviewThirdSteps.conclusion_item.agree_name}}</label>
                <label nz-radio [ngStyle]="style" nzValue="2"
                  style="width: 80px">{{reviewThirdSteps.conclusion_item.oppose_name}}</label>
              </nz-radio-group>
              <div class='comment'
                style='width: 300px; margin-right: 30px;display:flex;flex-direction:column;justify-content: center'
                *ngIf='reviewThirdSteps.scoring_items?.length > 0'>
                <div class='comment-item' *ngFor='let item of reviewThirdSteps.scoring_items; let i=index'>
                  <div style="height: 30px; line-height: 33px" nzValue="first">{{item.name}}</div>
                  <nz-rate [ngModel]="0" nzAllowHalf (ngModelChange)="firstChange($event, item, i)"></nz-rate>
                </div>
              </div>
              <textarea *ngIf='reviewThirdSteps.comment_status' rows="6" nz-input
                (ngModelChange)="textareaValue($event)" [(ngModel)]="inputValue" placeholder='意见或评论'
                style='flex:1; margin-left: 40px'></textarea>
            </div> -->
            <div style="border-left: 3px solid #4797F7;padding-left: 10px;font-size: 16px;font-weight: 500;">是否通过</div>
            <div class='des-content'
              style='margin-left: 14px; display:flex;justify-content: flex-start;height:82px; line-height: 82px;'>
              <nz-radio-group style='margin-right: 30px' [(ngModel)]="choseCompany"
                (ngModelChange)="choseIsLike($event)">
                <label nz-radio [ngStyle]="style" nzValue="1"
                  style='width:80px'>{{reviewThirdSteps.conclusion_item.agree_name}}</label>
                <label nz-radio [ngStyle]="style" nzValue="2"
                  style="width: 80px">{{reviewThirdSteps.conclusion_item.oppose_name}}</label>
                <label *ngIf="reviewThirdSteps.conclusion_item.neutral_name" nz-radio [ngStyle]="style" nzValue="3"
                  style="width: 80px;margin-left: 10px;">{{reviewThirdSteps.conclusion_item.neutral_name}}</label>
              </nz-radio-group>
            </div>
            <!-- 评分项 -->
            <div *ngIf='reviewThirdSteps.scoring_items?.length > 0'>
              <div style="border-left: 3px solid #4797F7;padding-left: 10px;font-size: 16px;font-weight: 500;">评分项</div>
              <div class='comment'
                style='width: 631px; display: flex;justify-content: space-between;margin: 20px 0; flex-wrap: wrap;padding-left: 13px;'>
                <div class='comment-item' *ngFor='let item of reviewThirdSteps.scoring_items; let i=index'>
                  <div style="height: 30px; line-height: 33px" nzValue="first">{{item.name}}</div>
                  <nz-rate [ngModel]="0" nzAllowHalf (ngModelChange)="firstChange($event, item, i)"></nz-rate>
                </div>
              </div>
            </div>
            <!-- 评论项 -->
            <div *ngIf='reviewThirdSteps.comment_status'>
              <div
                style="border-left: 3px solid #4797F7;padding-left: 10px;font-size: 16px;font-weight: 500;margin-bottom: 20px">
                审片评论
              </div>
              <textarea rows="6" nz-input (ngModelChange)="textareaValue($event)" [(ngModel)]="inputValue"
                placeholder='意见或评论' style='flex:1;'>
              </textarea>
            </div>
            <div style='text-align: right; margin-top: 20px;'>
              <!-- *ngIf='selectedIndex === 0 && stepsNumber === 1 || selectedIndex === 1 && stepsNumber === 2 || selectedIndex === 2  || selectedIndex === 5' -->
              <button
                nz-button (click)="submitThird()" nzType="primary" style="width: 88px;">提交</button>
            </div>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </div>
</div>
<ng-template #noResults>
  <app-empty></app-empty>
</ng-template>