<nz-page-header nzBackIcon (nzBack)="goBack()">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>主页</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="'/manage/customers'">客商列表</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>客商详情</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-title>{{ customer?.name }}</nz-page-header-title>
  <nz-page-header-subtitle>{{ customer?.abbreviation }}</nz-page-header-subtitle>
  <nz-page-header-tags>
    <nz-tag *ngFor="let tag of customer?.tags">{{ tag }}</nz-tag>
  </nz-page-header-tags>
  <nz-page-header-content>
    <div class="wrap">
      <div nz-row class="content padding">
        <div nz-col nzSpan="24">
          <div class="description">
            <span class="term">客商类型</span>
            <p class="detail">企业</p>
          </div>
        </div>
        <div nz-col nzSpan="24">
          <div class="description">
            <span class="term">联系电话</span>
            <p class="detail">{{ customer?.telephone }}</p>
          </div>
        </div>
        <div nz-col nzSpan="24">
          <div class="description">
            <span class="term">备注</span>
            <p class="detail">{{ customer?.remark }}</p>
          </div>
        </div>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>

<div class="block clearfix">
  <div class="block-header">
    <div class="block-title">联系人</div>
    <div class="block-options">
      <button nz-button (click)="addLiaisons()">添加联系人</button>
    </div>
  </div>
  <div class="block-content">
    <nz-skeleton [nzActive]="true" [nzLoading]="!isLiaisonsLoaded">
      <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSize]="'small'" *ngIf="liaisonTabs && liaisonTabs.length > 0; else noResults">
        <nz-tab *ngFor="let liaison of liaisonTabs" [nzTitle]="liaison.name">
          <div nz-row class="series-info-row">
            <div nz-col nzSpan="6">
              <span class="info-filed">联系人名</span>
              <span>{{ liaison.name }}</span>
            </div>
            <div nz-col nzSpan="6">
              <span class="info-filed">手机</span>
              <span>{{ liaison.phone }}</span>
            </div>
            <div nz-col nzSpan="6">
              <span class="info-filed">邮箱</span>
              <span>{{ liaison.email }}</span>
            </div>
            <div nz-col nzSpan="6">
              <span class="info-filed">微信</span>
              <span>{{ liaison.wx_id }}</span>
            </div>
          </div>
          <div nz-row class="series-info-row">
            <div nz-col nzSpan="6">
              <span class="info-filed">部门</span>
              <span>{{ liaison.department }}</span>
            </div>
            <div nz-col nzSpan="6">
              <span class="info-filed">职位</span>
              <span>{{ liaison.position }}</span>
            </div>
            <div nz-col nzSpan="6">
              <span class="info-filed">备注</span>
              <span>{{ liaison.remark }}</span>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </nz-skeleton>
  </div>
</div>

<div class="block clearfix">
  <div class="block-content" style="margin-top: 0">
    <nz-tabset nzSize="default" nzAnimated="false" [nzSelectedIndex]="rightsTabIndex">
      <nz-tab nzTitle="采购">
        <nz-table #purchaseTable nzBordered nzSize="small" [nzData]="purchaseDataSet"
          [nzPageSize]="purchasePagination.page_size" [nzFrontPagination]="false"
          [nzPageIndex]="purchasePagination.page" [nzTotal]="purchasePagination.count"
          (nzPageIndexChange)="purchasePageChange($event)" [nzLoading]="purchaseRightsLoading" nzLoadingDelay="300">
          <thead>
            <tr>
              <th>#</th>
              <th>项目名称</th>
              <th>投资类型</th>
              <th>品类</th>
              <!-- <th>集数</th> -->
              <th>权利</th>
              <th>范围</th>
              <th>期限</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of purchaseTable.data">
              <td [attr.rowspan]="data.count" *ngIf="data.index == 0">{{ data.itemIndex + 1 }}</td>
              <td [attr.rowspan]="data.count" *ngIf="data.index == 0">
                <a [routerLink]="['/manage/series/d', data.pid, 'right']">{{ data.project }}</a>
              </td>
              <td [attr.rowspan]="data.count" *ngIf="data.index == 0">{{ data.investmentType | investmentType }}</td>
              <td [attr.rowspan]="data.count" *ngIf="data.index == 0">{{ data.type | seriesType | emptyDefaultChar }}
              </td>
              <!-- <td [attr.rowspan]="data.count" *ngIf="data.index == 0">{{ data.episodes | emptyDefaultChar }}</td> -->
              <td>{{ data.right }}</td>
              <td>{{ data.area }}</td>
              <td>
                {{ (data.termIsPermanent ? '永久' : data.term ? ((data.termStartDate | date:'yyyy/MM/dd') + ' ~ ' +
            (data.termEndDate | date:'yyyy/MM/dd')) : data.termNote) | emptyDefaultChar }}
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="发售">
        <nz-table #publishTable nzBordered nzSize="small" [nzData]="publishDataSet"
          [nzPageSize]="publishPagination.page_size" [nzFrontPagination]="false" [nzPageIndex]="publishPagination.page"
          [nzTotal]="publishPagination.count" (nzPageIndexChange)="publishPageChange($event)" [nzLoading]="publishRightsLoading" nzLoadingDelay="300">
          <thead>
            <tr>
              <th>#</th>
              <th>项目名称</th>
              <th>投资类型</th>
              <th>品类</th>
              <!-- <th>集数</th> -->
              <th>权利</th>
              <th>范围</th>
              <th>期限</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of publishTable.data">
              <td [attr.rowspan]="data.count" *ngIf="data.index == 0">{{ data.itemIndex + 1 }}</td>
              <td [attr.rowspan]="data.count" *ngIf="data.index == 0">
                <a [routerLink]="['/manage/series/d', data.pid, 'right']">{{ data.project }}</a>
              </td>
              <td [attr.rowspan]="data.count" *ngIf="data.index == 0">{{ data.investmentType | investmentType }}</td>
              <td [attr.rowspan]="data.count" *ngIf="data.index == 0">{{ data.type | seriesType | emptyDefaultChar }}
              </td>
              <!-- <td [attr.rowspan]="data.count" *ngIf="data.index == 0">{{ data.episodes | emptyDefaultChar }}</td> -->
              <td>{{ data.right }}</td>
              <td>{{ data.area }}</td>
              <td>
                {{ (data.termIsPermanent ? '永久' : data.term ? ((data.termStartDate | date:'yyyy/MM/dd') + ' ~ ' +
            (data.termEndDate | date:'yyyy/MM/dd')) : data.termNote) | emptyDefaultChar }}
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </div>
</div>

<div class="block clearfix">
  <div class="block-content" style="margin-top: 0">
    <nz-tabset nzSize="default" nzAnimated="false" [nzSelectedIndex]="contractsTabIndex">
      <nz-tab nzTitle="采购">
        <nz-table #purchaseContractTable nzSize="small" [nzData]="purchaseContractDataSet"
          [nzPageSize]="purchaseContractsPagination.page_size" [nzFrontPagination]="false"
          [nzPageIndex]="purchaseContractsPagination.page" [nzTotal]="purchaseContractsPagination.count"
          (nzPageIndexChange)="purchaseContractsPageChange($event)" [nzLoading]="purchaseContractsLoading" nzLoadingDelay="300">
          <thead>
            <tr>
              <th>#</th>
              <th>合同编号</th>
              <th>合同名称</th>
              <th>合同金额</th>
              <!-- <th>付款金额</th> -->
              <th>付款形式</th>
              <th>已付款</th>
              <th>付款记录</th>
              <th>关联节目</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of purchaseContractTable.data; index as i">
              <td>{{ i + 1 }}</td>
              <td>{{ data.contract_number }}</td>
              <td>{{ data.contract_name }}</td>
              <td>{{ data.total_amount }}</td>
              <td>{{ data.payment_form | paymentFormat }}</td>
              <td>{{ data.paid_amount }}</td>
              <td><a (click)="showPayment(data.id, 'outflow')" *ngIf="data.total_amount">查看付款记录</a></td>
              <td>
                <span nz-tooltip [nzTitle]="data.programs[0].program_name"
                  style="margin-right: 1rem;">{{ data.programs[0].program_name | truncate:8 }}</span>
                <a nz-popover nzTrigger="click" [nzTitle]="data.contract_name"
                  [nzContent]="purchaseRightsViewtemplate">查看所有({{ data.programs.length }})</a>
                <ng-template #purchaseRightsViewtemplate>
                  <app-contract-rights-view [list]="data.programs"></app-contract-rights-view>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="发售">
        <nz-table #publishContractTable nzSize="small" [nzData]="publishContractDataSet"
          [nzPageSize]="publishContractsPagination.page_size" [nzFrontPagination]="false"
          [nzPageIndex]="publishContractsPagination.page" [nzTotal]="publishContractsPagination.count"
          (nzPageIndexChange)="publishContractsPageChange($event)" [nzLoading]="publishContractsLoading" nzLoadingDelay="300">
          <thead>
            <tr>
              <th>#</th>
              <th>合同编号</th>
              <th>合同名称</th>
              <th>合同金额</th>
              <!-- <th>付款金额</th> -->
              <th>收款形式</th>
              <th>已收款</th>
              <th>收款记录</th>
              <th>关联节目</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of publishContractTable.data; index as i">
              <td>{{ i + 1 }}</td>
              <td>{{ data.contract_number }}</td>
              <td>{{ data.contract_name }}</td>
              <td>{{ data.total_amount }}</td>
              <td>{{ data.payment_form | paymentFormat }}</td>
              <td>{{ data.paid_amount }}</td>
              <td><a (click)="showPayment(data.id, 'inflow')" *ngIf="data.total_amount">查看收款记录</a></td>
              <td>
                <span nz-tooltip [nzTitle]="data.programs[0].program_name"
                  style="margin-right: 1rem;">{{ data.programs[0].program_name | truncate:8 }}</span>
                <a nz-popover nzTrigger="click" [nzTitle]="data.contract_name"
                  [nzContent]="publishRightsViewtemplate">查看所有({{ data.programs.length }})</a>
                <ng-template #publishRightsViewtemplate>
                  <app-contract-rights-view [list]="data.programs"></app-contract-rights-view>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </div>
</div>

<ng-template #noResults>
  <app-empty></app-empty>
</ng-template>