

.expire-info-box {
    display: flex;
    width: 1140px;
    height: 240px
}

.expire-info-box>.pur {
        width: 270px;
        height: 240px;
}

.expire-info-box>.pub {
    width: 270px;
    height: 240px;
    margin-left: 20px;
}



// .statistics-info-box>.expire-info {
//     display: inline-block;
//     width: 270px;
//     height: 240px;
//     background-color: #ffffff;
//     float: left;
// }

// .statistics-info-box>.expire-info1 {
//     display: inline-block;
//     width: 270px;
//     height: 240px;
//     float: left;
//     margin-left: 20px;
//     background-color: #ffffff
// }

// .statistics-info.count {
//     height: 45px;
//     margin-left: 20px;
//     margin-top: 13px;
//     font-family: SourceHanSansSC-regular;
//     font-size: 30px;
//     color: #4DB3A2;
// }

// .statistics-info-five {
//     height: 45px;
//     margin-left: 20px;
//     margin-top: 13px;
//     font-family: SourceHanSansSC-regular;
//     font-size: 30px;
//     color: #F36A5A;
// }

// .statistics-info-six {
//     height: 45px;
//     margin-left: 20px;
//     margin-top: 13px;
//     font-family: SourceHanSansSC-regular;
//     font-size: 30px;
//     color: #5C9BD1;
// }

// .statistics-info-seven {
//     height: 45px;
//     margin-left: 20px;
//     margin-top: 13px;
//     font-family: SourceHanSansSC-regular;
//     font-size: 30px;
//     color: #8877A9;
// }

// .statistics-info.title {
//     margin-top: 3px;
//     margin-left: 20px;
//     font-family: SourceHanSansSC-regular;
//     font-size: 14px;
//     color: #939393;
// }

// .statistics-info-box .ul {
//     margin-top: 24px;
//     margin-left: 20px;
// }

// .statistics-info--box .li {
//     width: 230px;
//     height: 18px;
//     margin-top: 10px;
//     font-size: 12px;
//     color: #636363;
// }

// .statistics-info-four:nth-of-type(1){
//     margin-top: 0;    
//   }

// .statistics-info-gr-one {
//     display:inline-block;
//     width:70px;
//     margin-right: 10px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

// .statistics-info-gr-two {
//     display:inline-block;
//     width:48px;
//     margin-right: 10px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

// .statistics-info-gr-three {
//     display:inline-block;
//     margin-right: 5px;
//     float: right;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

// .statistics-info-gr-four {
//     display:inline-block;
//     float: right;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     color: red
// }

// .statistics-info-gr-five {
//     display:inline-block;
//     float: right;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     color: transparentred
// }

// .statistics-info-fx-one {
//     display:inline-block;
//     width:70px;
//     margin-right: 10px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

// .statistics-info-fx-two {
//     display:inline-block;
//     width:48px;
//     margin-right: 10px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

// .statistics-info-fx-three {
//     display:inline-block;
//     margin-right: 5px;
//     float: right;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

// .statistics-info-fx-four {
//     display:inline-block;
//     float: right;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     color: red
// }

// .statistics-info-fx-five {
//     display:inline-block;
//     float: right;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     color: transparentred
// }

// .statistics-info-fk-one {
//     display:inline-block;
//     width:125px;
//     margin-right: 10px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

// .statistics-info-fk-two {
//     display:inline-block;
//     margin-right: 5px;
//     float: right;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

// .statistics-info-fk-three {
//     display:inline-block;
//     float: right;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     color: red
// }

// .statistics-info-fk-four {
//     display:inline-block;
//     float: right;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     color: transparentred
// }

// .statistics-info-sk-one {
//     display:inline-block;
//     width:125px;
//     margin-right: 10px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

// .statistics-info-sk-two {
//     display:inline-block;
//     margin-right: 5px;
//     float: right;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

// .statistics-info-sk-three {
//     display:inline-block;
//     float: right;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     color: red
// }

// .statistics-info-sk-four {
//     display:inline-block;
//     float: right;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     color: transparentred
// }

// .cartogram-wk-one {
//     margin-top: 20px;
//     width: 1140px;
//     height: 480px;
// }

// .cartogram-wk-one {
//     margin-top: 20px;
//     width: 1140px;
//     height: 480px;
// }

// .cartogram-box-one {
//     display: inline-block;
//     width: 560px;
//     height: 480px;
//     background-color: #ffffff;
// }

// .cartogram-box-two {
//     display: inline-block;
//     width: 560px;
//     height: 480px;
//     margin-left: 20px;
//     float: right;
//     background-color: #ffffff;
// }

// .cartogram-wk-two {
//     width: 560px;
//     height: 56px;
//     border-width: 0 0 1px 0;
//     border-style:solid;
//     border-color: #F7F7F7;
// }

// .cartogram-title {
//     display: inline-block;
//     margin-top: 15px;
//     margin-left: 20px;
//     float: left;
//     font-family: SourceHanSansSC-regular;
//     font-size: 14px;
//     color:#939393;
// }

// .cartogram-filtrate-one {
//     display: inline-block;
//     width: 46px;
//     height: 22px;
//     margin-right: 20px;
//     margin-top: 15px;
//     font-family: Roboto;
//     font-size: 12px;
//     color: #636363;
//     float: right;
//     line-height: 22px;
//     text-align: center;
// }

// .cartogram-filtrate-five {
//     display: inline-block;
//     width: 68px;
//     height: 22px;
//     margin-right: 20px;
//     margin-top: 15px;
//     font-family: Roboto;
//     font-size: 12px;
//     color: #636363;
//     float: right;
//     line-height: 22px;
//     text-align: center;
// }

// .cartogram-filtrate-two {
//     display: inline-block;
//     width: 46px;
//     height: 22px;
//     margin-right: 12px;
//     margin-top: 15px;
//     font-family: Roboto;
//     font-size: 12px;
//     color: #636363;
//     float: right;
//     line-height: 22px;
//     text-align: center;
// }

// .cartogram-filtrate-six {
//     display: inline-block;
//     width: 68px;
//     height: 22px;
//     margin-right: 12px;
//     margin-top: 15px;
//     font-family: Roboto;
//     font-size: 12px;
//     color: #636363;
//     float: right;
//     line-height: 22px;
//     text-align: center;
// }

// /* .cartogram-filtrate-three {
//     display: inline-block;
//     width: 68px;
//     height: 22px;
//     margin-right: 10px;
//     margin-top: 15px;
//     font-family: Roboto;
//     font-size: 12px;
//     color: #636363;
//     float: right;
//     line-height: 22px;
//     text-align: center;
// } */

// .cartogram-filtrate-three {
//     display: inline-block;
//     width: 68px;
//     height: 22px;
//     margin-right: 12px;
//     margin-top: 15px;
//     background-color: #8E9BAE;
//     border-radius: 11px;
//     font-family: Roboto;
//     font-size: 12px;
//     color: #FFFFFF;
//     float: right;
//     line-height: 22px;
//     text-align: center;
// }

// .cartogram-filtrate-four {
//     display: inline-block;
//     width: 46px;
//     height: 22px;
//     margin-right: 12px;
//     margin-top: 15px;
//     background-color: #8E9BAE;
//     border-radius: 11px;
//     font-family: Roboto;
//     font-size: 12px;
//     color: #FFFFFF;
//     float: right;
//     line-height: 22px;
//     text-align: center;
// }


// .cartogram-info-one {
//     width: 520px;
//     height: 360px;
//     margin-top: 28px;
//     margin-left: 20px;
// }

// .cartogram-info-two {
//     width: 520px;
//     height: 360px;
//     margin-top: 50px;
//     margin-left: 20px;
// }

// .cartogram-info-three {
//     width: 520px;
//     height: 350px;
//     margin-top: 50px;
//     margin-left: 20px;
// }

// .cartogram-info-four {
//     width: 520px;
//     height: 360px;
//     margin-top: 50px;
//     margin-left: 20px;
// }

// .all-statistics-box {
//     width: 1140px;
//     height: auto;
//     margin-top: 20px;
//     background-color: #FFFFFF;
// }

// .all-statistics-title-wk{
//     width: 1140px;
//     height: 55px;
//     border-width: 0 0 1px 0;
//     border-style:solid;
//     border-color: #F7F7F7;
// }

// .all-statistics-title {
//     margin-top: 15px;
//     margin-left: 20px;
//     font-family: SourceHanSansSC-regular;
//     font-size: 14px;
//     color: #939393;
//     float: left
// }

// .all-statistics-info-box {
//     width: 1100px;
//     height: 425px;
//     margin-left: 20px;
//     margin-top: 20px
// }

// .active-project-box {
//     width: 1140px;
//     height: auto;
//     margin-top: 20px;
//     background-color: #FFFFFF;
// }

// .active-project-title-wk {
//     width: 1140px;
//     height: 55px;
//     border-width: 0 0 1px 0;
//     border-style:solid;
//     border-color: #F7F7F7;
// }

// .active-project-title {
//     margin-top: 15px;
//     margin-left: 20px;
//     font-family: SourceHanSansSC-regular;
//     font-size: 14px;
//     color: #939393;
//     float: left
// }

// .active-project-info {
//     width: 1100px;
//     height: auto;
//     margin-left: 20px
// }


// .dynamic-wk {
//  width: 1140px;
//  height: 300px;
//  margin-top: 20px;
// } 

// .publicities-dynamic-box {
//     display: inline-block;
//     width: 560px;
//     height: 300px;
//     background-color: #FFFFFF
// }

// .tapes-dynamic-box {
//     display: inline-block;
//     width: 560px;
//     height: 300px;
//     margin-left: 20px;
//     background-color: #FFFFFF
// }

// .publicities-dynamic-title-wk {
//     width: 560px;
//     height: 56px;
//     border-width: 0 0 1px 0;
//     border-style:solid;
//     border-color: #F7F7F7;
// }

// .publicities-dynamic-title {
//     font-family: SourceHanSansSC-regular;
//     font-size: 14px;
//     color: #939393;
//     margin-left: 20px;
//     margin-top: 15px;
//     float: left;
// }

// .tapes-dynamic-title-wk {
//     width: 560px;
//     height: 56px;
//     border-width: 0 0 1px 0;
//     border-style:solid;
//     border-color: #F7F7F7;
// }

// .tapes-dynamic-title {
//     font-family: SourceHanSansSC-regular;
//     font-size: 14px;
//     color: #939393;
//     margin-left: 20px;
//     margin-top: 15px;
//     float: left;
// }

// .publicities-dynamic-info-wk {
//     width: 560px;
//     height: 244px;
// }

// .tapes-dynamic-info-wk {
//     width: 560px;
//     height: 244px;
// }

// .publicities-dynamic-info-box {
//     width: 520px;
//     height: 172px;
//     margin-top: 25px;
//     margin-left: 20px;
// }

// .tapes-dynamic-info-box {
//     width: 520px;
//     height: 172px;
//     margin-top: 25px;
//     margin-left: 20px;
// }

// .publicities-dynamic-info {
//     width: 520px;
//     margin-top: 10px;
//     overflow: hidden; 
//     text-overflow: ellipsis; 
//     white-space: nowrap; 
//     color: #636363;
//     font-size: 12px;
// }

// .tapes-dynamic-info {
//     width: 520px;
//     margin-top: 10px;
//     overflow: hidden; 
//     text-overflow: ellipsis; 
//     white-space: nowrap; 
//     color: #636363;
//     font-size: 12px;
// }

// ul {
//     margin: 0;
//     padding: 0;
//     list-style-type: none;
//     zoom: 1;
//     overflow: hidden;
//   }
//   ul>li {
//     float: left
//   }


