<div class="expire-info-box fade-in-up">
  <div class="block pur">
    <div class="block-content">
        <div>{{right?.count}}</div>
        <div>{{ 'app.dashboard.purchase-imminent' | translate }}</div>
        <ul>
          <li *ngFor="let right of right?.data">
            <div>{{right?.program_name}}</div>
            <div>{{right?.custom_name}}</div>
            <div>{{right?.expire_date}}</div>
          </li>
        </ul>
    </div>
  </div>
  <div class="block pub">
    <div class="block-content"></div>
  </div>
  <div class="block pub">
    <div class="block-content"></div>
  </div>
  <div class="block pub">
    <div class="block-content"></div>
  </div>
</div>

<div class="block statistical">
  <div class="block-content"></div>
</div>

<div class="statistical-pub-tape">
  <div class="block pub">
    <div class="block-content"></div>
  </div>

  <div class="block tape">
    <div class="block-content"></div>
  </div>
</div>

<div class="block tatistical-project">
  <div class="block-content"></div>
</div>



















<!-- <div class="home-page-wrap fade-in-up">
  <div class="statistics-info-box">
    <div class="expire-info">
      <div class="statistics-info count">{{right?.count}}</div>
      <div class="statistics-info title">{{ 'app.dashboard.purchase-imminent' | translate }}</div>
      <ul class="ul">
        <li class="li" *ngFor="let right of right?.data">
          <div class="statistics-info-gr-one">{{right?.program_name}}</div>
          <div class="statistics-info-gr-two">{{right?.custom_name}}</div>
  
          <div class="statistics-info-gr-three">{{right?.expire_date}}</div>
        </li>
      </ul>
    </div>
    <div class="expire-info1">
      <div class="statistics-info-five">{{publish_right?.count}}</div>
      <div class="statistics-info title">{{ 'app.dashboard.publish-imminent' | translate }}</div>
      <ul class="ul">
        <li class="li" *ngFor="let publish_right of publish_right?.data">
          <div class="statistics-info-fx-one">{{publish_right?.program_name}}</div>
          <div class="statistics-info-fx-two">{{publish_right?.custom_name}}</div>
         
          <div class="statistics-info-fx-three">{{publish_right?.expire_date}}</div>
        </li>
      </ul>
    </div>
    <div class="expire-info1">
      <div class="statistics-info-six">{{payment?.count}}</div>
      <div class="statistics-info title">{{ 'app.dashboard.payment-imminent' | translate }}</div>
      <ul class="ul">
        <li class="li" *ngFor="let payment of payment?.data">
          <div class="statistics-info-fk-one">{{payment?.custom_name}}</div>
       
          <div class="statistics-info-fk-two">{{payment?.expire_date}}</div>
        </li>
      </ul>
    </div>
    <div class="expire-info1">
      <div class="statistics-info-seven">{{receipt?.count}}</div>
      <div class="statistics-info title">{{ 'app.dashboard.receivables-imminent' | translate }}</div>
      <ul class="ul">
        <li class="li" *ngFor="let receipt of receipt?.data">
          <div class="statistics-info-sk-one">{{receipt?.custom_name}}</div>
       
          <div class="statistics-info-sk-two">{{receipt?.expire_date}}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="cartogram-wk-one">
    <div class="cartogram-box-one">
      <div class="cartogram-wk-two">
        <div class="cartogram-title">{{ 'app.dashboard.series' | translate }}</div>
       
        <nz-radio-group [(ngModel)]="seriesCriteria" nzSize="small"
          style="margin-top: 15px;float: right;margin-right: 20px" (ngModelChange)="switchoverSeriesCriteria()">
          <label nz-radio-button nzValue="program_type">{{ 'app.dashboard.program-type' | translate }}</label>
          <label nz-radio-button nzValue="investment_type">{{ 'app.dashboard.investment-type' | translate }}</label>
        </nz-radio-group>
      </div>
      <div class="cartogram-info-one">
        <nz-empty [hidden]="t1 > 0" style="margin-top: 125px"></nz-empty>
        <div id="seriesStatistics" [hidden]="t1 == 0"></div>
      </div>
    </div>

    <div class="cartogram-box-two">
      <div class="cartogram-wk-two">
        <div class="cartogram-title">{{ 'app.dashboard.publicity' | translate }}</div>
       
        <nz-radio-group [(ngModel)]="time" nzSize="small" style="margin-top: 15px;float: right;margin-right: 20px"
          (ngModelChange)="switchoverTime()">
          <label nz-radio-button nzValue="day">{{ 'app.dashboard.day' | translate }}</label>
          <label nz-radio-button nzValue="month">{{ 'app.dashboard.month' | translate }}</label>
          <label nz-radio-button nzValue="year">{{ 'app.dashboard.year' | translate }}</label>
        </nz-radio-group>
      </div>
      <div class="cartogram-info-two">
          <nz-empty [hidden]="t2 > 0" style="margin-top: 125px"></nz-empty>
        <div id="publicityStatistics" [hidden]="t2 == 0"></div>
      </div>
    </div>
  </div>
  <div class="cartogram-wk-one">
    <div class="cartogram-box-one">
      <div class="cartogram-wk-two">
        <div class="cartogram-title">{{ 'app.dashboard.publish' | translate }}</div>
       
        <nz-radio-group [(ngModel)]="pubType" nzSize="small" style="margin-top: 15px;float: right;margin-right: 20px"
          (ngModelChange)="switchoverPubType()">
          <label nz-radio-button nzValue="custom">{{ 'app.dashboard.custom' | translate }}</label>
         
        </nz-radio-group>
      </div>
      <div class="cartogram-info-three">
          <nz-empty [hidden]="t3 > 0" style="margin-top: 125px"></nz-empty>
        <div id="publishStatistics" [hidden]="t3 == 0"></div>
      </div>
    </div>

    <div class="cartogram-box-two">
      <div class="cartogram-wk-two">
        <div class="cartogram-title">{{ 'app.dashboard.source' | translate }}</div>
       
        <nz-radio-group [(ngModel)]="tapeType" nzSize="small" style="margin-top: 15px;float: right;margin-right: 20px"
          (ngModelChange)="switchoverTape()">
          <label nz-radio-button nzValue="publish">{{ 'app.dashboard.publish-source' | translate }}</label>
          <label nz-radio-button nzValue="purchase">{{ 'app.dashboard.purchase-source' | translate }}</label>
        </nz-radio-group>
      </div>
      <div class="cartogram-info-four">
          <nz-empty [hidden]="t4 > 0" style="margin-top: 125px"></nz-empty>
        <div id="tapeStatistics" [hidden]="t4 == 0"></div>
      </div>
    </div>
  </div>

  <div class="all-statistics-box">
    <div class="all-statistics-title-wk">
      <span class="all-statistics-title">{{ 'app.dashboard.publish-statistical-analysis' | translate }}</span>
      <nz-radio-group [(ngModel)]="timeType" style="margin-top: 15px;margin-right: 20px;float: right" nzSize="small" (ngModelChange)="timeTypeChange($event)">
          <label nz-radio-button nzValue="quarter">{{ 'app.dashboard.publish-statistical-analysis-quarter' | translate }}</label>
          <label nz-radio-button nzValue="annual">{{ 'app.dashboard.publish-statistical-analysis-annual' | translate }}</label>
        </nz-radio-group>
     

      <nz-tree-select
      #allStatisticsTree
      style="width: 500px;margin-top: 15px;margin-right: 10px;float: right" 
      nzPlaceHolder="请选择地域"
      [nzMaxTagCount]="5"
      [nzMaxTagPlaceholder]="omittedPlaceHolder"
      [nzNodes]="areaOptions"
      [nzDefaultExpandedKeys]="spread"
      nzAllowClear="false"
      [(ngModel)]="checkedAreaCode"
      nzMultiple="true"
      nzDefaultExpandAll = "false"
      (nzOpenChange)="onOpenChange($event)"
      (ngModelChange)="onAreaChange($event)"
      nzSize = "small"
    >
    </nz-tree-select>
    <ng-template #omittedPlaceHolder let-omittedValues>更多... {{ omittedValues.length }}</ng-template>
      <nz-select nzSize="small" style="width: 120px; margin-top: 15px;margin-right: 20px;float: right" (ngModelChange)="yearChange($event)" [(ngModel)]="timeFiltrate" nzAllowClear nzPlaceHolder="请选择年份">
        <nz-option *ngFor="let ss of statisticsSelectYear" [nzLabel]="ss" [nzValue]="ss"></nz-option>
      </nz-select>
    



      <nz-select
      [nzMaxTagCount]="1"
      nzMaxMultipleCount = 1
      nzSize="small" 
      style="width:220px;margin-top: 15px;margin-right: 20px;float: right"
      nzMode="multiple"
      nzPlaceHolder="请输入节目名称"
      [(ngModel)]="content"
      (ngModelChange)="selectSeries()"
      (nzOnSearch)= "searchChange($event)"
    >
      <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
    </nz-select>
    </div>
    <div class="all-statistics-info-box">
      <div id="allStatistics"></div>
    </div>
  </div>

  <div class="active-project-box">
    <div class="active-project-title-wk">
      <span class="active-project-title">活跃项目</span>
    </div>
    <div class="active-project-info">
        <nz-radio-group [(ngModel)]="activeProject" nzSize="small" (ngModelChange)="activeProjects()">
            <label nz-radio-button nzValue="right">节目权利</label>
            <label nz-radio-button nzValue="publish_right">发行权利</label>
            <label nz-radio-button nzValue="publicity">宣发资料</label>
            <label nz-radio-button nzValue="source">母带管理</label>
          </nz-radio-group>

          <nz-table #basicTable [nzData]="activeProjectRight" [hidden]="activeProject !== 'right'">
              <thead>
                <tr>
                    <th style="text-align: center">#</th>
                    <th style="text-align: center">节目名称</th>
                    <th style="text-align: center">权利</th>
                    <th style="text-align: center">地域</th>
                    <th style="text-align: center">授权开始</th>
                    <th style="text-align: center">授权结束</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index">
                    <td>{{ i + 1 }}</td>
                    <td style="text-align: center">{{ data?.program_name }}</td>
                    <td style="text-align: center">{{ data?.right_type }}</td>
                    <td style="text-align: center">{{ data?.area }}</td>
                    <td style="text-align: center">{{ data?.start_date }}</td>
                    <td style="text-align: center">{{ data?.end_date }}</td>
                </tr>
              </tbody>
            </nz-table>

            <nz-table #basicTable1 [nzData]="activeProjectPubRight" [hidden]="activeProject !== 'publish_right'">
                <thead>
                  <tr>
                      <th style="text-align: center">#</th>
                      <th style="text-align: center">节目名称</th>
                      <th style="text-align: center">权利</th>
                      <th style="text-align: center">地域</th>
                      <th style="text-align: center">授权开始</th>
                      <th style="text-align: center">授权结束</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable1.data;let i = index">
                      <td>{{ i + 1 }}</td>
                    <td style="text-align: center">{{ data?.program_name }}</td>
                    <td style="text-align: center">{{ data?.right_type }}</td>
                    <td style="text-align: center">{{ data?.area }}</td>
                    <td style="text-align: center">{{ data?.start_date }}</td>
                    <td style="text-align: center">{{ data?.end_date }}</td>
                  </tr>
                </tbody>
              </nz-table>


              <nz-table #basicTable2 [nzData]="activeProjectPublicity" [hidden]="activeProject !== 'publicity'">
                  <thead>
                    <tr>
                        <th style="text-align: center">#</th>
                        <th style="text-align: center">节目名称</th>
                        <th style="text-align: center">类型</th>
                        <th style="text-align: center">集数</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let data of basicTable1.data;let i = index">
                          <td>{{ i + 1 }}</td>
                        <td style="text-align: center">{{ data?.program_name }}</td>
                        <td style="text-align: center">{{ data?.program_type }}</td>
                        <td style="text-align: center">{{ data?.episode }}</td>
                      </tr>
                  </tbody>
                </nz-table>

                <nz-table #basicTable2 [nzData]="activeProjectSource" [hidden]="activeProject !== 'source'">
                    <thead>
                      <tr>
                          <th style="text-align: center">#</th>
                          <th style="text-align: center">节目名称</th>
                          <th style="text-align: center">类型</th>
                          <th style="text-align: center">版本</th>
                          <th style="text-align: center">集数</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of basicTable1.data;let i = index">
                            <td>{{ i + 1 }}</td>
                          <td style="text-align: center">{{ data?.program_name }}</td>
                          <td style="text-align: center">{{ data?.program_type }}</td>
                          <td style="text-align: center">{{ data?.name }}</td>
                          <td style="text-align: center">{{ data?.episode }}</td>
                        </tr>
                    </tbody>
                  </nz-table>
  </div>
</div> -->