<div class="fade-in-up">
  <div class="expire-info-box">
    <div class="block" style="height: 249px">
      <div class="block-content pur">
        <div *ngIf="isLoaded == true; else skeleton">
          <div class="pur-count">{{right?.count}}</div>
          <div class="title">{{ 'app.dashboard.purchase-imminent' | translate }}</div>
          <ul style=" width: 100%;height: 130px;">
            <li class="info-li" *ngFor="let right of right?.data">
              <div nz-row>
                <div nz-col nzSpan="8" class="text-ellipsis">{{right?.program_name}}</div>
                <div nz-col nzSpan="8" class="text-ellipsis">{{right?.custom_name}}</div>
                <div nz-col nzSpan="8" class="text-ellipsis">{{right?.expire_date}}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="block" style="margin-left: 20px;height:249px">
      <div class="block-content pur">
        <div *ngIf="isLoaded == true; else skeleton">
          <div class="pub-count">{{publish_right?.count}}</div>
          <div class="title">{{ 'app.dashboard.publish-imminent' | translate }}</div>
          <ul style=" width: 100%;height: 130px;">
            <li class="info-li" *ngFor="let publish_right of publish_right?.data">
              <div nz-row>
                <div nz-col nzSpan="8" class="text-ellipsis">{{publish_right?.program_name}}</div>
                <div nz-col nzSpan="8" class="text-ellipsis">{{publish_right?.custom_name}}</div>
                <div nz-col nzSpan="8" class="text-ellipsis">{{publish_right?.expire_date}}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="block" style="margin-left: 20px;height:249px">
      <div class="block-content pur">
        <div *ngIf="isLoaded == true; else skeleton">
          <div class="payment-count">{{payment?.count}}</div>
          <div class="title">{{ 'app.dashboard.payment-imminent' | translate }}</div>
          <ul style=" width: 100%;height: 130px;">
            <li class="info-li" *ngFor="let payment of payment?.data">
              <div nz-row>
                <div nz-col nzSpan="12" class="text-ellipsis">{{payment?.custom_name}}</div>
                <div nz-col nzSpan="12" class="text-ellipsis">{{payment?.expire_date}}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="block" style="margin-left: 20px;height:249px">
      <div class="block-content pur">
        <div *ngIf="isLoaded == true; else skeleton">
          <div class="receipt-count">{{receipt?.count}}</div>
          <div class="title">{{ 'app.dashboard.receivables-imminent' | translate }}</div>
          <ul style=" width: 100%;height: 130px;">
            <li class="info-li" *ngFor="let receipt of receipt?.data">
              <div nz-row>
                <div nz-col nzSpan="12" class="text-ellipsis">{{receipt?.custom_name}}</div>
                <div nz-col nzSpan="12" class="text-ellipsis">{{receipt?.expire_date}}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ng-template #skeleton>
    <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 5 }"></nz-skeleton>
  </ng-template>
  <div class="block">
    <div class="block-header">
      <div class="block-title"><span style="font-size: 20px">{{ 'app.dashboard.series' | translate }}</span></div>
      <div class="block-options">
        <nz-year-picker [(ngModel)]="startYear" (ngModelChange)="startYearChange()" [nzDisabled]="seriesTime == 'month'"
          nzAllowClear=false; nzPlaceHolder="请选择起始年份" nzSize="small" style="width:131px" nzAutoFocus="true">
        </nz-year-picker>
        <span>~</span>
        <nz-year-picker [(ngModel)]="endYear" nzPlaceHolder="请选择终止年份" nzAllowClear=false;
          [nzDisabled]="seriesTime == 'month'" (ngModelChange)="endYearChange()" nzSize="small" style="width:131px">
        </nz-year-picker>
        <nz-radio-group [(ngModel)]="seriesTime" nzSize="small" (ngModelChange)="seriesTimeChange()">
          <label nz-radio-button nzValue="month">本年度</label>
          <label nz-radio-button nzValue="year">近五年</label>
        </nz-radio-group>
        <nz-radio-group [(ngModel)]="seriesCriteria" nzSize="small" (ngModelChange)="switchoverSeriesCriteria()"
          [nzDisabled]="conversionGraphics == 'pieChart'">
          <label nz-radio-button nzValue="program_type">{{ 'app.dashboard.program-type' | translate }}</label>
          <label nz-radio-button nzValue="investment_type">{{ 'app.dashboard.investment-type' | translate }}</label>
          <label nz-radio-button nzValue="theme">题材</label>
        </nz-radio-group>
        <nz-radio-group [(ngModel)]="conversionGraphics" nzSize="small" (ngModelChange)="cgChange()">
          <label nz-radio-button nzValue="pieChart">饼图</label>
          <label nz-radio-button nzValue="lineChart">折线图</label>
        </nz-radio-group>
      </div>
    </div>
    <div class="block-content" [hidden]="conversionGraphics == 'pieChart'" style="height: 450px">
      <nz-empty [hidden]="t4 > 0" style="margin-top: 125px"></nz-empty>
      <div id="seriesLine" [hidden]="t4 == 0"></div>
    </div>
    <div class="block-content flex" [hidden]="conversionGraphics == 'lineChart'"
      style="text-align: center;height: 450px;">
      <div style="height: 450px;width: 362px">
        <nz-empty [hidden]="t1 > 0" style="margin-top: 125px"></nz-empty>
        <div id="seriesType" [hidden]="t1 == 0"></div>
        <div [hidden]="t1 == 0">品类</div>
      </div>
      <div style="height: 450px;width: 362px">
        <nz-empty [hidden]="t3 > 0" style="margin-top: 125px"></nz-empty>
        <div id="seriesTheme" [hidden]="t3 == 0"></div>
        <div [hidden]="t3 == 0">题材</div>
      </div>
      <div style="height: 450px;width: 362px">
        <nz-empty [hidden]="t2 > 0" style="margin-top: 125px"></nz-empty>
        <div id="seriesInvestment" [hidden]="t2 == 0"></div>
        <div [hidden]="t2 == 0">投资类型</div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="block">
      <div class="block-header">
        <div class="block-title"><span style="font-size: 20px">客商</span></div>
        <div class="block-options">
          <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange()" nzSize="small" style="width: 240px">
          </nz-range-picker>
          <nz-radio-group [(ngModel)]="seriesInOut" nzSize="small" (ngModelChange)="seriesInOutChange()">
            <label nz-radio-button nzValue="purchase">采购</label>
            <label nz-radio-button nzValue="publish">发行</label>
          </nz-radio-group>
          <nz-radio-group [(ngModel)]="sortType" nzSize="small" (ngModelChange)="sortChange()">
            <label nz-radio-button nzValue="negative"><i nz-icon nzType="arrow-down" nzTheme="outline"></i></label>
            <label nz-radio-button nzValue="positive"><i nz-icon nzType="arrow-up" nzTheme="outline"></i></label>
          </nz-radio-group>
        </div>
      </div>
      <div class="block-content">
        <div class="chart-box">
          <nz-empty [hidden]="t5 > 0" style="line-height: 300px"></nz-empty>
          <div id="customerStatistics" [hidden]="t5 == 0"></div>
        </div>
      </div>
    </div>
    <div class="block" style="margin-left: 20px">
      <div class="block-header">
        <div class="block-title"><span style="font-size: 20px">{{  'app.dashboard.source' | translate }}</span></div>
        <div class="block-options">
          <nz-radio-group [(ngModel)]="tapeType" nzSize="small" style="margin-top: 15px;float: right;margin-right: 20px"
            (ngModelChange)="switchoverTape()">
            <label nz-radio-button nzValue="publish">{{ 'app.dashboard.publish-source' | translate }}</label>
            <label nz-radio-button nzValue="purchase">{{ 'app.dashboard.purchase-source' | translate }}</label>
          </nz-radio-group>
        </div>
      </div>
      <div class="block-content">
        <div class="chart-box">
          <nz-empty [hidden]="t6 > 0" style="line-height: 300px"></nz-empty>
          <div id="tapeStatistics" [hidden]="t6 == 0"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="block-header">
      <div class="block-title"><span style="font-size: 20px">发行</span></div>
      <div class="block-options">
        <nz-radio-group [(ngModel)]="timeType" nzSize="small" (ngModelChange)="timeTypeChange($event)">
          <label nz-radio-button
            nzValue="quarter">{{ 'app.dashboard.publish-statistical-analysis-quarter' | translate }}</label>
          <label nz-radio-button
            nzValue="annual">{{ 'app.dashboard.publish-statistical-analysis-annual' | translate }}</label>
        </nz-radio-group>
        <nz-tree-select #allStatisticsTree style="width: 500px" nzPlaceHolder="请选择地域" [nzMaxTagCount]="5"
          [nzMaxTagPlaceholder]="omittedPlaceHolder" [nzNodes]="areaOptions" [nzDefaultExpandedKeys]="spread"
          nzAllowClear="false" [(ngModel)]="checkedAreaCode" nzMultiple="true" nzDefaultExpandAll="false"
          (nzOpenChange)="onOpenChange($event)" (ngModelChange)="onAreaChange($event)" nzSize="small">
        </nz-tree-select>
        <ng-template #omittedPlaceHolder let-omittedValues>更多... {{ omittedValues.length }}</ng-template>
        <nz-select nzSize="small" style="width: 120px;" (ngModelChange)="yearChange($event)" [(ngModel)]="timeFiltrate"
          nzAllowClear nzPlaceHolder="请选择年份">
          <nz-option *ngFor="let ss of statisticsSelectYear" [nzLabel]="ss" [nzValue]="ss"></nz-option>
        </nz-select>
        <nz-select [nzMaxTagCount]="1" nzMaxMultipleCount=1 nzSize="small" style="width:220px" nzMode="multiple"
          nzPlaceHolder="请输入节目名称" [(ngModel)]="content" (ngModelChange)="selectSeries()"
          (nzOnSearch)="searchChange($event)">
          <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
        </nz-select>
      </div>
    </div>
    <div class="block-content">
      <div id="allStatistics"></div>
    </div>
  </div>
  <div class="block">
    <div class="block-header">
      <div class="block-title"><span style="font-size: 20px">活跃项目</span></div>
      <div class="block-options">
        <nz-radio-group [(ngModel)]="activeProject" nzSize="small" (ngModelChange)="activeProjects()">
          <label nz-radio-button nzValue="right">节目权利</label>
          <label nz-radio-button nzValue="publish_right">发行权利</label>
          <label nz-radio-button nzValue="publicity">宣发资料</label>
          <label nz-radio-button nzValue="source">母带管理</label>
        </nz-radio-group>
      </div>
    </div>
    <div class="block-content" style="height: 378px">
      <div *ngIf="isLoadedRight == true">
        <nz-table #basicTable [nzData]="activeProjectRight" [hidden]="activeProject !== 'right'">
          <thead>
            <tr>
              <th style="text-align: center">#</th>
              <th style="text-align: center">节目名称</th>
              <th style="text-align: center">权利</th>
              <th style="text-align: center">地域</th>
              <th style="text-align: center">授权开始</th>
              <th style="text-align: center">授权结束</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data;let i = index">
              <td>{{ i + 1 }}</td>
              <td style="text-align: center">{{ data?.program_name }}</td>
              <td style="text-align: center">{{ data?.right_type }}</td>
              <td style="text-align: center">{{ data?.area }}</td>
              <td style="text-align: center">{{ data?.start_date }}</td>
              <td style="text-align: center">{{ data?.end_date }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div *ngIf="isLoadedPubRight == true">
        <nz-table #basicTable1 [nzData]="activeProjectPubRight" [hidden]="activeProject !== 'publish_right'">
          <thead>
            <tr>
              <th style="text-align: center">#</th>
              <th style="text-align: center">节目名称</th>
              <th style="text-align: center">权利</th>
              <th style="text-align: center">地域</th>
              <th style="text-align: center">授权开始</th>
              <th style="text-align: center">授权结束</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable1.data;let i = index">
              <td>{{ i + 1 }}</td>
              <td style="text-align: center">{{ data?.program_name }}</td>
              <td style="text-align: center">{{ data?.right_type }}</td>
              <td style="text-align: center">{{ data?.area }}</td>
              <td style="text-align: center">{{ data?.start_date }}</td>
              <td style="text-align: center">{{ data?.end_date }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div *ngIf="isLoadedPublicity == true">
        <nz-table #basicTable2 [nzData]="activeProjectPublicity" [hidden]="activeProject !== 'publicity'">
          <thead>
            <tr>
              <th style="text-align: center">#</th>
              <th style="text-align: center">节目名称</th>
              <th style="text-align: center">类型</th>
              <th style="text-align: center">集数</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable2.data;let i = index">
              <td>{{ i + 1 }}</td>
              <td style="text-align: center">{{ data?.program_name }}</td>
              <td style="text-align: center">{{ data?.program_type }}</td>
              <td style="text-align: center">{{ data?.episode }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div *ngIf="isLoadedSource == true">
        <nz-table #basicTable3 [nzData]="activeProjectSource" [hidden]="activeProject !== 'source'">
          <thead>
            <tr>
              <th style="text-align: center">#</th>
              <th style="text-align: center">节目名称</th>
              <th style="text-align: center">类型</th>
              <th style="text-align: center">版本</th>
              <th style="text-align: center">集数</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable3.data;let i = index">
              <td>{{ i + 1 }}</td>
              <td style="text-align: center">{{ data?.program_name }}</td>
              <td style="text-align: center">{{ data?.program_type }}</td>
              <td style="text-align: center">{{ data?.name }}</td>
              <td style="text-align: center">{{ data?.episode }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>